<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shijie_shang/0000</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{40,54}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{40,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_shang/0001</key>
            <dict>
                <key>frame</key>
                <string>{{96,54},{42,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{42,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_shang/0002</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{48,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{48,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_shang/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{42,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,23},{42,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_shang/0004</key>
            <dict>
                <key>frame</key>
                <string>{{54,58},{40,52}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{40,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_shang/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,60}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{44,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shijie_shang.png</string>
            <key>size</key>
            <string>{140,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6645b8820bfee8d4c2452d6dd6d28034:1/1$</string>
            <key>textureFileName</key>
            <string>shijie_shang.png</string>
        </dict>
    </dict>
</plist>
