<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shijie_you/0000</key>
            <dict>
                <key>frame</key>
                <string>{{64,96},{56,42}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{56,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_you/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{60,44}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{60,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_you/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{60,48}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{60,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_you/0003</key>
            <dict>
                <key>frame</key>
                <string>{{64,50},{58,44}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{58,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_you/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{62,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_you/0005</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{56,46}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{56,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shijie_you.png</string>
            <key>size</key>
            <string>{124,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9b2cd3c31d1efa7bcb2157ab0ec6885:1/1$</string>
            <key>textureFileName</key>
            <string>shijie_you.png</string>
        </dict>
    </dict>
</plist>
