<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shijie_youshang/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,56}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{50,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_youshang/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{48,52}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,25},{48,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_youshang/0002</key>
            <dict>
                <key>frame</key>
                <string>{{102,48},{44,52}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{44,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_youshang/0003</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{42,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{42,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_youshang/0004</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{44,52}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{44,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_youshang/0005</key>
            <dict>
                <key>frame</key>
                <string>{{56,58},{44,52}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{44,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shijie_youshang.png</string>
            <key>size</key>
            <string>{152,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52f779997826a3c7a1708635992fcf6f:1/1$</string>
            <key>textureFileName</key>
            <string>shijie_youshang.png</string>
        </dict>
    </dict>
</plist>
