<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shijie_xia/0000</key>
            <dict>
                <key>frame</key>
                <string>{{52,56},{36,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{36,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_xia/0001</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{40,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{40,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_xia/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{48,52}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{48,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_xia/0003</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,52}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{42,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_xia/0004</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{38,50}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{38,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shijie_xia/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,58}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{44,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shijie_xia.png</string>
            <key>size</key>
            <string>{134,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be58bdd3dfee966bc97c8871a29b4b68:1/1$</string>
            <key>textureFileName</key>
            <string>shijie_xia.png</string>
        </dict>
    </dict>
</plist>
