<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\newProject\client\slgGame\runtime\win32\PrebuiltRuntimeLua.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>E:\newProject\client\slgGame\src</StartWorkingDirectory>
  </propertyGroup>
</Project>