<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fghz-shaizi/0000</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{98,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>fghz-shaizi/0001</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>fghz-shaizi/0002</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{98,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>fghz-shaizi/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fghz_shazi.png</string>
            <key>size</key>
            <string>{406,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d913e9b6d46d22e67652bdd6a00d77fe:1/1$</string>
            <key>textureFileName</key>
            <string>fghz_shazi.png</string>
        </dict>
    </dict>
</plist>
