<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fs-xian/0000</key>
            <dict>
                <key>frame</key>
                <string>{{188,181},{69,74}}</string>
                <key>offset</key>
                <string>{31,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,386},{69,74}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
            <key>fs-xian/0001</key>
            <dict>
                <key>frame</key>
                <string>{{264,125},{119,168}}</string>
                <key>offset</key>
                <string>{6,-146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,292},{119,168}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
            <key>fs-xian/0002</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{121,238}}</string>
                <key>offset</key>
                <string>{5,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,199},{121,238}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
            <key>fs-xian/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,268}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,103},{121,268}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
            <key>fs-xian/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{25,260}}</string>
                <key>offset</key>
                <string>{-43,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,64},{25,260}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
            <key>fs-xian/0005</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{25,246}}</string>
                <key>offset</key>
                <string>{-43,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{25,246}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
            <key>fs-xian/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{27,224}}</string>
                <key>offset</key>
                <string>{-44,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{27,224}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
            <key>fs-xian/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{29,184}}</string>
                <key>offset</key>
                <string>{-45,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{29,184}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
            <key>fs-xian/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{29,140}}</string>
                <key>offset</key>
                <string>{-45,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{29,140}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
            <key>fs-xian/0009</key>
            <dict>
                <key>frame</key>
                <string>{{434,125},{29,98}}</string>
                <key>offset</key>
                <string>{-45,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{29,98}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
            <key>fs-xian/0010</key>
            <dict>
                <key>frame</key>
                <string>{{434,225},{27,52}}</string>
                <key>offset</key>
                <string>{-46,193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{27,52}}</string>
                <key>sourceSize</key>
                <string>{131,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fs-xian.png</string>
            <key>size</key>
            <string>{539,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c2f3fe10072f92af3da0e103ac9dc98:1/1$</string>
            <key>textureFileName</key>
            <string>fs-xian.png</string>
        </dict>
    </dict>
</plist>
