<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gb-attackc/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{34,52}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{34,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0001</key>
            <dict>
                <key>frame</key>
                <string>{{46,110},{38,50}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{38,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{34,60}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{34,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0003</key>
            <dict>
                <key>frame</key>
                <string>{{46,56},{38,52}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{38,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0004</key>
            <dict>
                <key>frame</key>
                <string>{{128,94},{38,48}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{38,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0005</key>
            <dict>
                <key>frame</key>
                <string>{{128,134},{34,48}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{34,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0006</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{48,48}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{48,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0007</key>
            <dict>
                <key>frame</key>
                <string>{{86,106},{40,50}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,39},{40,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,35},{54,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0009</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,44}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,40},{54,44}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0010</key>
            <dict>
                <key>frame</key>
                <string>{{38,210},{46,36}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,47},{46,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0011</key>
            <dict>
                <key>frame</key>
                <string>{{130,170},{42,44}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,42},{42,44}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0012</key>
            <dict>
                <key>frame</key>
                <string>{{86,196},{42,46}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{42,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0013</key>
            <dict>
                <key>frame</key>
                <string>{{128,52},{48,40}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{48,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{42,64}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,21},{42,64}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0015</key>
            <dict>
                <key>frame</key>
                <string>{{86,52},{40,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{40,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0016</key>
            <dict>
                <key>frame</key>
                <string>{{86,158},{36,40}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,44},{36,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attackc/0017</key>
            <dict>
                <key>frame</key>
                <string>{{38,162},{42,46}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,37},{42,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gb-attackc.png</string>
            <key>size</key>
            <string>{178,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60566e1e1196d3d491cad42497ae1be8:1/1$</string>
            <key>textureFileName</key>
            <string>gb-attackc.png</string>
        </dict>
    </dict>
</plist>
