<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gb-attack/0000</key>
            <dict>
                <key>frame</key>
                <string>{{80,66},{34,58}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{34,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0001</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{46,62}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{46,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{42,54}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,38},{42,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0003</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{44,50}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{44,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0004</key>
            <dict>
                <key>frame</key>
                <string>{{46,70},{32,54}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,38},{32,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0005</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{32,58}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{32,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0006</key>
            <dict>
                <key>frame</key>
                <string>{{168,54},{48,48}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{48,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,66}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,26},{48,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0008</key>
            <dict>
                <key>frame</key>
                <string>{{116,62},{50,52}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,38},{50,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0009</key>
            <dict>
                <key>frame</key>
                <string>{{218,50},{46,46}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,44},{46,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0010</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{44,44}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,46},{44,44}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-attack/0011</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{46,46}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,43},{46,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gb-attack.png</string>
            <key>size</key>
            <string>{274,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b03c159d0ae778ab3dcffd74237c7ec4:1/1$</string>
            <key>textureFileName</key>
            <string>gb-attack.png</string>
        </dict>
    </dict>
</plist>
