<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gb-run/0000</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{38,54}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,41},{38,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0001</key>
            <dict>
                <key>frame</key>
                <string>{{160,42},{38,52}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,43},{38,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0002</key>
            <dict>
                <key>frame</key>
                <string>{{214,46},{36,52}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,43},{36,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0003</key>
            <dict>
                <key>frame</key>
                <string>{{158,82},{42,50}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,45},{42,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0004</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{42,50}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,45},{42,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0005</key>
            <dict>
                <key>frame</key>
                <string>{{210,84},{36,50}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,44},{36,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{52,48}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,38},{52,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,48}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,38},{52,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0008</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{50,48}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{50,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0009</key>
            <dict>
                <key>frame</key>
                <string>{{56,52},{50,48}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,38},{50,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0010</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{50,48}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,38},{50,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>gb-run/0011</key>
            <dict>
                <key>frame</key>
                <string>{{108,52},{48,46}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{48,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gb-run.png</string>
            <key>size</key>
            <string>{268,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b67e48911d162b47b30b775d7c8d71dc:1/1$</string>
            <key>textureFileName</key>
            <string>gb-run.png</string>
        </dict>
    </dict>
</plist>
