<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gj-fsg/0000</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{103,214}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{103,214}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0001</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{113,214}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{113,214}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0002</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{123,214}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{123,214}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0003</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{129,214}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,214}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0004</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{133,214}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,214}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,214}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0006</key>
            <dict>
                <key>frame</key>
                <string>{{141,218},{137,212}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,212}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{137,212}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,212}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0008</key>
            <dict>
                <key>frame</key>
                <string>{{379,218},{133,206}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{133,206}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0009</key>
            <dict>
                <key>frame</key>
                <string>{{514,218},{133,204}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,204}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0010</key>
            <dict>
                <key>frame</key>
                <string>{{764,107},{131,202}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{131,202}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0011</key>
            <dict>
                <key>frame</key>
                <string>{{764,240},{127,202}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{127,202}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0012</key>
            <dict>
                <key>frame</key>
                <string>{{649,218},{113,204}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{113,204}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0013</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{105,214}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{105,214}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
            <key>gj-fsg/0014</key>
            <dict>
                <key>frame</key>
                <string>{{280,218},{97,212}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{97,212}}</string>
                <key>sourceSize</key>
                <string>{137,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gj-fsg.png</string>
            <key>size</key>
            <string>{970,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c88a722310f1cbb75210231365e1ec2:1/1$</string>
            <key>textureFileName</key>
            <string>gj-fsg.png</string>
        </dict>
    </dict>
</plist>
