<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hdwj-lizi/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{182,159}}</string>
                <key>offset</key>
                <string>{-33,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,216},{182,159}}</string>
                <key>sourceSize</key>
                <string>{320,375}</string>
            </dict>
            <key>hdwj-lizi/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{274,213}}</string>
                <key>offset</key>
                <string>{-6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,162},{274,213}}</string>
                <key>sourceSize</key>
                <string>{320,375}</string>
            </dict>
            <key>hdwj-lizi/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,219}}</string>
                <key>offset</key>
                <string>{6,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,149},{274,219}}</string>
                <key>sourceSize</key>
                <string>{320,375}</string>
            </dict>
            <key>hdwj-lizi/0003</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{230,235}}</string>
                <key>offset</key>
                <string>{34,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,118},{230,235}}</string>
                <key>sourceSize</key>
                <string>{320,375}</string>
            </dict>
            <key>hdwj-lizi/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{202,207}}</string>
                <key>offset</key>
                <string>{59,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,92},{202,207}}</string>
                <key>sourceSize</key>
                <string>{320,375}</string>
            </dict>
            <key>hdwj-lizi/0005</key>
            <dict>
                <key>frame</key>
                <string>{{278,239},{164,167}}</string>
                <key>offset</key>
                <string>{73,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,75},{164,167}}</string>
                <key>sourceSize</key>
                <string>{320,375}</string>
            </dict>
            <key>hdwj-lizi/0006</key>
            <dict>
                <key>frame</key>
                <string>{{317,574},{158,155}}</string>
                <key>offset</key>
                <string>{72,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,59},{158,155}}</string>
                <key>sourceSize</key>
                <string>{320,375}</string>
            </dict>
            <key>hdwj-lizi/0007</key>
            <dict>
                <key>frame</key>
                <string>{{317,408},{164,159}}</string>
                <key>offset</key>
                <string>{67,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,55},{164,159}}</string>
                <key>sourceSize</key>
                <string>{320,375}</string>
            </dict>
            <key>hdwj-lizi/0008</key>
            <dict>
                <key>frame</key>
                <string>{{206,438},{176,109}}</string>
                <key>offset</key>
                <string>{64,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,51},{176,109}}</string>
                <key>sourceSize</key>
                <string>{320,375}</string>
            </dict>
            <key>hdwj-lizi/0009</key>
            <dict>
                <key>frame</key>
                <string>{{163,647},{176,107}}</string>
                <key>offset</key>
                <string>{58,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,45},{176,107}}</string>
                <key>sourceSize</key>
                <string>{320,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hdwj-lizi.png</string>
            <key>size</key>
            <string>{510,831}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a78d4c125835a4ec8f43dbfa7ee1d82:1/1$</string>
            <key>textureFileName</key>
            <string>hdwj-lizi.png</string>
        </dict>
    </dict>
</plist>
