<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hqyb-xian/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0001</key>
            <dict>
                <key>frame</key>
                <string>{{147,330},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0003</key>
            <dict>
                <key>frame</key>
                <string>{{145,248},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0004</key>
            <dict>
                <key>frame</key>
                <string>{{147,412},{141,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0005</key>
            <dict>
                <key>frame</key>
                <string>{{145,166},{139,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{139,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{141,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0007</key>
            <dict>
                <key>frame</key>
                <string>{{147,84},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0009</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>hqyb-xian/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{141,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hqyb-xian.png</string>
            <key>size</key>
            <string>{292,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6876918d443167ede6e3206a9113722:1/1$</string>
            <key>textureFileName</key>
            <string>hqyb-xian.png</string>
        </dict>
    </dict>
</plist>
