<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jian_xian/0000</key>
            <dict>
                <key>frame</key>
                <string>{{471,677},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0002</key>
            <dict>
                <key>frame</key>
                <string>{{471,542},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0004</key>
            <dict>
                <key>frame</key>
                <string>{{471,407},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0006</key>
            <dict>
                <key>frame</key>
                <string>{{471,272},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0008</key>
            <dict>
                <key>frame</key>
                <string>{{471,137},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0010</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
            <key>jian_xian/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{467,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,133}}</string>
                <key>sourceSize</key>
                <string>{467,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_xian.png</string>
            <key>size</key>
            <string>{940,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3efb5dd268af45b2fe80269eed90ccd:1/1$</string>
            <key>textureFileName</key>
            <string>jian_xian.png</string>
        </dict>
    </dict>
</plist>
