<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiantou-saoguang/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{18,14}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>jiantou-saoguang/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{22,18}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>jiantou-saoguang/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{24,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>jiantou-saoguang/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>jiantou-saoguang/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{20,22}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{20,22}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>jiantou-saoguang/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{18,18}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{18,18}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>jiantou-saoguang/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{12,12}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{12,12}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiantou-saoguang.png</string>
            <key>size</key>
            <string>{28,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a76d2c8b5213bf82751a42996de0df4:1/1$</string>
            <key>textureFileName</key>
            <string>jiantou-saoguang.png</string>
        </dict>
    </dict>
</plist>
