<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qb1-runc/0000</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{54,80}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{54,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0001</key>
            <dict>
                <key>frame</key>
                <string>{{370,82},{54,78}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{54,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{54,74}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,40},{54,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0003</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{58,78}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{58,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0004</key>
            <dict>
                <key>frame</key>
                <string>{{364,166},{60,78}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{60,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0005</key>
            <dict>
                <key>frame</key>
                <string>{{308,84},{60,80}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{60,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0006</key>
            <dict>
                <key>frame</key>
                <string>{{296,168},{66,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{66,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0007</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{66,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{66,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0008</key>
            <dict>
                <key>frame</key>
                <string>{{170,86},{66,82}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,33},{66,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0009</key>
            <dict>
                <key>frame</key>
                <string>{{58,180},{68,82}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{68,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0010</key>
            <dict>
                <key>frame</key>
                <string>{{238,86},{68,80}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{68,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0011</key>
            <dict>
                <key>frame</key>
                <string>{{226,170},{68,80}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{68,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{88,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0013</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{86,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,33},{86,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0014</key>
            <dict>
                <key>frame</key>
                <string>{{142,174},{82,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{82,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0015</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{80,82}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{80,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0016</key>
            <dict>
                <key>frame</key>
                <string>{{86,90},{82,82}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb1-runc/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{86,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,33},{86,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qb-runc.png</string>
            <key>size</key>
            <string>{430,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69a1edf4198213a916260bfe64489112:1/1$</string>
            <key>textureFileName</key>
            <string>qb-runc.png</string>
        </dict>
    </dict>
</plist>
