<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qb2-attack/0000</key>
            <dict>
                <key>frame</key>
                <string>{{76,170},{68,64}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{68,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0001</key>
            <dict>
                <key>frame</key>
                <string>{{146,70},{68,70}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{68,70}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{74,76}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{74,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0003</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{68,80}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{68,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0004</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{76,66}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{76,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0005</key>
            <dict>
                <key>frame</key>
                <string>{{206,154},{58,68}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,43},{58,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0006</key>
            <dict>
                <key>frame</key>
                <string>{{146,142},{58,68}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{58,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0007</key>
            <dict>
                <key>frame</key>
                <string>{{216,76},{54,76}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{54,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,88}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{64,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0009</key>
            <dict>
                <key>frame</key>
                <string>{{78,84},{66,78}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{66,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0010</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{58,72}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,35},{58,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qb2-attack/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{72,64}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{72,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qb2-attack.png</string>
            <key>size</key>
            <string>{278,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c43c592b74e9b212c435363217a2258e:1/1$</string>
            <key>textureFileName</key>
            <string>qb2-attack.png</string>
        </dict>
    </dict>
</plist>
