<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiehuan/0000</key>
            <dict>
                <key>frame</key>
                <string>{{56,94},{8,8}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{8,8}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0001</key>
            <dict>
                <key>frame</key>
                <string>{{76,104},{12,10}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{12,10}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0002</key>
            <dict>
                <key>frame</key>
                <string>{{20,72},{14,14}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{14,14}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{16,16}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{16,16}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0004</key>
            <dict>
                <key>frame</key>
                <string>{{56,104},{18,18}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0005</key>
            <dict>
                <key>frame</key>
                <string>{{42,72},{20,22}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{20,22}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0006</key>
            <dict>
                <key>frame</key>
                <string>{{66,60},{28,24}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,24}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{30,22}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,22}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,20}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0009</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,24}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0010</key>
            <dict>
                <key>frame</key>
                <string>{{66,32},{26,26}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0011</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{24,28}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{24,28}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0012</key>
            <dict>
                <key>frame</key>
                <string>{{18,90},{22,28}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{22,28}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{22,30}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{22,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0014</key>
            <dict>
                <key>frame</key>
                <string>{{34,28},{22,30}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{22,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0015</key>
            <dict>
                <key>frame</key>
                <string>{{34,52},{18,30}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{18,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{14,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{14,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0017</key>
            <dict>
                <key>frame</key>
                <string>{{42,94},{12,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{12,28}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qiehuan/0018</key>
            <dict>
                <key>frame</key>
                <string>{{66,90},{12,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{12,24}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiehuan.png</string>
            <key>size</key>
            <string>{94,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0e0a09f6d0f169b23786e9c8dd5b38:1/1$</string>
            <key>textureFileName</key>
            <string>qiehuan.png</string>
        </dict>
    </dict>
</plist>
