<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txk-hdguang/0000</key>
            <dict>
                <key>frame</key>
                <string>{{38,330},{26,13}}</string>
                <key>offset</key>
                <string>{21,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,109},{26,13}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{34,21}}</string>
                <key>offset</key>
                <string>{17,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,101},{34,21}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0002</key>
            <dict>
                <key>frame</key>
                <string>{{31,90},{40,27}}</string>
                <key>offset</key>
                <string>{13,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,95},{40,27}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{40,27}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,95},{40,27}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{38,27}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,95},{38,27}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{32,43}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,77},{32,43}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0006</key>
            <dict>
                <key>frame</key>
                <string>{{36,45},{24,43}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,73},{24,43}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{22,41}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,70},{22,41}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0008</key>
            <dict>
                <key>frame</key>
                <string>{{26,248},{20,41}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,65},{20,41}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0009</key>
            <dict>
                <key>frame</key>
                <string>{{48,289},{14,39}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,60},{14,39}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0010</key>
            <dict>
                <key>frame</key>
                <string>{{18,291},{14,29}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,53},{14,29}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{14,33}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,49},{14,33}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{14,37}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{14,37}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0013</key>
            <dict>
                <key>frame</key>
                <string>{{48,248},{14,39}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{14,39}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0014</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{16,41}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{16,41}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{24,41}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{24,41}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0016</key>
            <dict>
                <key>frame</key>
                <string>{{28,170},{34,39}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{34,39}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,39}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{36,39}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0018</key>
            <dict>
                <key>frame</key>
                <string>{{26,211},{36,35}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{36,35}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0019</key>
            <dict>
                <key>frame</key>
                <string>{{31,132},{36,29}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{36,29}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0020</key>
            <dict>
                <key>frame</key>
                <string>{{53,330},{26,9}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{26,9}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0021</key>
            <dict>
                <key>frame</key>
                <string>{{34,291},{20,9}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{20,9}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
            <key>txk-hdguang/0022</key>
            <dict>
                <key>frame</key>
                <string>{{34,313},{14,7}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{14,7}}</string>
                <key>sourceSize</key>
                <string>{68,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>txk-hdguang.png</string>
            <key>size</key>
            <string>{64,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42de03e9af3478f721b8ebab85114ed2:1/1$</string>
            <key>textureFileName</key>
            <string>txk-hdguang.png</string>
        </dict>
    </dict>
</plist>
