<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txk-czguang/0000</key>
            <dict>
                <key>frame</key>
                <string>{{220,30},{26,16}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{26,16}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0001</key>
            <dict>
                <key>frame</key>
                <string>{{184,30},{32,18}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,34},{32,18}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0002</key>
            <dict>
                <key>frame</key>
                <string>{{148,40},{34,22}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{34,22}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0003</key>
            <dict>
                <key>frame</key>
                <string>{{76,38},{32,24}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{32,24}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0004</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{34,26}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{34,26}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0005</key>
            <dict>
                <key>frame</key>
                <string>{{36,34},{38,28}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{38,28}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0006</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{42,34}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{42,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0007</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{36,38}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{36,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,46}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0009</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,48}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{30,48}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0010</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{26,38}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{26,38}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0011</key>
            <dict>
                <key>frame</key>
                <string>{{110,40},{22,36}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{22,36}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0012</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{20,34}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0013</key>
            <dict>
                <key>frame</key>
                <string>{{246,24},{18,34}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{18,34}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0014</key>
            <dict>
                <key>frame</key>
                <string>{{204,30},{14,32}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{14,32}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>txk-czguang/0015</key>
            <dict>
                <key>frame</key>
                <string>{{238,44},{14,28}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{14,28}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>txk-czguang.png</string>
            <key>size</key>
            <string>{282,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b5285af85369edb198ba434bd40fc51:1/1$</string>
            <key>textureFileName</key>
            <string>txk-czguang.png</string>
        </dict>
    </dict>
</plist>
