<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txk-wwguang/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{54,93}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{54,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0001</key>
            <dict>
                <key>frame</key>
                <string>{{394,114},{54,93}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{54,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,93}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{50,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0003</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{52,97}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{52,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0004</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{52,97}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{52,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0005</key>
            <dict>
                <key>frame</key>
                <string>{{196,168},{54,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0006</key>
            <dict>
                <key>frame</key>
                <string>{{97,168},{54,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0007</key>
            <dict>
                <key>frame</key>
                <string>{{295,114},{54,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0008</key>
            <dict>
                <key>frame</key>
                <string>{{196,112},{54,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0009</key>
            <dict>
                <key>frame</key>
                <string>{{97,112},{54,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0010</key>
            <dict>
                <key>frame</key>
                <string>{{295,58},{54,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{54,93}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0012</key>
            <dict>
                <key>frame</key>
                <string>{{394,58},{54,93}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{54,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{54,93}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{54,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0014</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{54,93}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0015</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{54,93}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0016</key>
            <dict>
                <key>frame</key>
                <string>{{194,224},{56,93}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{56,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0017</key>
            <dict>
                <key>frame</key>
                <string>{{97,224},{56,95}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{56,95}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0018</key>
            <dict>
                <key>frame</key>
                <string>{{390,170},{56,95}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{56,95}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{56,93}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{56,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0020</key>
            <dict>
                <key>frame</key>
                <string>{{295,170},{56,93}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{56,93}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0021</key>
            <dict>
                <key>frame</key>
                <string>{{388,228},{56,97}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{56,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0022</key>
            <dict>
                <key>frame</key>
                <string>{{289,228},{56,97}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{56,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0023</key>
            <dict>
                <key>frame</key>
                <string>{{196,56},{54,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>txk-wwguang/0024</key>
            <dict>
                <key>frame</key>
                <string>{{97,56},{54,97}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{54,97}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>txk-wwguang.png</string>
            <key>size</key>
            <string>{489,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f414a6eadee706272c4e1773f25a87:1/1$</string>
            <key>textureFileName</key>
            <string>txk-wwguang.png</string>
        </dict>
    </dict>
</plist>
