<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uiliuguang/0000</key>
            <dict>
                <key>frame</key>
                <string>{{968,48},{21,24}}</string>
                <key>offset</key>
                <string>{-107,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{235,74}</string>
            </dict>
            <key>uiliuguang/0001</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{59,72}}</string>
                <key>offset</key>
                <string>{-88,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,72}}</string>
                <key>sourceSize</key>
                <string>{235,74}</string>
            </dict>
            <key>uiliuguang/0002</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{97,74}}</string>
                <key>offset</key>
                <string>{-69,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,74}}</string>
                <key>sourceSize</key>
                <string>{235,74}</string>
            </dict>
            <key>uiliuguang/0003</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{135,74}}</string>
                <key>offset</key>
                <string>{-50,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,74}}</string>
                <key>sourceSize</key>
                <string>{235,74}</string>
            </dict>
            <key>uiliuguang/0004</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{163,74}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{163,74}}</string>
                <key>sourceSize</key>
                <string>{235,74}</string>
            </dict>
            <key>uiliuguang/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,74}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{163,74}}</string>
                <key>sourceSize</key>
                <string>{235,74}</string>
            </dict>
            <key>uiliuguang/0006</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{149,74}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{235,74}</string>
            </dict>
            <key>uiliuguang/0007</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{111,74}}</string>
                <key>offset</key>
                <string>{62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{111,74}}</string>
                <key>sourceSize</key>
                <string>{235,74}</string>
            </dict>
            <key>uiliuguang/0008</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{73,74}}</string>
                <key>offset</key>
                <string>{81,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{235,74}</string>
            </dict>
            <key>uiliuguang/0009</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{35,44}}</string>
                <key>offset</key>
                <string>{100,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,30},{35,44}}</string>
                <key>sourceSize</key>
                <string>{235,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uiliuguang.png</string>
            <key>size</key>
            <string>{1005,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bef3ebb742ed272089e347e54001abd:1/1$</string>
            <key>textureFileName</key>
            <string>uiliuguang.png</string>
        </dict>
    </dict>
</plist>
