<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj-zixian/0000</key>
            <dict>
                <key>frame</key>
                <string>{{686,74},{131,38}}</string>
                <key>offset</key>
                <string>{-65,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{131,38}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0001</key>
            <dict>
                <key>frame</key>
                <string>{{553,74},{131,38}}</string>
                <key>offset</key>
                <string>{-43,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{131,38}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0002</key>
            <dict>
                <key>frame</key>
                <string>{{566,36},{129,36}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{129,36}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0003</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{127,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,10},{127,34}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{131,36}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,8},{131,36}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0005</key>
            <dict>
                <key>frame</key>
                <string>{{135,70},{133,36}}</string>
                <key>offset</key>
                <string>{42,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,6},{133,36}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,30}}</string>
                <key>offset</key>
                <string>{65,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,7},{131,30}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0007</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{277,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{277,32}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{281,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{281,32}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0009</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{281,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{281,32}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0010</key>
            <dict>
                <key>frame</key>
                <string>{{270,72},{281,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{281,36}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
            <key>wj-zixian/0011</key>
            <dict>
                <key>frame</key>
                <string>{{285,36},{279,34}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{279,34}}</string>
                <key>sourceSize</key>
                <string>{281,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj-zixian.png</string>
            <key>size</key>
            <string>{826,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c901a11c9e3fcbe19eb648a647e23e96:1/1$</string>
            <key>textureFileName</key>
            <string>wj-zixian.png</string>
        </dict>
    </dict>
</plist>
