<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zc-attackc/0000</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{74,126}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,35},{74,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0001</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{74,126}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{74,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0002</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{74,126}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{74,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0003</key>
            <dict>
                <key>frame</key>
                <string>{{718,130},{74,98}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,74},{74,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0004</key>
            <dict>
                <key>frame</key>
                <string>{{560,130},{78,112}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,53},{78,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0005</key>
            <dict>
                <key>frame</key>
                <string>{{640,130},{76,110}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,56},{76,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0006</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{72,90}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{72,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0007</key>
            <dict>
                <key>frame</key>
                <string>{{160,160},{72,86}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,78},{72,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0008</key>
            <dict>
                <key>frame</key>
                <string>{{234,156},{72,90}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,77},{72,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0009</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{72,140}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,15},{72,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0010</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{76,150}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,7},{76,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0011</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{76,152}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,7},{76,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0012</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{156,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,60},{156,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{156,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,58},{156,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,82}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,56},{160,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0015</key>
            <dict>
                <key>frame</key>
                <string>{{308,154},{134,92}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,46},{134,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0016</key>
            <dict>
                <key>frame</key>
                <string>{{444,130},{116,114}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,27},{116,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-attackc/0017</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{126,112}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,28},{126,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zc-attackc.png</string>
            <key>size</key>
            <string>{820,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d9304bdb7589ecfa787296abdad6a83:1/1$</string>
            <key>textureFileName</key>
            <string>zc-attackc.png</string>
        </dict>
    </dict>
</plist>
