<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zc-runc/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,126}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,35},{72,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0001</key>
            <dict>
                <key>frame</key>
                <string>{{126,150},{74,124}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{74,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0002</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{72,122}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,37},{72,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{74,122}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,37},{74,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0004</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{72,124}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,36},{72,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0005</key>
            <dict>
                <key>frame</key>
                <string>{{268,76},{74,124}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,37},{74,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0006</key>
            <dict>
                <key>frame</key>
                <string>{{252,152},{74,90}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,75},{74,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0007</key>
            <dict>
                <key>frame</key>
                <string>{{178,76},{72,88}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,77},{72,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0008</key>
            <dict>
                <key>frame</key>
                <string>{{90,76},{72,86}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,79},{72,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{72,86}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,79},{72,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0010</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{72,88}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,77},{72,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0011</key>
            <dict>
                <key>frame</key>
                <string>{{394,76},{74,90}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,75},{74,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0012</key>
            <dict>
                <key>frame</key>
                <string>{{314,306},{154,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,61},{154,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0013</key>
            <dict>
                <key>frame</key>
                <string>{{158,306},{154,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,61},{154,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{154,76}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,63},{154,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{152,74}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,65},{152,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0016</key>
            <dict>
                <key>frame</key>
                <string>{{156,228},{154,74}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,65},{154,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zc-runc/0017</key>
            <dict>
                <key>frame</key>
                <string>{{312,228},{154,76}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,63},{154,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zc-runc.png</string>
            <key>size</key>
            <string>{470,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e88ad0dd6786902fb81ac09de2a6eec3:1/1$</string>
            <key>textureFileName</key>
            <string>zc-runc.png</string>
        </dict>
    </dict>
</plist>
