<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zc-shuibob/0000</key>
            <dict>
                <key>frame</key>
                <string>{{146,214},{92,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0001</key>
            <dict>
                <key>frame</key>
                <string>{{146,202},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0002</key>
            <dict>
                <key>frame</key>
                <string>{{146,190},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0003</key>
            <dict>
                <key>frame</key>
                <string>{{238,96},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0004</key>
            <dict>
                <key>frame</key>
                <string>{{226,96},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0005</key>
            <dict>
                <key>frame</key>
                <string>{{110,146},{88,10}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{88,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0006</key>
            <dict>
                <key>frame</key>
                <string>{{214,96},{90,10}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{90,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0007</key>
            <dict>
                <key>frame</key>
                <string>{{98,146},{88,10}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{88,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0008</key>
            <dict>
                <key>frame</key>
                <string>{{86,146},{88,10}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{88,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0009</key>
            <dict>
                <key>frame</key>
                <string>{{74,146},{88,10}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{88,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0010</key>
            <dict>
                <key>frame</key>
                <string>{{62,146},{88,10}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{88,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0011</key>
            <dict>
                <key>frame</key>
                <string>{{50,146},{88,10}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{88,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0012</key>
            <dict>
                <key>frame</key>
                <string>{{202,96},{90,10}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{90,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0013</key>
            <dict>
                <key>frame</key>
                <string>{{96,134},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0014</key>
            <dict>
                <key>frame</key>
                <string>{{96,122},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0015</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0016</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0018</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0019</key>
            <dict>
                <key>frame</key>
                <string>{{96,110},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0021</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0022</key>
            <dict>
                <key>frame</key>
                <string>{{96,98},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0024</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0025</key>
            <dict>
                <key>frame</key>
                <string>{{96,86},{92,10}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0027</key>
            <dict>
                <key>frame</key>
                <string>{{96,74},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0028</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0029</key>
            <dict>
                <key>frame</key>
                <string>{{96,62},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0030</key>
            <dict>
                <key>frame</key>
                <string>{{122,146},{86,10}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{86,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0031</key>
            <dict>
                <key>frame</key>
                <string>{{38,146},{88,10}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{88,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0032</key>
            <dict>
                <key>frame</key>
                <string>{{26,146},{88,10}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{88,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0033</key>
            <dict>
                <key>frame</key>
                <string>{{134,146},{84,10}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{84,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0034</key>
            <dict>
                <key>frame</key>
                <string>{{14,146},{88,10}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{88,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0035</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{88,10}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{88,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0036</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0037</key>
            <dict>
                <key>frame</key>
                <string>{{190,96},{90,10}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{90,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0038</key>
            <dict>
                <key>frame</key>
                <string>{{96,50},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0039</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0040</key>
            <dict>
                <key>frame</key>
                <string>{{96,38},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0041</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0042</key>
            <dict>
                <key>frame</key>
                <string>{{96,26},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0043</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0044</key>
            <dict>
                <key>frame</key>
                <string>{{96,14},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0045</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0046</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0047</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
            <key>zc-shuibob/0048</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,10}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,10}}</string>
                <key>sourceSize</key>
                <string>{92,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zc-shuibob.png</string>
            <key>size</key>
            <string>{250,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:079ac7b32028e6f52d7ac9e59197ac12:1/1$</string>
            <key>textureFileName</key>
            <string>zc-shuibob.png</string>
        </dict>
    </dict>
</plist>
