<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zdjs-lizi/0000</key>
            <dict>
                <key>frame</key>
                <string>{{350,143},{69,79}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,93},{69,79}}</string>
                <key>sourceSize</key>
                <string>{263,277}</string>
            </dict>
            <key>zdjs-lizi/0001</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{139,139}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,65},{139,139}}</string>
                <key>sourceSize</key>
                <string>{263,277}</string>
            </dict>
            <key>zdjs-lizi/0002</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{203,191}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,50},{203,191}}</string>
                <key>sourceSize</key>
                <string>{263,277}</string>
            </dict>
            <key>zdjs-lizi/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,221}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{153,221}}</string>
                <key>sourceSize</key>
                <string>{263,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zdjs-lizi.png</string>
            <key>size</key>
            <string>{491,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f87ea470c4be780d9921282ef8b752cb:1/1$</string>
            <key>textureFileName</key>
            <string>zdjs-lizi.png</string>
        </dict>
    </dict>
</plist>
