<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zjm-jytiao/0000</key>
            <dict>
                <key>frame</key>
                <string>{{212,122},{17,16}}</string>
                <key>offset</key>
                <string>{-80,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{17,16}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0001</key>
            <dict>
                <key>frame</key>
                <string>{{133,102},{39,18}}</string>
                <key>offset</key>
                <string>{-69,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{39,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0002</key>
            <dict>
                <key>frame</key>
                <string>{{155,42},{63,18}}</string>
                <key>offset</key>
                <string>{-58,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{63,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0003</key>
            <dict>
                <key>frame</key>
                <string>{{133,82},{85,18}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{85,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{107,18}}</string>
                <key>offset</key>
                <string>{-36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{107,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{129,18}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{129,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{151,18}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{151,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,18}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{173,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{161,18}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{161,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{143,18}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{143,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{129,18}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,5},{129,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{117,18}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,5},{117,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0012</key>
            <dict>
                <key>frame</key>
                <string>{{111,142},{103,18}}</string>
                <key>offset</key>
                <string>{38,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,5},{103,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0013</key>
            <dict>
                <key>frame</key>
                <string>{{121,122},{89,18}}</string>
                <key>offset</key>
                <string>{45,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,5},{89,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0014</key>
            <dict>
                <key>frame</key>
                <string>{{147,62},{77,18}}</string>
                <key>offset</key>
                <string>{51,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,5},{77,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0015</key>
            <dict>
                <key>frame</key>
                <string>{{165,22},{63,18}}</string>
                <key>offset</key>
                <string>{58,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,5},{63,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0016</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{51,18}}</string>
                <key>offset</key>
                <string>{64,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,5},{51,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
            <key>zjm-jytiao/0017</key>
            <dict>
                <key>frame</key>
                <string>{{174,102},{37,18}}</string>
                <key>offset</key>
                <string>{71,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,5},{37,18}}</string>
                <key>sourceSize</key>
                <string>{183,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zjm-jytiao.png</string>
            <key>size</key>
            <string>{230,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96f94c36a7062f22efc6fbd2619e9978:1/1$</string>
            <key>textureFileName</key>
            <string>zjm-jytiao.png</string>
        </dict>
    </dict>
</plist>
