<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zs-attack/0000</key>
            <dict>
                <key>frame</key>
                <string>{{56,64},{58,52}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{58,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0001</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{60,56}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{60,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0002</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{56,58}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{56,58}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0003</key>
            <dict>
                <key>frame</key>
                <string>{{116,64},{54,52}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,33},{54,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0004</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{54,54}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{54,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0005</key>
            <dict>
                <key>frame</key>
                <string>{{172,62},{54,54}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,33},{54,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0006</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{46,60}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{46,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,64}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{52,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0008</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{58,60}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{58,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0009</key>
            <dict>
                <key>frame</key>
                <string>{{228,60},{52,48}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,17},{52,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{52,48}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{52,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attack/0011</key>
            <dict>
                <key>frame</key>
                <string>{{284,58},{52,50}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{52,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zs-attack.png</string>
            <key>size</key>
            <string>{340,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad6e8784d26ab394f17f67df18f9f50e:1/1$</string>
            <key>textureFileName</key>
            <string>zs-attack.png</string>
        </dict>
    </dict>
</plist>
