<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zs-attackc/0000</key>
            <dict>
                <key>frame</key>
                <string>{{190,168},{40,56}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{40,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0001</key>
            <dict>
                <key>frame</key>
                <string>{{130,82},{42,62}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{42,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0002</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{40,66}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{40,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0003</key>
            <dict>
                <key>frame</key>
                <string>{{122,170},{36,54}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,10},{36,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0004</key>
            <dict>
                <key>frame</key>
                <string>{{64,144},{34,56}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,9},{34,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0005</key>
            <dict>
                <key>frame</key>
                <string>{{70,106},{36,58}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,7},{36,58}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0006</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{42,50}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{42,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0007</key>
            <dict>
                <key>frame</key>
                <string>{{200,46},{40,54}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{40,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0008</key>
            <dict>
                <key>frame</key>
                <string>{{134,44},{36,64}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{36,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0009</key>
            <dict>
                <key>frame</key>
                <string>{{194,88},{36,58}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{36,58}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0010</key>
            <dict>
                <key>frame</key>
                <string>{{190,126},{40,56}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,38},{40,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0011</key>
            <dict>
                <key>frame</key>
                <string>{{130,126},{42,58}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{42,58}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0012</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{62,52}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{62,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,52}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{66,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{66,50}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{66,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0015</key>
            <dict>
                <key>frame</key>
                <string>{{70,56},{58,48}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{58,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{58,46}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{58,46}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-attackc/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{60,48}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{60,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zs-attackc.png</string>
            <key>size</key>
            <string>{256,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6d09e6bf2092dd0d99de60706ff6768:1/1$</string>
            <key>textureFileName</key>
            <string>zs-attackc.png</string>
        </dict>
    </dict>
</plist>
