<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zs-run/0000</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,54}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{48,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0001</key>
            <dict>
                <key>frame</key>
                <string>{{56,58},{46,46}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{46,46}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0002</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{50,44}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{50,44}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0003</key>
            <dict>
                <key>frame</key>
                <string>{{104,56},{54,44}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{54,44}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0004</key>
            <dict>
                <key>frame</key>
                <string>{{248,48},{50,42}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{50,42}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{52,46}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{52,46}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,54}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{48,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0007</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{46,50}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{46,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0008</key>
            <dict>
                <key>frame</key>
                <string>{{204,54},{42,50}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{42,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0009</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{40,52}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{40,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0010</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{42,50}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{42,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>zs-run/0011</key>
            <dict>
                <key>frame</key>
                <string>{{160,54},{42,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{42,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zs-run.png</string>
            <key>size</key>
            <string>{302,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc71d1ea11cab3acddb268ef24d9f7d8:1/1$</string>
            <key>textureFileName</key>
            <string>zs-run.png</string>
        </dict>
    </dict>
</plist>
