<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zy-yanhua/0000</key>
            <dict>
                <key>frame</key>
                <string>{{190,293},{30,31}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{30,31}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{8,9}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,91},{8,9}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0002</key>
            <dict>
                <key>frame</key>
                <string>{{465,64},{42,33}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,67},{42,33}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0003</key>
            <dict>
                <key>frame</key>
                <string>{{452,203},{46,43}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,57},{46,43}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0004</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{52,57}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,43},{52,57}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0005</key>
            <dict>
                <key>frame</key>
                <string>{{411,64},{52,53}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{52,53}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0006</key>
            <dict>
                <key>frame</key>
                <string>{{353,56},{56,63}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{56,63}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0007</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{60,75}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{60,75}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0008</key>
            <dict>
                <key>frame</key>
                <string>{{262,194},{78,87}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{78,87}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0009</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{82,89}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{82,89}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{98,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{98,91}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0011</key>
            <dict>
                <key>frame</key>
                <string>{{251,99},{90,93}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{90,93}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0012</key>
            <dict>
                <key>frame</key>
                <string>{{95,208},{96,93}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{96,93}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{102,93}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{100,93}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{100,93}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0015</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{94,95}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{94,95}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0016</key>
            <dict>
                <key>frame</key>
                <string>{{97,99},{76,95}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{76,95}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0017</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{74,95}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{74,95}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0018</key>
            <dict>
                <key>frame</key>
                <string>{{175,99},{74,95}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{74,95}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0019</key>
            <dict>
                <key>frame</key>
                <string>{{190,196},{70,95}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{70,95}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0020</key>
            <dict>
                <key>frame</key>
                <string>{{342,194},{66,81}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{66,81}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0021</key>
            <dict>
                <key>frame</key>
                <string>{{337,283},{42,73}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{42,73}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0022</key>
            <dict>
                <key>frame</key>
                <string>{{262,283},{42,73}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{42,73}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0023</key>
            <dict>
                <key>frame</key>
                <string>{{343,121},{42,71}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,29},{42,71}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0024</key>
            <dict>
                <key>frame</key>
                <string>{{410,203},{40,69}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{40,69}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0025</key>
            <dict>
                <key>frame</key>
                <string>{{429,161},{40,69}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,31},{40,69}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0026</key>
            <dict>
                <key>frame</key>
                <string>{{429,119},{40,69}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,31},{40,69}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0027</key>
            <dict>
                <key>frame</key>
                <string>{{387,121},{40,69}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{40,69}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>zy-yanhua/0028</key>
            <dict>
                <key>frame</key>
                <string>{{452,248},{40,67}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{40,67}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zy-yanhua.png</string>
            <key>size</key>
            <string>{502,327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:324450a5e5337c88f000ff8ec2a57a84:1/1$</string>
            <key>textureFileName</key>
            <string>zy-yanhua.png</string>
        </dict>
    </dict>
</plist>
