<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-gossip/0000</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0001</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0002</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0003</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0004</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0005</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0006</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0007</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0008</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0009</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0010</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0011</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0012</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0013</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0014</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0015</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0016</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0017</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0018</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0019</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0020</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>rpg-gossip/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,14}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,151},{29,14}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-gossip.png</string>
            <key>size</key>
            <string>{250,18}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:750d53252c2dddd7144a6f3d9f4b3bc6:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-gossip.png</string>
        </dict>
    </dict>
</plist>
