<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-Positivelight/0000</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1042},{624,508}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{624,508}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0001</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1042},{624,508}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{624,508}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{624,512}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{624,512}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{624,512}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{624,512}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0004</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{624,514}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{624,514}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0005</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{624,514}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{624,514}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{624,516}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{624,516}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{624,516}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{624,516}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,518}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{624,518}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,518}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{624,518}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0010</key>
            <dict>
                <key>frame</key>
                <string>{{628,1038},{618,518}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{618,518}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0011</key>
            <dict>
                <key>frame</key>
                <string>{{628,1038},{618,518}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{618,518}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0012</key>
            <dict>
                <key>frame</key>
                <string>{{628,518},{618,518}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{618,518}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0013</key>
            <dict>
                <key>frame</key>
                <string>{{628,518},{618,518}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{618,518}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0014</key>
            <dict>
                <key>frame</key>
                <string>{{1248,522},{616,518}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{616,518}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0015</key>
            <dict>
                <key>frame</key>
                <string>{{1248,522},{616,518}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{616,518}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0016</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{616,518}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{616,518}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
            <key>rpg-Positivelight/0017</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{616,518}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{616,518}}</string>
                <key>sourceSize</key>
                <string>{624,524}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-Positivelight.png</string>
            <key>size</key>
            <string>{1875,1558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25e90cb449ea7757bd6cb40cdb04de8b:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-Positivelight.png</string>
        </dict>
    </dict>
</plist>
