<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-sidelight/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{616,456}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{616,456}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{616,456}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{616,456}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0002</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{614,460}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{614,460}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0003</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{614,460}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{614,460}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0004</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{612,462}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{612,462}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0005</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{612,462}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{612,462}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{610,464}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{610,464}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{610,464}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{610,464}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0008</key>
            <dict>
                <key>frame</key>
                <string>{{614,464},{608,466}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{608,466}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0009</key>
            <dict>
                <key>frame</key>
                <string>{{614,464},{608,466}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{608,466}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0010</key>
            <dict>
                <key>frame</key>
                <string>{{1224,466},{604,466}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{604,466}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0011</key>
            <dict>
                <key>frame</key>
                <string>{{1224,466},{604,466}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{604,466}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{602,466}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{602,466}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{602,466}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{602,466}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0014</key>
            <dict>
                <key>frame</key>
                <string>{{606,932},{612,466}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{612,466}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0015</key>
            <dict>
                <key>frame</key>
                <string>{{606,932},{612,466}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{612,466}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0016</key>
            <dict>
                <key>frame</key>
                <string>{{1220,934},{614,466}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{614,466}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
            <key>rpg-sidelight/0017</key>
            <dict>
                <key>frame</key>
                <string>{{1220,934},{614,466}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{614,466}}</string>
                <key>sourceSize</key>
                <string>{640,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-sidelight.png</string>
            <key>size</key>
            <string>{1850,1402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a572527978e5b4da70ed33061f6e01a:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-sidelight.png</string>
        </dict>
    </dict>
</plist>
