<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-the-sun/0000</key>
            <dict>
                <key>frame</key>
                <string>{{1046,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0001</key>
            <dict>
                <key>frame</key>
                <string>{{1046,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0002</key>
            <dict>
                <key>frame</key>
                <string>{{698,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0003</key>
            <dict>
                <key>frame</key>
                <string>{{698,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0004</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0005</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0006</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0007</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0008</key>
            <dict>
                <key>frame</key>
                <string>{{350,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0009</key>
            <dict>
                <key>frame</key>
                <string>{{350,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0010</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0011</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0020</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0021</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0022</key>
            <dict>
                <key>frame</key>
                <string>{{350,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0023</key>
            <dict>
                <key>frame</key>
                <string>{{350,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0024</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0025</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0026</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0027</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0028</key>
            <dict>
                <key>frame</key>
                <string>{{698,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
            <key>rpg-the-sun/0029</key>
            <dict>
                <key>frame</key>
                <string>{{698,396},{346,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,392}}</string>
                <key>sourceSize</key>
                <string>{346,392}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-the-sun.pvr.ccz</string>
            <key>size</key>
            <string>{1394,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5db7de1ec0e94ed04e2b28d1531b044:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-the-sun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
