<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-general/0000</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{148,120}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{148,120}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0001</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{148,120}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{148,120}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0002</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{148,120}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{148,120}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0003</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{148,120}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{148,120}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0004</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{148,120}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{148,120}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0005</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{148,120}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{148,120}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0006</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{148,120}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{148,120}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0007</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{148,120}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{148,120}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0008</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{146,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,22},{146,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0009</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{146,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,22},{146,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0010</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{146,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,22},{146,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0011</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{146,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,22},{146,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0012</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,22},{146,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0013</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,22},{146,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0014</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,22},{146,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0015</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,22},{146,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,22},{148,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,22},{148,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,22},{148,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>rpg-general/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,122}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,22},{148,122}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-general.png</string>
            <key>size</key>
            <string>{748,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6baab3537364fec46772cc6985d1f62c:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-general.png</string>
        </dict>
    </dict>
</plist>
