<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-the-fire/0000</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{210,167}}</string>
                <key>offset</key>
                <string>{16,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,33},{210,167}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0001</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{210,167}}</string>
                <key>offset</key>
                <string>{16,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,33},{210,167}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0002</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{210,167}}</string>
                <key>offset</key>
                <string>{16,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,33},{210,167}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0003</key>
            <dict>
                <key>frame</key>
                <string>{{358,214},{210,171}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,29},{210,171}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0004</key>
            <dict>
                <key>frame</key>
                <string>{{358,214},{210,171}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,29},{210,171}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0005</key>
            <dict>
                <key>frame</key>
                <string>{{358,214},{210,171}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,29},{210,171}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0006</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{210,175}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,25},{210,175}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0007</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{210,175}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,25},{210,175}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0008</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{210,175}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,25},{210,175}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0009</key>
            <dict>
                <key>frame</key>
                <string>{{181,214},{210,175}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,25},{210,175}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0010</key>
            <dict>
                <key>frame</key>
                <string>{{181,214},{210,175}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,25},{210,175}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0011</key>
            <dict>
                <key>frame</key>
                <string>{{181,214},{210,175}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,25},{210,175}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{210,177}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,23},{210,177}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{210,177}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,23},{210,177}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{210,177}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,23},{210,177}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,179}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,21},{210,179}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,179}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,21},{210,179}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
            <key>rpg-the-fire/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,179}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,21},{210,179}}</string>
                <key>sourceSize</key>
                <string>{424,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-the-fire.png</string>
            <key>size</key>
            <string>{531,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce869badb255d99cd74ddaa332181be4:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-the-fire.png</string>
        </dict>
    </dict>
</plist>
