<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-marinesxi/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{56,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{56,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{58,40}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{58,40}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,40}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxi/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,40}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-marinesxi.png</string>
            <key>size</key>
            <string>{44,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df9578540be44ac6c8a5c1f942f72796:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-marinesxi.png</string>
        </dict>
    </dict>
</plist>
