<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-gears/0000</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0001</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0002</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0003</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0004</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0005</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0006</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0007</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0008</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0009</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0010</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0011</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-gears/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,47}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{132,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-gears.png</string>
            <key>size</key>
            <string>{672,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a85d8b0ec53f280a4f1044ca84659133:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-gears.png</string>
        </dict>
    </dict>
</plist>
