<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-the-light-beam/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,122}}</string>
                <key>offset</key>
                <string>{105,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,0},{187,122}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,122}}</string>
                <key>offset</key>
                <string>{105,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,0},{187,122}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0002</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{95,106}}</string>
                <key>offset</key>
                <string>{149,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,9},{95,106}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0003</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{95,106}}</string>
                <key>offset</key>
                <string>{149,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,9},{95,106}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0004</key>
            <dict>
                <key>frame</key>
                <string>{{336,50},{167,48}}</string>
                <key>offset</key>
                <string>{73,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,38},{167,48}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0005</key>
            <dict>
                <key>frame</key>
                <string>{{336,50},{167,48}}</string>
                <key>offset</key>
                <string>{73,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,38},{167,48}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0006</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{329,46}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{329,46}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0007</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{329,46}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{329,46}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0008</key>
            <dict>
                <key>frame</key>
                <string>{{505,50},{173,46}}</string>
                <key>offset</key>
                <string>{-91,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{173,46}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0009</key>
            <dict>
                <key>frame</key>
                <string>{{505,50},{173,46}}</string>
                <key>offset</key>
                <string>{-91,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{173,46}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0010</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{97,46}}</string>
                <key>offset</key>
                <string>{-129,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,40},{97,46}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
            <key>rpg-the-light-beam/0011</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{97,46}}</string>
                <key>offset</key>
                <string>{-129,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,40},{97,46}}</string>
                <key>sourceSize</key>
                <string>{397,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-the-light-beam.png</string>
            <key>size</key>
            <string>{680,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755c6a03e69811f3285dbb0ac90f55ea:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-the-light-beam.png</string>
        </dict>
    </dict>
</plist>
