<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-the-flagss/0000</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{188,101}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,67},{188,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0001</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{188,101}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,67},{188,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0002</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{188,101}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,67},{188,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0003</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{188,101}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,67},{188,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0004</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{190,101}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,66},{190,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0005</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{190,101}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,66},{190,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0006</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{190,101}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,66},{190,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0007</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{190,101}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,66},{190,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0008</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{188,101}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,67},{188,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0009</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{188,101}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,67},{188,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0010</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{188,101}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,67},{188,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0011</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{188,101}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,67},{188,101}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0012</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,103}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,66},{188,103}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0013</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,103}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,66},{188,103}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0014</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,103}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,66},{188,103}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0015</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,103}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,66},{188,103}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,103}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,66},{188,103}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,103}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,66},{188,103}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,103}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,66},{188,103}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>rpg-the-flagss/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,103}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,66},{188,103}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-the-flagss.png</string>
            <key>size</key>
            <string>{954,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05b2ffcbbc8c594ffb318f3246889ce3:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-the-flagss.png</string>
        </dict>
    </dict>
</plist>
