<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-the-eagle/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{34,36}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{34,36}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0002</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{30,32}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{30,32}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0003</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{30,32}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{30,32}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0004</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{24,24}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{24,24}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0005</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{24,24}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{24,24}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0006</key>
            <dict>
                <key>frame</key>
                <string>{{30,106},{24,20}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{24,20}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0007</key>
            <dict>
                <key>frame</key>
                <string>{{30,106},{24,20}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{24,20}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0008</key>
            <dict>
                <key>frame</key>
                <string>{{102,28},{28,22}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{28,22}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0009</key>
            <dict>
                <key>frame</key>
                <string>{{102,28},{28,22}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{28,22}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0010</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{30,28}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{30,28}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0011</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{30,28}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{30,28}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0012</key>
            <dict>
                <key>frame</key>
                <string>{{30,74},{30,30}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{30,30}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0013</key>
            <dict>
                <key>frame</key>
                <string>{{30,74},{30,30}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{30,30}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0014</key>
            <dict>
                <key>frame</key>
                <string>{{30,40},{30,32}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{30,32}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0015</key>
            <dict>
                <key>frame</key>
                <string>{{30,40},{30,32}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{30,32}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{26,36}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{26,36}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{26,36}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{26,36}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{26,34}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>rpg-the-eagle/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{26,34}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-the-eagle.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48bcdcce6cd517b696402a5720f8a01a:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-the-eagle.png</string>
        </dict>
    </dict>
</plist>
