<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-marinesxil/0000</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,42}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{58,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0001</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,42}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{58,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{58,40}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{58,40}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0004</key>
            <dict>
                <key>frame</key>
                <string>{{62,46},{58,40}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0005</key>
            <dict>
                <key>frame</key>
                <string>{{62,46},{58,40}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{58,40}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{58,40}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0008</key>
            <dict>
                <key>frame</key>
                <string>{{62,128},{58,38}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{58,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0009</key>
            <dict>
                <key>frame</key>
                <string>{{62,128},{58,38}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{58,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{58,38}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{58,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{58,38}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{58,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0012</key>
            <dict>
                <key>frame</key>
                <string>{{62,88},{58,38}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{58,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0013</key>
            <dict>
                <key>frame</key>
                <string>{{62,88},{58,38}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{58,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,40}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{60,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rpg-marinesxil/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,40}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{60,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-marinesxil.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10eb4c4e051f87869f621ba8c075418a:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-marinesxil.png</string>
        </dict>
    </dict>
</plist>
