<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-lava/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,186}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,16},{73,186}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,186}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,16},{73,186}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,186}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,16},{73,186}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,186}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,16},{73,186}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{73,184}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,18},{73,184}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{73,184}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,18},{73,184}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{73,184}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,18},{73,184}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{73,184}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,18},{73,184}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{73,182}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,20},{73,182}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{73,182}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,20},{73,182}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{73,182}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,20},{73,182}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{73,182}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,20},{73,182}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{73,182}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,20},{73,182}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{73,182}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,20},{73,182}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{73,182}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,20},{73,182}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{73,182}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,20},{73,182}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{73,184}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,18},{73,184}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{73,184}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,18},{73,184}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{73,184}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,18},{73,184}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
            <key>rpg-lava/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{73,184}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,18},{73,184}}</string>
                <key>sourceSize</key>
                <string>{291,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-lava.png</string>
            <key>size</key>
            <string>{77,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa94489848642ff93f723380d3656eb7:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-lava.png</string>
        </dict>
    </dict>
</plist>
