<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-orange/0000</key>
            <dict>
                <key>frame</key>
                <string>{{110,108},{4,4}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{4,4}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0001</key>
            <dict>
                <key>frame</key>
                <string>{{110,108},{4,4}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{4,4}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0002</key>
            <dict>
                <key>frame</key>
                <string>{{110,108},{4,4}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{4,4}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0003</key>
            <dict>
                <key>frame</key>
                <string>{{110,108},{4,4}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{4,4}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0004</key>
            <dict>
                <key>frame</key>
                <string>{{86,60},{24,46}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{24,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0005</key>
            <dict>
                <key>frame</key>
                <string>{{86,60},{24,46}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{24,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0006</key>
            <dict>
                <key>frame</key>
                <string>{{86,60},{24,46}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{24,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0007</key>
            <dict>
                <key>frame</key>
                <string>{{86,60},{24,46}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{24,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0008</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{28,52}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{28,52}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0009</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{28,52}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{28,52}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0010</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{28,52}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{28,52}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0011</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{28,52}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{28,52}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{64,56}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{64,56}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{64,56}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{64,56}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0016</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{76,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{76,40}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0017</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{76,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{76,40}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0018</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{76,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{76,40}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0019</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{76,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{76,40}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{82,46}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{82,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{82,46}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{82,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{82,46}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{82,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{82,46}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{82,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0027</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0028</key>
            <dict>
                <key>frame</key>
                <string>{{50,186},{74,40}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,40}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0029</key>
            <dict>
                <key>frame</key>
                <string>{{50,186},{74,40}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,40}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0030</key>
            <dict>
                <key>frame</key>
                <string>{{50,186},{74,40}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,40}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0031</key>
            <dict>
                <key>frame</key>
                <string>{{50,186},{74,40}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,40}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0032</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{64,46}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{64,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{64,46}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{64,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0034</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{64,46}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{64,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0035</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{64,46}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{64,46}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0036</key>
            <dict>
                <key>frame</key>
                <string>{{50,166},{14,18}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{14,18}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0037</key>
            <dict>
                <key>frame</key>
                <string>{{50,166},{14,18}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{14,18}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0038</key>
            <dict>
                <key>frame</key>
                <string>{{50,166},{14,18}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{14,18}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>rpg-orange/0039</key>
            <dict>
                <key>frame</key>
                <string>{{50,166},{14,18}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{14,18}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-orange.png</string>
            <key>size</key>
            <string>{127,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d94479070bf0c7076df2052a39722729:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-orange.png</string>
        </dict>
    </dict>
</plist>
