<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-the-soldiers/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,78}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{126,78}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,78}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{126,78}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{124,78}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{124,78}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{124,78}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{124,78}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{124,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{124,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0006</key>
            <dict>
                <key>frame</key>
                <string>{{128,238},{124,76}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0007</key>
            <dict>
                <key>frame</key>
                <string>{{128,238},{124,76}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{124,76}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{124,76}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0010</key>
            <dict>
                <key>frame</key>
                <string>{{128,160},{124,76}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0011</key>
            <dict>
                <key>frame</key>
                <string>{{128,160},{124,76}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0012</key>
            <dict>
                <key>frame</key>
                <string>{{128,82},{124,76}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0013</key>
            <dict>
                <key>frame</key>
                <string>{{128,82},{124,76}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0014</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,78}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{124,78}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>rpg-the-soldiers/0015</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,78}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{124,78}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-the-soldiers.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6ac3e6d262fa8b415f630b0534fdb2b:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-the-soldiers.png</string>
        </dict>
    </dict>
</plist>
