<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-water-wheel/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{25,33}}</string>
                <key>offset</key>
                <string>{-52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{25,33}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-water-wheel/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{25,33}}</string>
                <key>offset</key>
                <string>{-52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{25,33}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-water-wheel/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{25,33}}</string>
                <key>offset</key>
                <string>{-52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{25,33}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-water-wheel/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{25,33}}</string>
                <key>offset</key>
                <string>{-52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{25,33}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-water-wheel/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{25,33}}</string>
                <key>offset</key>
                <string>{-52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{25,33}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-water-wheel/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{25,33}}</string>
                <key>offset</key>
                <string>{-52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{25,33}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-water-wheel/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{25,33}}</string>
                <key>offset</key>
                <string>{-52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{25,33}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-water-wheel/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{25,33}}</string>
                <key>offset</key>
                <string>{-52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{25,33}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-water-wheel/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,33}}</string>
                <key>offset</key>
                <string>{-52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{25,33}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-water-wheel/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,33}}</string>
                <key>offset</key>
                <string>{-52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{25,33}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-water-wheel.png</string>
            <key>size</key>
            <string>{29,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6db5aae265fd39120a8bd6a69cb3f2cb:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-water-wheel.png</string>
        </dict>
    </dict>
</plist>
