<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-small-fire/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{199,159}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{199,159}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0002</key>
            <dict>
                <key>frame</key>
                <string>{{203,324},{199,159}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0003</key>
            <dict>
                <key>frame</key>
                <string>{{203,324},{199,159}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{201,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{201,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{201,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{201,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{199,159}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{199,159}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0008</key>
            <dict>
                <key>frame</key>
                <string>{{205,163},{199,159}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0009</key>
            <dict>
                <key>frame</key>
                <string>{{205,163},{199,159}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{203,159}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{203,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{203,159}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{203,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0012</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,159}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0013</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{199,159}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,159}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,159}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{199,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0016</key>
            <dict>
                <key>frame</key>
                <string>{{203,646},{197,159}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{197,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0017</key>
            <dict>
                <key>frame</key>
                <string>{{203,646},{197,159}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{197,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0018</key>
            <dict>
                <key>frame</key>
                <string>{{207,485},{197,159}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{197,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
            <key>rpg-small-fire/0019</key>
            <dict>
                <key>frame</key>
                <string>{{207,485},{197,159}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{197,159}}</string>
                <key>sourceSize</key>
                <string>{211,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-small-fire.png</string>
            <key>size</key>
            <string>{406,807}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66f2151e25a479fd756a3fa56d9d53c5:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-small-fire.png</string>
        </dict>
    </dict>
</plist>
