<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-light/0000</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,8},{42,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0001</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,8},{42,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0002</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,8},{42,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,47}}</string>
                <key>offset</key>
                <string>{-5,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,7},{44,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,47}}</string>
                <key>offset</key>
                <string>{-5,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,7},{44,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,47}}</string>
                <key>offset</key>
                <string>{-5,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,7},{44,47}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0006</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{40,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,8},{40,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0007</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{40,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,8},{40,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0008</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{40,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,8},{40,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0009</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,8},{42,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0010</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,8},{42,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0011</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,8},{42,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0012</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,8},{42,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0013</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,8},{42,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
            <key>rpg-light/0014</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,45}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,8},{42,45}}</string>
                <key>sourceSize</key>
                <string>{390,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-light.png</string>
            <key>size</key>
            <string>{134,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7d90080c656d7b683b6718e8cdc3a37:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-light.png</string>
        </dict>
    </dict>
</plist>
