<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-the-ball/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{61,75}}</string>
                <key>offset</key>
                <string>{1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{61,75}}</string>
                <key>offset</key>
                <string>{1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{61,75}}</string>
                <key>offset</key>
                <string>{1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{67,71}}</string>
                <key>offset</key>
                <string>{2,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{67,71}}</string>
                <key>offset</key>
                <string>{2,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{67,71}}</string>
                <key>offset</key>
                <string>{2,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0006</key>
            <dict>
                <key>frame</key>
                <string>{{57,298},{65,69}}</string>
                <key>offset</key>
                <string>{5,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0007</key>
            <dict>
                <key>frame</key>
                <string>{{57,298},{65,69}}</string>
                <key>offset</key>
                <string>{5,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0008</key>
            <dict>
                <key>frame</key>
                <string>{{57,298},{65,69}}</string>
                <key>offset</key>
                <string>{5,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{53,67}}</string>
                <key>offset</key>
                <string>{7,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{53,67}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{53,67}}</string>
                <key>offset</key>
                <string>{7,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{53,67}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{53,67}}</string>
                <key>offset</key>
                <string>{7,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{53,67}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0012</key>
            <dict>
                <key>frame</key>
                <string>{{75,158},{49,67}}</string>
                <key>offset</key>
                <string>{3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0013</key>
            <dict>
                <key>frame</key>
                <string>{{75,158},{49,67}}</string>
                <key>offset</key>
                <string>{3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0014</key>
            <dict>
                <key>frame</key>
                <string>{{75,158},{49,67}}</string>
                <key>offset</key>
                <string>{3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0015</key>
            <dict>
                <key>frame</key>
                <string>{{65,227},{59,69}}</string>
                <key>offset</key>
                <string>{2,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0016</key>
            <dict>
                <key>frame</key>
                <string>{{65,227},{59,69}}</string>
                <key>offset</key>
                <string>{2,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0017</key>
            <dict>
                <key>frame</key>
                <string>{{65,227},{59,69}}</string>
                <key>offset</key>
                <string>{2,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{65,71}}</string>
                <key>offset</key>
                <string>{1,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{65,71}}</string>
                <key>offset</key>
                <string>{1,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{65,71}}</string>
                <key>offset</key>
                <string>{1,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,71}}</string>
                <key>offset</key>
                <string>{-2,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,71}}</string>
                <key>offset</key>
                <string>{-2,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,71}}</string>
                <key>offset</key>
                <string>{-2,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{63,71}}</string>
                <key>offset</key>
                <string>{-3,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{63,71}}</string>
                <key>offset</key>
                <string>{-3,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{63,71}}</string>
                <key>offset</key>
                <string>{-3,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0027</key>
            <dict>
                <key>frame</key>
                <string>{{75,81},{49,75}}</string>
                <key>offset</key>
                <string>{-3,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{49,75}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0028</key>
            <dict>
                <key>frame</key>
                <string>{{75,81},{49,75}}</string>
                <key>offset</key>
                <string>{-3,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{49,75}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0029</key>
            <dict>
                <key>frame</key>
                <string>{{75,81},{49,75}}</string>
                <key>offset</key>
                <string>{-3,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{49,75}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0030</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{51,77}}</string>
                <key>offset</key>
                <string>{2,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{51,77}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0031</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{51,77}}</string>
                <key>offset</key>
                <string>{2,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{51,77}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
            <key>rpg-the-ball/0032</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{51,77}}</string>
                <key>offset</key>
                <string>{2,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{51,77}}</string>
                <key>sourceSize</key>
                <string>{267,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-the-ball.png</string>
            <key>size</key>
            <string>{128,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b90489cfac5a295b913bc43b2b10140:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-the-ball.png</string>
        </dict>
    </dict>
</plist>
