<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-time/0000</key>
            <dict>
                <key>frame</key>
                <string>{{194,310},{156,142}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,7},{156,142}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0001</key>
            <dict>
                <key>frame</key>
                <string>{{194,310},{156,142}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,7},{156,142}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{168,144}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,6},{168,144}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{168,144}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,6},{168,144}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0004</key>
            <dict>
                <key>frame</key>
                <string>{{280,146},{180,106}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,44},{180,106}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0005</key>
            <dict>
                <key>frame</key>
                <string>{{280,146},{180,106}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,44},{180,106}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0006</key>
            <dict>
                <key>frame</key>
                <string>{{338,254},{180,124}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,27},{180,124}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0007</key>
            <dict>
                <key>frame</key>
                <string>{{338,254},{180,124}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,27},{180,124}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0008</key>
            <dict>
                <key>frame</key>
                <string>{{340,436},{180,128}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,22},{180,128}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0009</key>
            <dict>
                <key>frame</key>
                <string>{{340,436},{180,128}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,22},{180,128}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0010</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{184,142}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,11},{184,142}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0011</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{184,142}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,11},{184,142}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{190,146}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{190,146}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{190,146}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{190,146}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{260,144}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{260,144}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{260,144}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{260,144}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,160}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{276,160}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,160}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{276,160}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0018</key>
            <dict>
                <key>frame</key>
                <string>{{172,468},{166,144}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,4},{166,144}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
            <key>rpg-time/0019</key>
            <dict>
                <key>frame</key>
                <string>{{172,468},{166,144}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,4},{166,144}}</string>
                <key>sourceSize</key>
                <string>{286,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-time.png</string>
            <key>size</key>
            <string>{471,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:616e3a49e1bb5ed68616eb368f23d6d4:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-time.png</string>
        </dict>
    </dict>
</plist>
