<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rpg-gear/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
            <key>rpg-gear/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,54}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{57,54}}</string>
                <key>sourceSize</key>
                <string>{339,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rpg-gear.png</string>
            <key>size</key>
            <string>{61,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f8eab8aa0dbe53731a7a26032752127:1/1$</string>
            <key>textureFileName</key>
            <string>rpg-gear.png</string>
        </dict>
    </dict>
</plist>
