<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/activityShop/da.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{171,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,246}}</string>
			<key>sourceSize</key>
			<string>{171,246}</string>
		</dict>
		<key>images/activityShop/earse.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,100},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>images/activityShop/g.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,36},{237,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,49}}</string>
			<key>sourceSize</key>
			<string>{237,49}</string>
		</dict>
		<key>images/activityShop/g_k.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,36},{262,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,63}}</string>
			<key>sourceSize</key>
			<string>{262,63}</string>
		</dict>
		<key>images/activityShop/iconMark.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,36},{34,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,61}}</string>
			<key>sourceSize</key>
			<string>{34,61}</string>
		</dict>
		<key>images/activityShop/titleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,1},{541,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{541,34}}</string>
			<key>sourceSize</key>
			<string>{541,34}</string>
		</dict>
		<key>images/activityShop/titleBlackMarket.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,178},{103,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,25}}</string>
			<key>sourceSize</key>
			<string>{103,25}</string>
		</dict>
		<key>images/activityShop/titleHot.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,100},{102,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,26}}</string>
			<key>sourceSize</key>
			<string>{102,26}</string>
		</dict>
		<key>images/activityShop/titleSpecial.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,151},{103,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,26}}</string>
			<key>sourceSize</key>
			<string>{103,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>activityShop_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{715,248}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d6e6f9f94ac4d7558d879482f6a35c7a:1/1$</string>
		<key>textureFileName</key>
		<string>activityShop_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
