<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/barrack2Icon/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,406},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,325},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,406},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,325},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/105.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,244},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/106.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,244},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/107.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,406},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/108.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,325},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/109.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,244},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/201.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,163},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/202.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,163},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/203.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,163},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/204.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,406},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/205.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,325},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/206.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,244},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/207.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,163},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/208.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,82},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/209.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,82},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/301.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,82},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/302.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,82},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/303.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,406},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/304.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,325},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/305.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,244},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/306.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,163},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/307.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,82},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/308.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/309.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/401.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/402.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/403.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/404.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,406},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/405.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,325},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/406.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,244},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/407.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,163},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/408.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,82},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/409.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/barrack2Icon/501.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,1},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>barrack2Icon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{556,487}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a1ed62c0d2b89bcd66031a95b3239f08:1/1$</string>
		<key>textureFileName</key>
		<string>barrack2Icon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
