<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/barrackIcon/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{1136,831},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,831},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{1136,665},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,665},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/105.png</key>
		<dict>
			<key>frame</key>
			<string>{{1136,499},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/106.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,499},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/107.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,831},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/108.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,665},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/109.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,499},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/201.png</key>
		<dict>
			<key>frame</key>
			<string>{{1136,333},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/202.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,333},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/203.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,333},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/204.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,831},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/205.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,665},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/206.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,499},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/207.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,333},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/208.png</key>
		<dict>
			<key>frame</key>
			<string>{{1136,167},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/209.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,167},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/301.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,167},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/302.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,167},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/303.png</key>
		<dict>
			<key>frame</key>
			<string>{{1136,1},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/304.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,1},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/305.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,1},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/306.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,1},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/307.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,831},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/308.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,665},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/309.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,499},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/401.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,333},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/402.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,167},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/403.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,1},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/404.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,831},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/405.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,665},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/406.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,499},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/407.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,333},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/408.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,167},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
		<key>images/barrackIcon/409.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{226,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,165}}</string>
			<key>sourceSize</key>
			<string>{226,165}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>barrackIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1363,997}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:acbd36c5397b029d1052eb4c002b48e9:1/1$</string>
		<key>textureFileName</key>
		<string>barrackIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
