<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/barrack/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,605},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>images/barrack/1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,232},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/1_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,518},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,605},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>images/barrack/2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,595},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/2_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,155},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,605},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>images/barrack/3_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,155},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/3_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,441},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,605},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>images/barrack/4_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,518},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/4_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,78},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,501},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>images/barrack/5_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,78},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/5_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,441},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,459},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>images/barrack/6_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,1},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/6_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,1},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
		<key>images/barrack/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,511},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>images/barrack/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,469},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>images/barrack/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,526},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>images/barrack/IconBingYing1.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,605},{76,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,77}}</string>
			<key>sourceSize</key>
			<string>{76,77}</string>
		</dict>
		<key>images/barrack/IconBingYing2.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,605},{76,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,77}}</string>
			<key>sourceSize</key>
			<string>{76,77}</string>
		</dict>
		<key>images/barrack/IconBingYing3.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,605},{76,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,77}}</string>
			<key>sourceSize</key>
			<string>{76,77}</string>
		</dict>
		<key>images/barrack/IconBingYing4.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,605},{76,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,77}}</string>
			<key>sourceSize</key>
			<string>{76,77}</string>
		</dict>
		<key>images/barrack/IconBingYingBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,602},{76,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,77}}</string>
			<key>sourceSize</key>
			<string>{76,77}</string>
		</dict>
		<key>images/barrack/IconDengJieBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,614},{48,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,21}}</string>
			<key>sourceSize</key>
			<string>{48,21}</string>
		</dict>
		<key>images/barrack/IconGaddi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,365},{296,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296,73}}</string>
			<key>sourceSize</key>
			<string>{296,73}</string>
		</dict>
		<key>images/barrack/IconLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,390},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>images/barrack/Icon_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,614},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,581},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,553},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{941,548},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,548},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,647},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,647},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,647},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,647},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,647},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,647},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,546},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,546},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,614},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,614},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_4_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,614},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,559},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_4_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,636},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_4_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,426},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/Icon_4_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,526},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>images/barrack/SPBg.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,363}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,363}}</string>
			<key>sourceSize</key>
			<string>{640,363}</string>
		</dict>
		<key>images/barrack/SPTaskMark.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,311},{25,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,57}}</string>
			<key>sourceSize</key>
			<string>{25,57}</string>
		</dict>
		<key>images/barrack/SpResBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,1},{197,366}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,366}}</string>
			<key>sourceSize</key>
			<string>{197,366}</string>
		</dict>
		<key>images/barrack/SpResLine.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,439},{189,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,1}}</string>
			<key>sourceSize</key>
			<string>{189,1}</string>
		</dict>
		<key>images/barrack/SpTipAtkType.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,595},{28,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,87}}</string>
			<key>sourceSize</key>
			<string>{28,87}</string>
		</dict>
		<key>images/barrack/SpTipAuar.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,368},{28,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,65}}</string>
			<key>sourceSize</key>
			<string>{28,65}</string>
		</dict>
		<key>images/barrack/SpTipRestrain.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,368},{28,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,65}}</string>
			<key>sourceSize</key>
			<string>{28,65}</string>
		</dict>
		<key>images/barrack/SpTitleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,439},{83,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,16}}</string>
			<key>sourceSize</key>
			<string>{83,16}</string>
		</dict>
		<key>images/barrack/btnAuarDown1.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,602},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarDown2.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,526},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarDown3.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,526},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarDown4.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,526},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarDown5.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,523},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarDown6.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,523},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarNormal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,523},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarNormal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,535},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarNormal3.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,535},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarNormal4.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,469},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarNormal5.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,467},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnAuarNormal6.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,467},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainDown1.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,447},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainDown2.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,447},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainDown3.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,447},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainDown4.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,444},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainDown5.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,444},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainDown6.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,444},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainNormal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,444},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainNormal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,456},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainNormal3.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,456},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainNormal4.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,390},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainNormal5.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,388},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnRestrainNormal6.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,388},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoDown1.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,368},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoDown2.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,368},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoDown3.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,311},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoDown4.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,309},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoDown5.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,365},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoDown6.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,365},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoNormal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,365},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoNormal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,365},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoNormal3.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,365},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoNormal4.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,232},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoNormal5.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,595},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/btnSkillinfoNormal6.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,595},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/barrack/item_4012.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,548},{31,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,26}}</string>
			<key>sourceSize</key>
			<string>{31,26}</string>
		</dict>
		<key>images/barrack/item_4028.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,579},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>images/barrack/item_4029.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,579},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>images/barrack/item_4030.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,579},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>images/barrack/item_4031.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,579},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>barrack_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1024,683}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4effaaed663deeb27ef09d4479985564:1/1$</string>
		<key>textureFileName</key>
		<string>barrack_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
