<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/battleIcon/IconVS.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,507},{99,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,147}}</string>
			<key>sourceSize</key>
			<string>{99,147}</string>
		</dict>
		<key>images/battleIcon/Icon_Generals_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,655},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/battleIcon/Icon_Research.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,658},{86,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,78}}</string>
			<key>sourceSize</key>
			<string>{86,78}</string>
		</dict>
		<key>images/battleIcon/Icon_SoiderClub.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,744},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/battleIcon/Icon_SoiderClub_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,737},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/battleIcon/Icon_Wine.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,673},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/battleIcon/Icon_Wine_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,673},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/battleIcon/Icon_force_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,658},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/battleIcon/Icon_master.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,737},{83,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,78}}</string>
			<key>sourceSize</key>
			<string>{83,78}</string>
		</dict>
		<key>images/battleIcon/Icon_train.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,737},{83,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,78}}</string>
			<key>sourceSize</key>
			<string>{83,78}</string>
		</dict>
		<key>images/battleIcon/Txt_fail.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,507},{238,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,205}}</string>
			<key>sourceSize</key>
			<string>{238,205}</string>
		</dict>
		<key>images/battleIcon/battle_boss_bg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,481},{640,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,25}}</string>
			<key>sourceSize</key>
			<string>{640,25}</string>
		</dict>
		<key>images/battleIcon/battle_head_blue_icon_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,590},{89,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,82}}</string>
			<key>sourceSize</key>
			<string>{89,82}</string>
		</dict>
		<key>images/battleIcon/battle_head_red_icon_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,507},{89,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,82}}</string>
			<key>sourceSize</key>
			<string>{89,82}</string>
		</dict>
		<key>images/battleIcon/fail_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,479}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,479}}</string>
			<key>sourceSize</key>
			<string>{640,479}</string>
		</dict>
		<key>images/battleIcon/win_word_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,713},{120,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,131}}</string>
			<key>sourceSize</key>
			<string>{120,131}</string>
		</dict>
		<key>images/battleIcon/win_word_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,713},{101,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,119}}</string>
			<key>sourceSize</key>
			<string>{101,119}</string>
		</dict>
		<key>images/battleIcon/win_word_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,507},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>battleIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{642,845}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8806121e7355506c2be3c4bdf20df22b:1/1$</string>
		<key>textureFileName</key>
		<string>battleIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
