<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/battle/Bg_blood.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,421},{271,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{271,27}}</string>
			<key>sourceSize</key>
			<string>{271,27}</string>
		</dict>
		<key>images/battle/Bg_hero.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,630},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/battle/Bg_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,433},{49,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,58}}</string>
			<key>sourceSize</key>
			<string>{49,58}</string>
		</dict>
		<key>images/battle/Bg_name.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,449},{78,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,23}}</string>
			<key>sourceSize</key>
			<string>{78,23}</string>
		</dict>
		<key>images/battle/Bg_name2.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,754},{170,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,27}}</string>
			<key>sourceSize</key>
			<string>{170,27}</string>
		</dict>
		<key>images/battle/Bg_nohero.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,580},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>images/battle/Bg_panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,393},{383,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{383,232}}</string>
			<key>sourceSize</key>
			<string>{383,232}</string>
		</dict>
		<key>images/battle/Bg_round.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,810},{91,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,104}}</string>
			<key>sourceSize</key>
			<string>{91,104}</string>
		</dict>
		<key>images/battle/Btn_num_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,921},{116,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,32}}</string>
			<key>sourceSize</key>
			<string>{116,32}</string>
		</dict>
		<key>images/battle/Btn_num_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,915},{116,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,32}}</string>
			<key>sourceSize</key>
			<string>{116,32}</string>
		</dict>
		<key>images/battle/Icon_Generals_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,869},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/battle/Icon_Research.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,752},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>images/battle/Icon_force_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,790},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/battle/Icon_stars.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,894},{66,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,66}}</string>
			<key>sourceSize</key>
			<string>{66,66}</string>
		</dict>
		<key>images/battle/Icon_stars2.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,860},{64,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,60}}</string>
			<key>sourceSize</key>
			<string>{64,60}</string>
		</dict>
		<key>images/battle/Icon_train.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,695},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>images/battle/bao_eff.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,449},{33,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,36}}</string>
			<key>sourceSize</key>
			<string>{33,36}</string>
		</dict>
		<key>images/battle/bar_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,626},{181,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,20}}</string>
			<key>sourceSize</key>
			<string>{181,20}</string>
		</dict>
		<key>images/battle/bar_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,615},{181,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,20}}</string>
			<key>sourceSize</key>
			<string>{181,20}</string>
		</dict>
		<key>images/battle/bar_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,393},{271,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{271,27}}</string>
			<key>sourceSize</key>
			<string>{271,27}</string>
		</dict>
		<key>images/battle/bg_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,695},{165,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,58}}</string>
			<key>sourceSize</key>
			<string>{165,58}</string>
		</dict>
		<key>images/battle/bg_eff.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,449},{97,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,35}}</string>
			<key>sourceSize</key>
			<string>{97,35}</string>
		</dict>
		<key>images/battle/bg_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,636},{165,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,58}}</string>
			<key>sourceSize</key>
			<string>{165,58}</string>
		</dict>
		<key>images/battle/btn_green_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,724},{172,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,76}}</string>
			<key>sourceSize</key>
			<string>{172,76}</string>
		</dict>
		<key>images/battle/btn_green_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,713},{172,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,76}}</string>
			<key>sourceSize</key>
			<string>{172,76}</string>
		</dict>
		<key>images/battle/btn_red_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,647},{172,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,76}}</string>
			<key>sourceSize</key>
			<string>{172,76}</string>
		</dict>
		<key>images/battle/btn_red_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,636},{172,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,76}}</string>
			<key>sourceSize</key>
			<string>{172,76}</string>
		</dict>
		<key>images/battle/captainBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,894},{95,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,62}}</string>
			<key>sourceSize</key>
			<string>{95,62}</string>
		</dict>
		<key>images/battle/fail.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,782},{148,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,77}}</string>
			<key>sourceSize</key>
			<string>{148,77}</string>
		</dict>
		<key>images/battle/head_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,871},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/battle/icon_level_star.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,606},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>images/battle/image06.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,910},{52,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,50}}</string>
			<key>sourceSize</key>
			<string>{52,50}</string>
		</dict>
		<key>images/battle/image07.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,910},{52,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,50}}</string>
			<key>sourceSize</key>
			<string>{52,50}</string>
		</dict>
		<key>images/battle/image08.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,386},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>images/battle/image09.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,473},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>images/battle/image099.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,636},{165,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,58}}</string>
			<key>sourceSize</key>
			<string>{165,58}</string>
		</dict>
		<key>images/battle/image12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,386},{660,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{660,6}}</string>
			<key>sourceSize</key>
			<string>{660,6}</string>
		</dict>
		<key>images/battle/image15.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,487},{74,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,4}}</string>
			<key>sourceSize</key>
			<string>{74,4}</string>
		</dict>
		<key>images/battle/image19.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,615},{105,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,71}}</string>
			<key>sourceSize</key>
			<string>{105,71}</string>
		</dict>
		<key>images/battle/image20.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,626},{17,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,19}}</string>
			<key>sourceSize</key>
			<string>{17,19}</string>
		</dict>
		<key>images/battle/image21.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,860},{38,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,25}}</string>
			<key>sourceSize</key>
			<string>{38,25}</string>
		</dict>
		<key>images/battle/info_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,492},{309,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{309,87}}</string>
			<key>sourceSize</key>
			<string>{309,87}</string>
		</dict>
		<key>images/battle/item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,790},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/battle/ji_eff.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,661},{29,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,33}}</string>
			<key>sourceSize</key>
			<string>{29,33}</string>
		</dict>
		<key>images/battle/kz_eff.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,449},{57,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,37}}</string>
			<key>sourceSize</key>
			<string>{57,37}</string>
		</dict>
		<key>images/battle/operation_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,580},{296,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296,34}}</string>
			<key>sourceSize</key>
			<string>{296,34}</string>
		</dict>
		<key>images/battle/skip.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,801},{91,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,92}}</string>
			<key>sourceSize</key>
			<string>{91,92}</string>
		</dict>
		<key>images/battle/skip_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,801},{91,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,92}}</string>
			<key>sourceSize</key>
			<string>{91,92}</string>
		</dict>
		<key>images/battle/txtImg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,695},{101,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,114}}</string>
			<key>sourceSize</key>
			<string>{101,114}</string>
		</dict>
		<key>images/battle/txtImg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,810},{101,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,99}}</string>
			<key>sourceSize</key>
			<string>{101,99}</string>
		</dict>
		<key>images/battle/win_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{707,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{707,384}}</string>
			<key>sourceSize</key>
			<string>{707,384}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>battle_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{709,961}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dc5bfe572e533e133c8453b58d8bd5c5:1/1$</string>
		<key>textureFileName</key>
		<string>battle_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
