<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/buffIcon/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,1},{138,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,52}}</string>
			<key>sourceSize</key>
			<string>{138,52}</string>
		</dict>
		<key>images/buffIcon/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,1},{138,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,52}}</string>
			<key>sourceSize</key>
			<string>{138,52}</string>
		</dict>
		<key>images/buffIcon/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,1},{138,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,52}}</string>
			<key>sourceSize</key>
			<string>{138,52}</string>
		</dict>
		<key>images/buffIcon/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,1},{138,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,52}}</string>
			<key>sourceSize</key>
			<string>{138,52}</string>
		</dict>
		<key>images/buffIcon/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,1},{138,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,52}}</string>
			<key>sourceSize</key>
			<string>{138,52}</string>
		</dict>
		<key>images/buffIcon/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,1},{138,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,52}}</string>
			<key>sourceSize</key>
			<string>{138,52}</string>
		</dict>
		<key>images/buffIcon/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{138,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,52}}</string>
			<key>sourceSize</key>
			<string>{138,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>buffIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{974,54}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:66ba757ca5d37ab2535518f36da83081:1/1$</string>
		<key>textureFileName</key>
		<string>buffIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
