<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/chargeShare/charge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{90,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,42}}</string>
			<key>sourceSize</key>
			<string>{90,42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chargeShare_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{92,44}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ac6708277c68b792ac67b1a8d80c8e27:1/1$</string>
		<key>textureFileName</key>
		<string>chargeShare_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
