<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/chat/BtnFindFriend1.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,383},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/chat/BtnFindFriend2.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,445},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/chat/BtnVoice1.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,383},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/chat/BtnVoice2.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,84},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/chat/SpBgDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,665},{640,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,77}}</string>
			<key>sourceSize</key>
			<string>{640,77}</string>
		</dict>
		<key>images/chat/SpDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,84},{16,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,22}}</string>
			<key>sourceSize</key>
			<string>{16,22}</string>
		</dict>
		<key>images/chat/SpLaba.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,545},{27,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,30}}</string>
			<key>sourceSize</key>
			<string>{27,30}</string>
		</dict>
		<key>images/chat/SpVip.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,181},{47,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,20}}</string>
			<key>sourceSize</key>
			<string>{47,20}</string>
		</dict>
		<key>images/chat/V.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,716},{20,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,18}}</string>
			<key>sourceSize</key>
			<string>{20,18}</string>
		</dict>
		<key>images/chat/adviser_dufout.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,202},{143,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,180}}</string>
			<key>sourceSize</key>
			<string>{143,180}</string>
		</dict>
		<key>images/chat/arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,716},{44,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,19}}</string>
			<key>sourceSize</key>
			<string>{44,19}</string>
		</dict>
		<key>images/chat/audioImg.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,508},{25,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,36}}</string>
			<key>sourceSize</key>
			<string>{25,36}</string>
		</dict>
		<key>images/chat/best.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,625},{22,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,18}}</string>
			<key>sourceSize</key>
			<string>{22,18}</string>
		</dict>
		<key>images/chat/bgChat.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,644},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/chat/bgImg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{422,663}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{422,663}}</string>
			<key>sourceSize</key>
			<string>{422,663}</string>
		</dict>
		<key>images/chat/bgMy.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,274},{381,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{381,71}}</string>
			<key>sourceSize</key>
			<string>{381,71}</string>
		</dict>
		<key>images/chat/bottomImg.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,716},{42,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,18}}</string>
			<key>sourceSize</key>
			<string>{42,18}</string>
		</dict>
		<key>images/chat/btnReturnDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,445},{46,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,34}}</string>
			<key>sourceSize</key>
			<string>{46,34}</string>
		</dict>
		<key>images/chat/btnReturnNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,146},{46,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,34}}</string>
			<key>sourceSize</key>
			<string>{46,34}</string>
		</dict>
		<key>images/chat/chatBtnShieldImgDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,507},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>images/chat/chatBtnShieldImgNone.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,383},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>images/chat/close_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,586},{39,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,38}}</string>
			<key>sourceSize</key>
			<string>{39,38}</string>
		</dict>
		<key>images/chat/close_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,547},{39,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,38}}</string>
			<key>sourceSize</key>
			<string>{39,38}</string>
		</dict>
		<key>images/chat/commonLine.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,706},{219,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,9}}</string>
			<key>sourceSize</key>
			<string>{219,9}</string>
		</dict>
		<key>images/chat/contentBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,644},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/chat/emotionImg.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,423},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>images/chat/get.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,743},{400,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,40}}</string>
			<key>sourceSize</key>
			<string>{400,40}</string>
		</dict>
		<key>images/chat/input.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,644},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/chat/keyboard.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,1},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>images/chat/lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,480},{46,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,27}}</string>
			<key>sourceSize</key>
			<string>{46,27}</string>
		</dict>
		<key>images/chat/none.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,588},{370,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{370,65}}</string>
			<key>sourceSize</key>
			<string>{370,65}</string>
		</dict>
		<key>images/chat/notGet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,743},{400,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,40}}</string>
			<key>sourceSize</key>
			<string>{400,40}</string>
		</dict>
		<key>images/chat/poingNode.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,576},{15,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,15}}</string>
			<key>sourceSize</key>
			<string>{15,15}</string>
		</dict>
		<key>images/chat/pointBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,346},{15,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,15}}</string>
			<key>sourceSize</key>
			<string>{15,15}</string>
		</dict>
		<key>images/chat/pre.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,522},{370,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{370,65}}</string>
			<key>sourceSize</key>
			<string>{370,65}</string>
		</dict>
		<key>images/chat/redBagNewBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,434},{363,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,87}}</string>
			<key>sourceSize</key>
			<string>{363,87}</string>
		</dict>
		<key>images/chat/redBagNewBgMy.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,346},{363,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,87}}</string>
			<key>sourceSize</key>
			<string>{363,87}</string>
		</dict>
		<key>images/chat/redBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,508},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/chat/redbagBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,202},{381,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{381,71}}</string>
			<key>sourceSize</key>
			<string>{381,71}</string>
		</dict>
		<key>images/chat/tileBg_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,1},{480,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,151}}</string>
			<key>sourceSize</key>
			<string>{480,151}</string>
		</dict>
		<key>images/chat/tipText.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,654},{348,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{348,51}}</string>
			<key>sourceSize</key>
			<string>{348,51}</string>
		</dict>
		<key>images/chat/titleBg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,153},{480,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,48}}</string>
			<key>sourceSize</key>
			<string>{480,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chat_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{991,784}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:45727299da3808002867ccaefcb750a6:1/1$</string>
		<key>textureFileName</key>
		<string>chat_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
