<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/citySkillIcon/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/citySkillIcon/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/citySkillIcon/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/citySkillIcon/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>citySkillIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{325,82}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:698186b0caa8e1117f80b857fa2b8ac6:1/1$</string>
		<key>textureFileName</key>
		<string>citySkillIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
