<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/collectBless/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,173},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/collectBless/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,173},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/collectBless/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,92},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/collectBless/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,92},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/collectBless/img_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,1},{119,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,90}}</string>
			<key>sourceSize</key>
			<string>{119,90}</string>
		</dict>
		<key>images/collectBless/itembg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{620,283}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,283}}</string>
			<key>sourceSize</key>
			<string>{620,283}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>collectBless_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{784,285}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d2467c381edb901c5b1bf4f0918ff086:1/1$</string>
		<key>textureFileName</key>
		<string>collectBless_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
