<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/comment/best_comment_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,77},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/comment/bg_itemPanel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{605,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{605,132}}</string>
			<key>sourceSize</key>
			<string>{605,132}</string>
		</dict>
		<key>images/comment/like_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,39},{69,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,37}}</string>
			<key>sourceSize</key>
			<string>{69,37}</string>
		</dict>
		<key>images/comment/unlike_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,1},{69,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,37}}</string>
			<key>sourceSize</key>
			<string>{69,37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>comment_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{677,134}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5cee4690116dbfdf7cc768314ab6ee9e:1/1$</string>
		<key>textureFileName</key>
		<string>comment_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
