<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/common/Bg_down_panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,494},{620,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,146}}</string>
			<key>sourceSize</key>
			<string>{620,146}</string>
		</dict>
		<key>images/common/Bg_top_panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,187},{619,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{619,155}}</string>
			<key>sourceSize</key>
			<string>{619,155}</string>
		</dict>
		<key>images/common/H.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,285},{15,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,20}}</string>
			<key>sourceSize</key>
			<string>{15,20}</string>
		</dict>
		<key>images/common/HMain_Nav_Left_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,176},{152,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,72}}</string>
			<key>sourceSize</key>
			<string>{152,72}</string>
		</dict>
		<key>images/common/HMain_Nav_Left_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,82},{152,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,72}}</string>
			<key>sourceSize</key>
			<string>{152,72}</string>
		</dict>
		<key>images/common/IconDragon.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,641},{185,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,34}}</string>
			<key>sourceSize</key>
			<string>{185,34}</string>
		</dict>
		<key>images/common/IconDragonBall.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,423},{48,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,41}}</string>
			<key>sourceSize</key>
			<string>{48,41}</string>
		</dict>
		<key>images/common/IconTextBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,249},{108,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,35}}</string>
			<key>sourceSize</key>
			<string>{108,35}</string>
		</dict>
		<key>images/common/IconVip.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,285},{89,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,36}}</string>
			<key>sourceSize</key>
			<string>{89,36}</string>
		</dict>
		<key>images/common/M.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,304},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>images/common/S.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,306},{12,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,20}}</string>
			<key>sourceSize</key>
			<string>{12,20}</string>
		</dict>
		<key>images/common/SPActivityHead.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,855},{640,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,55}}</string>
			<key>sourceSize</key>
			<string>{640,55}</string>
		</dict>
		<key>images/common/SpBottomDecorate.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,477},{263,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,14}}</string>
			<key>sourceSize</key>
			<string>{263,14}</string>
		</dict>
		<key>images/common/bg_big_itemPanel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{610,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,185}}</string>
			<key>sourceSize</key>
			<string>{610,185}</string>
		</dict>
		<key>images/common/bg_soldiernumber.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,155},{27,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,20}}</string>
			<key>sourceSize</key>
			<string>{27,20}</string>
		</dict>
		<key>images/common/bg_tanchuang_vice.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,962},{578,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{578,37}}</string>
			<key>sourceSize</key>
			<string>{578,37}</string>
		</dict>
		<key>images/common/btnPlay_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,564},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>images/common/btnPlay_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,520},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>images/common/building54.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,343},{300,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,150}}</string>
			<key>sourceSize</key>
			<string>{300,150}</string>
		</dict>
		<key>images/common/comment_off_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,465},{52,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,54}}</string>
			<key>sourceSize</key>
			<string>{52,54}</string>
		</dict>
		<key>images/common/comment_on_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,249},{52,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,54}}</string>
			<key>sourceSize</key>
			<string>{52,54}</string>
		</dict>
		<key>images/common/fist_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,304},{17,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,19}}</string>
			<key>sourceSize</key>
			<string>{17,19}</string>
		</dict>
		<key>images/common/iconMark_legion.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,38},{24,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,36}}</string>
			<key>sourceSize</key>
			<string>{24,36}</string>
		</dict>
		<key>images/common/iconMark_self.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,1},{24,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,36}}</string>
			<key>sourceSize</key>
			<string>{24,36}</string>
		</dict>
		<key>images/common/iconRinght.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,477},{70,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,68}}</string>
			<key>sourceSize</key>
			<string>{70,68}</string>
		</dict>
		<key>images/common/iconSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,1},{70,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,68}}</string>
			<key>sourceSize</key>
			<string>{70,68}</string>
		</dict>
		<key>images/common/iconWrong.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,546},{70,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,67}}</string>
			<key>sourceSize</key>
			<string>{70,67}</string>
		</dict>
		<key>images/common/icon_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/common/icon_dot1.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,70},{10,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,8}}</string>
			<key>sourceSize</key>
			<string>{10,8}</string>
		</dict>
		<key>images/common/icon_dot2.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,70},{10,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,8}}</string>
			<key>sourceSize</key>
			<string>{10,8}</string>
		</dict>
		<key>images/common/item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,641},{608,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{608,119}}</string>
			<key>sourceSize</key>
			<string>{608,119}</string>
		</dict>
		<key>images/common/item_bg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,343},{497,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{497,79}}</string>
			<key>sourceSize</key>
			<string>{497,79}</string>
		</dict>
		<key>images/common/sunshine.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,70},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/common/teamNew11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,761},{622,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622,93}}</string>
			<key>sourceSize</key>
			<string>{622,93}</string>
		</dict>
		<key>images/common/uiBgTitle_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,911},{596,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{596,50}}</string>
			<key>sourceSize</key>
			<string>{596,50}</string>
		</dict>
		<key>images/common/wordBg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,423},{377,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{377,53}}</string>
			<key>sourceSize</key>
			<string>{377,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>common_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{800,1000}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:933019c9d4596c667f28a067016d4f4e:1/1$</string>
		<key>textureFileName</key>
		<string>common_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
