<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/component/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,830},{72,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,80}}</string>
			<key>sourceSize</key>
			<string>{72,80}</string>
		</dict>
		<key>images/component/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,830},{72,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,80}}</string>
			<key>sourceSize</key>
			<string>{72,80}</string>
		</dict>
		<key>images/component/BgSetTeamItem.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,530},{552,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{552,123}}</string>
			<key>sourceSize</key>
			<string>{552,123}</string>
		</dict>
		<key>images/component/Bg_Title.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,251},{605,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{605,39}}</string>
			<key>sourceSize</key>
			<string>{605,39}</string>
		</dict>
		<key>images/component/Bg_check.png</key>
		<dict>
			<key>frame</key>
			<string>{{962,463},{54,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,58}}</string>
			<key>sourceSize</key>
			<string>{54,58}</string>
		</dict>
		<key>images/component/Bg_cityinfo2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,294},{560,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{560,194}}</string>
			<key>sourceSize</key>
			<string>{560,194}</string>
		</dict>
		<key>images/component/Bg_fram.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,1},{334,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,416}}</string>
			<key>sourceSize</key>
			<string>{334,416}</string>
		</dict>
		<key>images/component/Bg_teaminfo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,82},{618,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{618,48}}</string>
			<key>sourceSize</key>
			<string>{618,48}</string>
		</dict>
		<key>images/component/Bg_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,75}}</string>
			<key>sourceSize</key>
			<string>{640,75}</string>
		</dict>
		<key>images/component/BtnNumBrown1.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,809},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>images/component/BtnNumBrown2.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,862},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>images/component/BtnNumGreen1.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,809},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>images/component/BtnNumGreen2.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,585},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>images/component/BtnShare1.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,582},{72,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,37}}</string>
			<key>sourceSize</key>
			<string>{72,37}</string>
		</dict>
		<key>images/component/BtnShare2.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,654},{72,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,37}}</string>
			<key>sourceSize</key>
			<string>{72,37}</string>
		</dict>
		<key>images/component/Btn_A_Mini_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,585},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/component/Btn_A_Mini_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,585},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/component/Btn_B_Mini_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,819},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/component/Btn_B_Mini_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,820},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/component/HeroHeadBg100.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,716},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>images/component/HeroHeadFrame100.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,714},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/component/IconPen.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,123},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>images/component/IconRhombus.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,860},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>images/component/IconVS.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,712},{99,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,147}}</string>
			<key>sourceSize</key>
			<string>{99,147}</string>
		</dict>
		<key>images/component/Icon_team1.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,236},{40,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>sourceSize</key>
			<string>{40,46}</string>
		</dict>
		<key>images/component/Icon_team2.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,189},{40,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>sourceSize</key>
			<string>{40,46}</string>
		</dict>
		<key>images/component/Icon_team3.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,142},{40,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>sourceSize</key>
			<string>{40,46}</string>
		</dict>
		<key>images/component/Icon_team4.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,95},{40,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>sourceSize</key>
			<string>{40,46}</string>
		</dict>
		<key>images/component/Icon_team5.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,48},{40,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>sourceSize</key>
			<string>{40,46}</string>
		</dict>
		<key>images/component/Icon_team6.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,1},{40,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>sourceSize</key>
			<string>{40,46}</string>
		</dict>
		<key>images/component/Icon_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,353},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/component/Progress_long.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,457},{399,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{399,21}}</string>
			<key>sourceSize</key>
			<string>{399,21}</string>
		</dict>
		<key>images/component/Progress_long_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,429},{405,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{405,27}}</string>
			<key>sourceSize</key>
			<string>{405,27}</string>
		</dict>
		<key>images/component/S9ShareArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,418},{18,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,9}}</string>
			<key>sourceSize</key>
			<string>{18,9}</string>
		</dict>
		<key>images/component/SPCountdown_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,691},{45,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,117}}</string>
			<key>sourceSize</key>
			<string>{45,117}</string>
		</dict>
		<key>images/component/SPCountdown_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,727},{76,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,114}}</string>
			<key>sourceSize</key>
			<string>{76,114}</string>
		</dict>
		<key>images/component/SPCountdown_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,314},{76,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,114}}</string>
			<key>sourceSize</key>
			<string>{76,114}</string>
		</dict>
		<key>images/component/Share_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,654},{146,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,175}}</string>
			<key>sourceSize</key>
			<string>{146,175}</string>
		</dict>
		<key>images/component/SpCancel.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,97},{21,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,25}}</string>
			<key>sourceSize</key>
			<string>{21,25}</string>
		</dict>
		<key>images/component/SpEnter.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,233},{26,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,29}}</string>
			<key>sourceSize</key>
			<string>{26,29}</string>
		</dict>
		<key>images/component/TxtNai.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,204},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>images/component/TxtTong.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,175},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>images/component/TxtWu.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,146},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>images/component/Txt_img1.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,585},{71,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,30}}</string>
			<key>sourceSize</key>
			<string>{71,30}</string>
		</dict>
		<key>images/component/Txt_img2.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,888},{86,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,27}}</string>
			<key>sourceSize</key>
			<string>{86,27}</string>
		</dict>
		<key>images/component/Txt_img3.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,832},{60,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,27}}</string>
			<key>sourceSize</key>
			<string>{60,27}</string>
		</dict>
		<key>images/component/Vip20.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,691},{47,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,20}}</string>
			<key>sourceSize</key>
			<string>{47,20}</string>
		</dict>
		<key>images/component/Vip36.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,858},{89,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,36}}</string>
			<key>sourceSize</key>
			<string>{89,36}</string>
		</dict>
		<key>images/component/Windows.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,830},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>images/component/arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,860},{22,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,46}}</string>
			<key>sourceSize</key>
			<string>{22,46}</string>
		</dict>
		<key>images/component/attack.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,324},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>images/component/barrage3.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,873},{80,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,30}}</string>
			<key>sourceSize</key>
			<string>{80,30}</string>
		</dict>
		<key>images/component/barrage4.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,842},{80,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,30}}</string>
			<key>sourceSize</key>
			<string>{80,30}</string>
		</dict>
		<key>images/component/barrageBtn1.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,685},{80,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,30}}</string>
			<key>sourceSize</key>
			<string>{80,30}</string>
		</dict>
		<key>images/component/barrageBtn2.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,654},{80,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,30}}</string>
			<key>sourceSize</key>
			<string>{80,30}</string>
		</dict>
		<key>images/component/baryellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,353},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/component/bofang.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,862},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/component/chatBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,654},{534,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{534,36}}</string>
			<key>sourceSize</key>
			<string>{534,36}</string>
		</dict>
		<key>images/component/closebg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,353},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/component/defend.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,620},{23,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,28}}</string>
			<key>sourceSize</key>
			<string>{23,28}</string>
		</dict>
		<key>images/component/di.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,654},{178,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,165}}</string>
			<key>sourceSize</key>
			<string>{178,165}</string>
		</dict>
		<key>images/component/down_line2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,77},{622,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622,4}}</string>
			<key>sourceSize</key>
			<string>{622,4}</string>
		</dict>
		<key>images/component/fail.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,691},{97,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,35}}</string>
			<key>sourceSize</key>
			<string>{97,35}</string>
		</dict>
		<key>images/component/fontShare1.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,832},{49,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,25}}</string>
			<key>sourceSize</key>
			<string>{49,25}</string>
		</dict>
		<key>images/component/fontShare2.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,437},{49,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,25}}</string>
			<key>sourceSize</key>
			<string>{49,25}</string>
		</dict>
		<key>images/component/fontShare3.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,620},{48,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,24}}</string>
			<key>sourceSize</key>
			<string>{48,24}</string>
		</dict>
		<key>images/component/font_lost.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,616},{48,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,24}}</string>
			<key>sourceSize</key>
			<string>{48,24}</string>
		</dict>
		<key>images/component/guideEndInfo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,353},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/component/guideEndPanelBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,353},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/component/hero_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,691},{51,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,20}}</string>
			<key>sourceSize</key>
			<string>{51,20}</string>
		</dict>
		<key>images/component/hero_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,691},{52,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,20}}</string>
			<key>sourceSize</key>
			<string>{52,20}</string>
		</dict>
		<key>images/component/hero_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,691},{52,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,20}}</string>
			<key>sourceSize</key>
			<string>{52,20}</string>
		</dict>
		<key>images/component/hero_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,692},{52,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,20}}</string>
			<key>sourceSize</key>
			<string>{52,20}</string>
		</dict>
		<key>images/component/hero_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,691},{51,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,20}}</string>
			<key>sourceSize</key>
			<string>{51,20}</string>
		</dict>
		<key>images/component/hero_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,692},{52,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,21}}</string>
			<key>sourceSize</key>
			<string>{52,21}</string>
		</dict>
		<key>images/component/icon_cursade.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,860},{36,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,45}}</string>
			<key>sourceSize</key>
			<string>{36,45}</string>
		</dict>
		<key>images/component/icon_energy.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,391},{36,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,45}}</string>
			<key>sourceSize</key>
			<string>{36,45}</string>
		</dict>
		<key>images/component/image01.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,860},{42,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,44}}</string>
			<key>sourceSize</key>
			<string>{42,44}</string>
		</dict>
		<key>images/component/image02.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,283},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>images/component/image05.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,479},{384,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,102}}</string>
			<key>sourceSize</key>
			<string>{384,102}</string>
		</dict>
		<key>images/component/image11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,353},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/component/image12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,353},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/component/image13.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,353},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/component/img_tab_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,291},{578,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{578,2}}</string>
			<key>sourceSize</key>
			<string>{578,2}</string>
		</dict>
		<key>images/component/item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,131},{608,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{608,119}}</string>
			<key>sourceSize</key>
			<string>{608,119}</string>
		</dict>
		<key>images/component/liansheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,522},{68,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,35}}</string>
			<key>sourceSize</key>
			<string>{68,35}</string>
		</dict>
		<key>images/component/lou1.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,712},{117,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,119}}</string>
			<key>sourceSize</key>
			<string>{117,119}</string>
		</dict>
		<key>images/component/lou2.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,558},{66,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,26}}</string>
			<key>sourceSize</key>
			<string>{66,26}</string>
		</dict>
		<key>images/component/me.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,616},{24,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,36}}</string>
			<key>sourceSize</key>
			<string>{24,36}</string>
		</dict>
		<key>images/component/none.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,353},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/component/notBattle.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,292},{61,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,21}}</string>
			<key>sourceSize</key>
			<string>{61,21}</string>
		</dict>
		<key>images/component/num_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,353},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/component/num_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,732},{15,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,19}}</string>
			<key>sourceSize</key>
			<string>{15,19}</string>
		</dict>
		<key>images/component/num_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,479},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>images/component/num_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,712},{15,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,19}}</string>
			<key>sourceSize</key>
			<string>{15,19}</string>
		</dict>
		<key>images/component/num_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,294},{15,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,19}}</string>
			<key>sourceSize</key>
			<string>{15,19}</string>
		</dict>
		<key>images/component/num_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,77},{15,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,19}}</string>
			<key>sourceSize</key>
			<string>{15,19}</string>
		</dict>
		<key>images/component/select_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,712},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>images/component/star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,263},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>images/component/success.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,353},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/component/teamSleepTitleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,489},{556,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{556,40}}</string>
			<key>sourceSize</key>
			<string>{556,40}</string>
		</dict>
		<key>images/component/text1.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,881},{75,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,32}}</string>
			<key>sourceSize</key>
			<string>{75,32}</string>
		</dict>
		<key>images/component/text2.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,881},{96,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,33}}</string>
			<key>sourceSize</key>
			<string>{96,33}</string>
		</dict>
		<key>images/component/vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,820},{52,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,67}}</string>
			<key>sourceSize</key>
			<string>{52,67}</string>
		</dict>
		<key>images/component/win.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,880},{97,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,35}}</string>
			<key>sourceSize</key>
			<string>{97,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>component_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1018,916}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0f71703bd9de03628ed96421ec41a06c:1/1$</string>
		<key>textureFileName</key>
		<string>component_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
