<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/consort/0.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,953},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/consort/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,922},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/consort/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,953},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/consort/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,922},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/consort/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,958},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/consort/501_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,648},{380,337}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{380,337}}</string>
			<key>sourceSize</key>
			<string>{380,337}</string>
		</dict>
		<key>images/consort/501_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,900},{36,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,86}}</string>
			<key>sourceSize</key>
			<string>{36,86}</string>
		</dict>
		<key>images/consort/513_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,339},{380,337}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{380,337}}</string>
			<key>sourceSize</key>
			<string>{380,337}</string>
		</dict>
		<key>images/consort/513_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,840},{36,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,86}}</string>
			<key>sourceSize</key>
			<string>{36,86}</string>
		</dict>
		<key>images/consort/521_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,1},{380,337}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{380,337}}</string>
			<key>sourceSize</key>
			<string>{380,337}</string>
		</dict>
		<key>images/consort/521_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,813},{36,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,86}}</string>
			<key>sourceSize</key>
			<string>{36,86}</string>
		</dict>
		<key>images/consort/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,927},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/consort/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,809},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/consort/Decorative1.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,769},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>images/consort/Decorative2.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,725},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>images/consort/bg.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{621,646}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{621,646}}</string>
			<key>sourceSize</key>
			<string>{621,646}</string>
		</dict>
		<key>images/consort/consortDecorative1.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,707},{67,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,17}}</string>
			<key>sourceSize</key>
			<string>{67,17}</string>
		</dict>
		<key>images/consort/lineBottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,737},{30,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,71}}</string>
			<key>sourceSize</key>
			<string>{30,71}</string>
		</dict>
		<key>images/consort/lineMiddle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,986},{7,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,4}}</string>
			<key>sourceSize</key>
			<string>{7,4}</string>
		</dict>
		<key>images/consort/lineTop.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,707},{7,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,29}}</string>
			<key>sourceSize</key>
			<string>{7,29}</string>
		</dict>
		<key>images/consort/qmd.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,677},{73,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,29}}</string>
			<key>sourceSize</key>
			<string>{73,29}</string>
		</dict>
		<key>images/consort/s_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,677},{545,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{545,244}}</string>
			<key>sourceSize</key>
			<string>{545,244}</string>
		</dict>
		<key>images/consort/wedgeImg.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,648},{65,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,21}}</string>
			<key>sourceSize</key>
			<string>{65,21}</string>
		</dict>
		<key>images/consort/x_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,648},{151,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,27}}</string>
			<key>sourceSize</key>
			<string>{151,27}</string>
		</dict>
		<key>images/consort/y_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,922},{353,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{353,70}}</string>
			<key>sourceSize</key>
			<string>{353,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>consort_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1004,993}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:893000f4492732279e0543ffb726c2c9:1/1$</string>
		<key>textureFileName</key>
		<string>consort_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
