<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/consigliere/advance.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,413},{98,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,50}}</string>
			<key>sourceSize</key>
			<string>{98,50}</string>
		</dict>
		<key>images/consigliere/adviser_dufout.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,134},{143,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,180}}</string>
			<key>sourceSize</key>
			<string>{143,180}</string>
		</dict>
		<key>images/consigliere/adviser_job.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,334},{113,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,31}}</string>
			<key>sourceSize</key>
			<string>{113,31}</string>
		</dict>
		<key>images/consigliere/adviser_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,372},{62,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,4}}</string>
			<key>sourceSize</key>
			<string>{62,4}</string>
		</dict>
		<key>images/consigliere/bg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{527,379}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{527,379}}</string>
			<key>sourceSize</key>
			<string>{527,379}</string>
		</dict>
		<key>images/consigliere/bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,503},{33,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,72}}</string>
			<key>sourceSize</key>
			<string>{33,72}</string>
		</dict>
		<key>images/consigliere/bg5.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,381},{210,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,31}}</string>
			<key>sourceSize</key>
			<string>{210,31}</string>
		</dict>
		<key>images/consigliere/bg6.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,381},{254,504}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,504}}</string>
			<key>sourceSize</key>
			<string>{254,504}</string>
		</dict>
		<key>images/consigliere/bg7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,381},{254,504}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,504}}</string>
			<key>sourceSize</key>
			<string>{254,504}</string>
		</dict>
		<key>images/consigliere/iconBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,464},{86,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,96}}</string>
			<key>sourceSize</key>
			<string>{86,96}</string>
		</dict>
		<key>images/consigliere/j10.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,1},{165,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,132}}</string>
			<key>sourceSize</key>
			<string>{165,132}</string>
		</dict>
		<key>images/consigliere/skill1.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,541},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/consigliere/skill2.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,503},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/consigliere/skill3.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,465},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/consigliere/skill4.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,465},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/consigliere/skill5.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,465},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/consigliere/skill_no.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,334},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/consigliere/tian_fu.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,334},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/consigliere/tian_fu_no.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,296},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/consigliere/tit01.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,439},{97,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,25}}</string>
			<key>sourceSize</key>
			<string>{97,25}</string>
		</dict>
		<key>images/consigliere/tit02.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,413},{97,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,25}}</string>
			<key>sourceSize</key>
			<string>{97,25}</string>
		</dict>
		<key>images/consigliere/tit03.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,174},{46,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,121}}</string>
			<key>sourceSize</key>
			<string>{46,121}</string>
		</dict>
		<key>images/consigliere/tit2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,503},{36,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,86}}</string>
			<key>sourceSize</key>
			<string>{36,86}</string>
		</dict>
		<key>images/consigliere/tit2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,134},{14,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,36}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>images/consigliere/tit2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,539},{14,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,35}}</string>
			<key>sourceSize</key>
			<string>{14,35}</string>
		</dict>
		<key>images/consigliere/tit2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,576},{15,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,35}}</string>
			<key>sourceSize</key>
			<string>{15,35}</string>
		</dict>
		<key>images/consigliere/tit2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,503},{14,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,35}}</string>
			<key>sourceSize</key>
			<string>{14,35}</string>
		</dict>
		<key>images/consigliere/tit2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,131},{15,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,42}}</string>
			<key>sourceSize</key>
			<string>{15,42}</string>
		</dict>
		<key>images/consigliere/tit2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,88},{15,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,42}}</string>
			<key>sourceSize</key>
			<string>{15,42}</string>
		</dict>
		<key>images/consigliere/tit2_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,45},{15,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,42}}</string>
			<key>sourceSize</key>
			<string>{15,42}</string>
		</dict>
		<key>images/consigliere/tit2_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,1},{15,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,43}}</string>
			<key>sourceSize</key>
			<string>{15,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>consigliere_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{722,886}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9c6433b9708649460f35c8e5fe0eefe1:1/1$</string>
		<key>textureFileName</key>
		<string>consigliere_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
