<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/consigliereImg/body1.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,505},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body101.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,379},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body11.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,253},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body111.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,127},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body121.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,725},{200,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,180}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>images/consigliereImg/body122.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,544},{200,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,180}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>images/consigliereImg/body123.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,363},{200,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,180}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>images/consigliereImg/body124.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,182},{200,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,180}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>images/consigliereImg/body125.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,1},{200,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,180}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>images/consigliereImg/body126.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,725},{200,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,180}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>images/consigliereImg/body127.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,544},{200,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,180}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>images/consigliereImg/body128.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,363},{200,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,180}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>images/consigliereImg/body129.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,182},{200,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,180}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>images/consigliereImg/body130.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{200,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,180}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>images/consigliereImg/body21.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,1},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body31.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,757},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body41.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,631},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body51.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,505},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body61.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,379},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body71.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,253},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body81.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,127},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/body91.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,1},{160,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,125}}</string>
			<key>sourceSize</key>
			<string>{160,125}</string>
		</dict>
		<key>images/consigliereImg/head1.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,892},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head101.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,811},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head102.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,730},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head103.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,649},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head11.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,568},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head111.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,487},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head112.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,406},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head113.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,325},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head12.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,244},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head13.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,163},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head14.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,82},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head15.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head2.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,892},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head21.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,811},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head22.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,730},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head23.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,649},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head24.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,568},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head25.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,487},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head3.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,406},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head31.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,325},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head32.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,244},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head33.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,163},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head34.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,82},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head4.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head41.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,892},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head42.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,811},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head43.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,730},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head44.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,649},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head5.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,568},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head51.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,487},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head52.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,406},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head53.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,325},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head54.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,244},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head61.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,163},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head62.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,82},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head63.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head64.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,874},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head71.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,874},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head72.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,793},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head73.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,793},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head81.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,712},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head82.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,712},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head83.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,631},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head91.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,631},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head92.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,883},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/consigliereImg/head93.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,883},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>consigliereImg_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{970,973}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:867603b2c5666c317adc5714337b68ae:1/1$</string>
		<key>textureFileName</key>
		<string>consigliereImg_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
