<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/cookingWine/add.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,247},{108,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{108,108}</string>
		</dict>
		<key>images/cookingWine/add_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,247},{108,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{108,108}</string>
		</dict>
		<key>images/cookingWine/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,1},{266,505}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,505}}</string>
			<key>sourceSize</key>
			<string>{266,505}</string>
		</dict>
		<key>images/cookingWine/d.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,393},{219,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,40}}</string>
			<key>sourceSize</key>
			<string>{219,40}</string>
		</dict>
		<key>images/cookingWine/d_z.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,434},{132,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,21}}</string>
			<key>sourceSize</key>
			<string>{132,21}</string>
		</dict>
		<key>images/cookingWine/fs-jinzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,393},{81,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,76}}</string>
			<key>sourceSize</key>
			<string>{81,76}</string>
		</dict>
		<key>images/cookingWine/hero_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,1},{184,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,245}}</string>
			<key>sourceSize</key>
			<string>{184,245}</string>
		</dict>
		<key>images/cookingWine/huan.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,434},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>images/cookingWine/huan_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,434},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>images/cookingWine/jiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,356},{148,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,98}}</string>
			<key>sourceSize</key>
			<string>{148,98}</string>
		</dict>
		<key>images/cookingWine/jiubei.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,470},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>images/cookingWine/zhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,470},{26,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,31}}</string>
			<key>sourceSize</key>
			<string>{26,31}</string>
		</dict>
		<key>images/cookingWine/zhuozi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{311,391}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{311,391}}</string>
			<key>sourceSize</key>
			<string>{311,391}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cookingWine_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{798,507}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:04d3913f817dd3238fe56595542261a7:1/1$</string>
		<key>textureFileName</key>
		<string>cookingWine_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
