<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/cornucopia/barbg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,41},{10,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,19}}</string>
			<key>sourceSize</key>
			<string>{10,19}</string>
		</dict>
		<key>images/cornucopia/pen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,41},{288,257}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,257}}</string>
			<key>sourceSize</key>
			<string>{288,257}</string>
		</dict>
		<key>images/cornucopia/progress.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,23},{550,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{550,17}}</string>
			<key>sourceSize</key>
			<string>{550,17}</string>
		</dict>
		<key>images/cornucopia/progressBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{554,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{554,21}}</string>
			<key>sourceSize</key>
			<string>{554,21}</string>
		</dict>
		<key>images/cornucopia/progressTop.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,299},{300,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,32}}</string>
			<key>sourceSize</key>
			<string>{300,32}</string>
		</dict>
		<key>images/cornucopia/yuanbao_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,41},{54,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,37}}</string>
			<key>sourceSize</key>
			<string>{54,37}</string>
		</dict>
		<key>images/cornucopia/yuanbao_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,41},{56,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,30}}</string>
			<key>sourceSize</key>
			<string>{56,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cornucopia_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{556,332}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8d72a5a86fb03ccb5624a4dc5956e21e:1/1$</string>
		<key>textureFileName</key>
		<string>cornucopia_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
