<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/country/btn_add1.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,51},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>images/country/btn_add2.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,1},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>images/country/btn_dynasty1.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,228},{54,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,99}}</string>
			<key>sourceSize</key>
			<string>{54,99}</string>
		</dict>
		<key>images/country/btn_dynasty2.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,351},{54,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,99}}</string>
			<key>sourceSize</key>
			<string>{54,99}</string>
		</dict>
		<key>images/country/font_buff.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,411},{60,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,26}}</string>
			<key>sourceSize</key>
			<string>{60,26}</string>
		</dict>
		<key>images/country/font_debuff_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{347,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{347,226}}</string>
			<key>sourceSize</key>
			<string>{347,226}</string>
		</dict>
		<key>images/country/font_power.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,384},{60,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,26}}</string>
			<key>sourceSize</key>
			<string>{60,26}</string>
		</dict>
		<key>images/country/icon_emperor_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,1},{213,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,195}}</string>
			<key>sourceSize</key>
			<string>{213,195}</string>
		</dict>
		<key>images/country/icon_frame01.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,228},{134,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,122}}</string>
			<key>sourceSize</key>
			<string>{134,122}</string>
		</dict>
		<key>images/country/icon_frame02.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,373},{132,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,122}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>images/country/icon_frame03.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,351},{132,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,122}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>images/country/icon_legion_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,159},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>images/country/icon_legion_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,130},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>images/country/icon_legion_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,101},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>images/country/icon_prison_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,197},{110,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,186}}</string>
			<key>sourceSize</key>
			<string>{110,186}</string>
		</dict>
		<key>images/country/icon_wen_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,228},{156,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,175}}</string>
			<key>sourceSize</key>
			<string>{156,175}</string>
		</dict>
		<key>images/country/icon_wu_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,197},{156,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,175}}</string>
			<key>sourceSize</key>
			<string>{156,175}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>country_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{617,496}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:93b685d7070c239dae17a02af95759e9:1/1$</string>
		<key>textureFileName</key>
		<string>country_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
