<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/createRole/Bg_Namebox.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,834},{282,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,54}}</string>
			<key>sourceSize</key>
			<string>{282,54}</string>
		</dict>
		<key>images/createRole/Bg_man2.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,320},{266,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,318}}</string>
			<key>sourceSize</key>
			<string>{266,318}</string>
		</dict>
		<key>images/createRole/Bg_woman2.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,1},{266,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,318}}</string>
			<key>sourceSize</key>
			<string>{266,318}</string>
		</dict>
		<key>images/createRole/Btn_Frame_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{344,412}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{344,412}}</string>
			<key>sourceSize</key>
			<string>{344,412}</string>
		</dict>
		<key>images/createRole/Btn_Frame_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,515},{268,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,318}}</string>
			<key>sourceSize</key>
			<string>{268,318}</string>
		</dict>
		<key>images/createRole/Btn_dice_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,740},{98,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,110}}</string>
			<key>sourceSize</key>
			<string>{98,110}</string>
		</dict>
		<key>images/createRole/Btn_dice_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,740},{98,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,110}}</string>
			<key>sourceSize</key>
			<string>{98,110}</string>
		</dict>
		<key>images/createRole/Btn_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,639},{284,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,100}}</string>
			<key>sourceSize</key>
			<string>{284,100}</string>
		</dict>
		<key>images/createRole/Btn_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,414},{284,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,100}}</string>
			<key>sourceSize</key>
			<string>{284,100}</string>
		</dict>
		<key>images/createRole/dot.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,515},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>createRole_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{613,889}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c5fd0547e8c9d7039834522822bb939d:1/1$</string>
		<key>textureFileName</key>
		<string>createRole_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
