<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/dayRecharge/14.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,157},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>images/dayRecharge/15.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,157},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>images/dayRecharge/IconMark.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,1},{89,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,108}}</string>
			<key>sourceSize</key>
			<string>{89,108}</string>
		</dict>
		<key>images/dayRecharge/d.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,219},{62,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,20}}</string>
			<key>sourceSize</key>
			<string>{62,20}</string>
		</dict>
		<key>images/dayRecharge/m.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{164,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,176}}</string>
			<key>sourceSize</key>
			<string>{164,176}</string>
		</dict>
		<key>images/dayRecharge/x_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,1},{169,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,155}}</string>
			<key>sourceSize</key>
			<string>{169,155}</string>
		</dict>
		<key>images/dayRecharge/x_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,1},{568,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,155}}</string>
			<key>sourceSize</key>
			<string>{568,155}</string>
		</dict>
		<key>images/dayRecharge/z.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,178},{32,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,40}}</string>
			<key>sourceSize</key>
			<string>{32,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dayRecharge_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{995,250}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0a688e5925c6b97f80a427d7716caae3:1/1$</string>
		<key>textureFileName</key>
		<string>dayRecharge_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
