<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/dayTurntable/btnBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,463},{158,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,156}}</string>
			<key>sourceSize</key>
			<string>{158,156}</string>
		</dict>
		<key>images/dayTurntable/btnBg_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,306},{158,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,156}}</string>
			<key>sourceSize</key>
			<string>{158,156}</string>
		</dict>
		<key>images/dayTurntable/gm.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,306},{142,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,164}}</string>
			<key>sourceSize</key>
			<string>{142,164}</string>
		</dict>
		<key>images/dayTurntable/haftCircle.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,1},{268,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,268}}</string>
			<key>sourceSize</key>
			<string>{268,268}</string>
		</dict>
		<key>images/dayTurntable/haftCircle1.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,1},{268,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,268}}</string>
			<key>sourceSize</key>
			<string>{268,268}</string>
		</dict>
		<key>images/dayTurntable/outCircle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{296,634}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296,634}}</string>
			<key>sourceSize</key>
			<string>{296,634}</string>
		</dict>
		<key>images/dayTurntable/startBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,270},{262,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,262}}</string>
			<key>sourceSize</key>
			<string>{262,262}</string>
		</dict>
		<key>images/dayTurntable/ttRank.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,471},{140,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,117}}</string>
			<key>sourceSize</key>
			<string>{140,117}</string>
		</dict>
		<key>images/dayTurntable/ttbox.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,270},{263,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,35}}</string>
			<key>sourceSize</key>
			<string>{263,35}</string>
		</dict>
		<key>images/dayTurntable/wheelIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,533},{80,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,51}}</string>
			<key>sourceSize</key>
			<string>{80,51}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dayTurntable_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{863,636}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bee4a429f26b4ba90ade565f35027f3d:1/1$</string>
		<key>textureFileName</key>
		<string>dayTurntable_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
