<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/dungeonX/Btn_buyEnergy.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,1},{40,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,37}}</string>
			<key>sourceSize</key>
			<string>{40,37}</string>
		</dict>
		<key>images/dungeonX/ProgressBar.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,1},{445,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{445,14}}</string>
			<key>sourceSize</key>
			<string>{445,14}</string>
		</dict>
		<key>images/dungeonX/ProgressBarBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,42},{445,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{445,14}}</string>
			<key>sourceSize</key>
			<string>{445,14}</string>
		</dict>
		<key>images/dungeonX/bottombg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{130,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,40}}</string>
			<key>sourceSize</key>
			<string>{130,40}</string>
		</dict>
		<key>images/dungeonX/chenmingBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,31},{101,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,29}}</string>
			<key>sourceSize</key>
			<string>{101,29}</string>
		</dict>
		<key>images/dungeonX/hp.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,16},{162,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,10}}</string>
			<key>sourceSize</key>
			<string>{162,10}</string>
		</dict>
		<key>images/dungeonX/hpbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,16},{166,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,14}}</string>
			<key>sourceSize</key>
			<string>{166,14}</string>
		</dict>
		<key>images/dungeonX/starbottomBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,16},{70,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,20}}</string>
			<key>sourceSize</key>
			<string>{70,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dungeonX_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{619,61}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4874c84c33e54ad664c2c09e16015f86:1/1$</string>
		<key>textureFileName</key>
		<string>dungeonX_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
