<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/dungeonIcon/Icon_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,847},{189,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,149}}</string>
			<key>sourceSize</key>
			<string>{189,149}</string>
		</dict>
		<key>images/dungeonIcon/Icon_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,504},{261,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,195}}</string>
			<key>sourceSize</key>
			<string>{261,195}</string>
		</dict>
		<key>images/dungeonIcon/Icon_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,241},{338,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{338,206}}</string>
			<key>sourceSize</key>
			<string>{338,206}</string>
		</dict>
		<key>images/dungeonIcon/Icon_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{403,239}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{403,239}}</string>
			<key>sourceSize</key>
			<string>{403,239}</string>
		</dict>
		<key>images/dungeonIcon/Icon_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,160},{230,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,150}}</string>
			<key>sourceSize</key>
			<string>{230,150}</string>
		</dict>
		<key>images/dungeonIcon/Icon_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,700},{229,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,146}}</string>
			<key>sourceSize</key>
			<string>{229,146}</string>
		</dict>
		<key>images/dungeonIcon/Icon_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,847},{188,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,130}}</string>
			<key>sourceSize</key>
			<string>{188,130}</string>
		</dict>
		<key>images/dungeonIcon/Icon_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,1},{230,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,158}}</string>
			<key>sourceSize</key>
			<string>{230,158}</string>
		</dict>
		<key>images/dungeonIcon/Icon_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,448},{288,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,180}}</string>
			<key>sourceSize</key>
			<string>{288,180}</string>
		</dict>
		<key>images/dungeonIcon/Icon_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,311},{270,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,192}}</string>
			<key>sourceSize</key>
			<string>{270,192}</string>
		</dict>
		<key>images/dungeonIcon/Icon_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,629},{270,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,197}}</string>
			<key>sourceSize</key>
			<string>{270,197}</string>
		</dict>
		<key>images/dungeonIcon/Icon_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,827},{241,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,173}}</string>
			<key>sourceSize</key>
			<string>{241,173}</string>
		</dict>
		<key>images/dungeonIcon/Icon_star_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,241},{33,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,32}}</string>
			<key>sourceSize</key>
			<string>{33,32}</string>
		</dict>
		<key>images/dungeonIcon/spIconBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,504},{65,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,68}}</string>
			<key>sourceSize</key>
			<string>{65,68}</string>
		</dict>
		<key>images/dungeonIcon/spNameBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,978},{161,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,27}}</string>
			<key>sourceSize</key>
			<string>{161,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dungeonIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{636,1006}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:24ad3832cc066e6cdb435ac9a4b86a50:1/1$</string>
		<key>textureFileName</key>
		<string>dungeonIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
