<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/dungeon/ProgressBar.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,16},{445,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{445,14}}</string>
			<key>sourceSize</key>
			<string>{445,14}</string>
		</dict>
		<key>images/dungeon/ProgressBarBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,1},{445,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{445,14}}</string>
			<key>sourceSize</key>
			<string>{445,14}</string>
		</dict>
		<key>images/dungeon/bottombg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{130,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,40}}</string>
			<key>sourceSize</key>
			<string>{130,40}</string>
		</dict>
		<key>images/dungeon/chenmingBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,1},{101,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,29}}</string>
			<key>sourceSize</key>
			<string>{101,29}</string>
		</dict>
		<key>images/dungeon/starbottomBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,1},{70,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,20}}</string>
			<key>sourceSize</key>
			<string>{70,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dungeon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{751,42}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:18dd76d67db40987d0b82b4df224ae30:1/1$</string>
		<key>textureFileName</key>
		<string>dungeon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
