<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/emperorCityIcon/bg_city.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{134,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,121}}</string>
			<key>sourceSize</key>
			<string>{134,121}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name1.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,64},{99,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,27}}</string>
			<key>sourceSize</key>
			<string>{99,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name10.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,29},{97,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,27}}</string>
			<key>sourceSize</key>
			<string>{97,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name11.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,1},{97,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,27}}</string>
			<key>sourceSize</key>
			<string>{97,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name12.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,57},{97,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,27}}</string>
			<key>sourceSize</key>
			<string>{97,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name13.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,29},{97,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,27}}</string>
			<key>sourceSize</key>
			<string>{97,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name14.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,92},{99,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,27}}</string>
			<key>sourceSize</key>
			<string>{99,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name15.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,1},{96,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,27}}</string>
			<key>sourceSize</key>
			<string>{96,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name2.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,64},{99,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,27}}</string>
			<key>sourceSize</key>
			<string>{99,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name3.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,92},{99,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,27}}</string>
			<key>sourceSize</key>
			<string>{99,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name4.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,64},{99,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,27}}</string>
			<key>sourceSize</key>
			<string>{99,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name5.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,92},{98,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,27}}</string>
			<key>sourceSize</key>
			<string>{98,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name6.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,64},{98,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,27}}</string>
			<key>sourceSize</key>
			<string>{98,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name7.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,92},{98,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,27}}</string>
			<key>sourceSize</key>
			<string>{98,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name8.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,92},{98,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,27}}</string>
			<key>sourceSize</key>
			<string>{98,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_city_name9.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,1},{97,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,27}}</string>
			<key>sourceSize</key>
			<string>{97,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_status1.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,85},{78,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,27}}</string>
			<key>sourceSize</key>
			<string>{78,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_status22.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,85},{78,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,27}}</string>
			<key>sourceSize</key>
			<string>{78,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_status3.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,57},{78,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,27}}</string>
			<key>sourceSize</key>
			<string>{78,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_status33.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,57},{78,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,27}}</string>
			<key>sourceSize</key>
			<string>{78,27}</string>
		</dict>
		<key>images/emperorCityIcon/font_status4.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,29},{78,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,27}}</string>
			<key>sourceSize</key>
			<string>{78,27}</string>
		</dict>
		<key>images/emperorCityIcon/icon_city1.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,1},{115,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,62}}</string>
			<key>sourceSize</key>
			<string>{115,62}</string>
		</dict>
		<key>images/emperorCityIcon/icon_city2.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,1},{115,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,62}}</string>
			<key>sourceSize</key>
			<string>{115,62}</string>
		</dict>
		<key>images/emperorCityIcon/icon_city3.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,1},{115,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,62}}</string>
			<key>sourceSize</key>
			<string>{115,62}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>emperorCityIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{791,123}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c484927b2a5dbee939bfaa792676e9c1:1/1$</string>
		<key>textureFileName</key>
		<string>emperorCityIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
