<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/emperorCity/bg_city.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{134,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,121}}</string>
			<key>sourceSize</key>
			<string>{134,121}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>emperorCity_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{136,123}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c37eb5336fe4db401214c6eee67a5337:1/1$</string>
		<key>textureFileName</key>
		<string>emperorCity_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
