<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/especialGoodsUse/bg3361.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,1},{543,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{543,48}}</string>
			<key>sourceSize</key>
			<string>{543,48}</string>
		</dict>
		<key>images/especialGoodsUse/bg3362.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,1},{543,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{543,48}}</string>
			<key>sourceSize</key>
			<string>{543,48}</string>
		</dict>
		<key>images/especialGoodsUse/bg3363.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,1},{543,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{543,48}}</string>
			<key>sourceSize</key>
			<string>{543,48}</string>
		</dict>
		<key>images/especialGoodsUse/bg3364.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,1},{543,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{543,48}}</string>
			<key>sourceSize</key>
			<string>{543,48}</string>
		</dict>
		<key>images/especialGoodsUse/bg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,1},{543,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{543,48}}</string>
			<key>sourceSize</key>
			<string>{543,48}</string>
		</dict>
		<key>images/especialGoodsUse/horn3361.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,1},{65,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,57}}</string>
			<key>sourceSize</key>
			<string>{65,57}</string>
		</dict>
		<key>images/especialGoodsUse/horn3362.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,1},{65,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,57}}</string>
			<key>sourceSize</key>
			<string>{65,57}</string>
		</dict>
		<key>images/especialGoodsUse/horn3363.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,1},{65,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,57}}</string>
			<key>sourceSize</key>
			<string>{65,57}</string>
		</dict>
		<key>images/especialGoodsUse/horn3364.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{65,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,57}}</string>
			<key>sourceSize</key>
			<string>{65,57}</string>
		</dict>
		<key>images/especialGoodsUse/horn_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,1},{60,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,53}}</string>
			<key>sourceSize</key>
			<string>{60,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>especialGoodsUse_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{870,59}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:01088475b7d5040e4b297e62ee72b68b:1/1$</string>
		<key>textureFileName</key>
		<string>especialGoodsUse_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
