<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/examActivityIcon/100.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,647},{42,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,41}}</string>
			<key>sourceSize</key>
			<string>{42,41}</string>
		</dict>
		<key>images/examActivityIcon/99.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,638},{33,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,41}}</string>
			<key>sourceSize</key>
			<string>{33,41}</string>
		</dict>
		<key>images/examActivityIcon/a.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,596},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>images/examActivityIcon/b.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,596},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>images/examActivityIcon/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{613,594}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{613,594}}</string>
			<key>sourceSize</key>
			<string>{613,594}</string>
		</dict>
		<key>images/examActivityIcon/c.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,596},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>images/examActivityIcon/cuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,596},{86,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,72}}</string>
			<key>sourceSize</key>
			<string>{86,72}</string>
		</dict>
		<key>images/examActivityIcon/d.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,596},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>images/examActivityIcon/duihao.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,596},{116,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,92}}</string>
			<key>sourceSize</key>
			<string>{116,92}</string>
		</dict>
		<key>images/examActivityIcon/letterBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,596},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>images/examActivityIcon/onTheWay.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,669},{260,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,39}}</string>
			<key>sourceSize</key>
			<string>{260,39}</string>
		</dict>
		<key>images/examActivityIcon/titleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,596},{107,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,41}}</string>
			<key>sourceSize</key>
			<string>{107,41}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>examActivityIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{615,709}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d9baf16ae0e061e0ab19e3c5f766bbc9:1/1$</string>
		<key>textureFileName</key>
		<string>examActivityIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
