<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/faceIcon/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,192},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,192},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,192},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,192},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/13.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,192},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/14.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,192},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/15.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,144},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/16.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,144},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/17.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,144},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/18.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,144},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/19.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,144},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,190},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/20.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,144},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/21.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,96},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/22.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,96},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/23.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,96},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/24.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,96},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/25.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,96},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/26.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,162},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/27.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,162},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/28.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,142},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/29.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,96},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,48},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/30.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,48},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/31.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,48},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/32.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,48},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/33.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,114},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/34.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,114},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/35.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,94},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/36.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,0},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/faceIcon/37.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{109,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,114}}</string>
			<key>sourceSize</key>
			<string>{109,114}</string>
		</dict>
		<key>images/faceIcon/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,48},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,0},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,0},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,0},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,0},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/faceIcon/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,0},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>faceIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{445,240}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:23e3aa255ab09495eaf9c58ddc158930:1/1$</string>
		<key>textureFileName</key>
		<string>faceIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
