<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/fonts/VIP123456789.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,288},{140,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,23}}</string>
			<key>sourceSize</key>
			<string>{140,23}</string>
		</dict>
		<key>images/fonts/VIP2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,373},{140,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,22}}</string>
			<key>sourceSize</key>
			<string>{140,22}</string>
		</dict>
		<key>images/fonts/VIP3.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,158},{230,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,33}}</string>
			<key>sourceSize</key>
			<string>{230,33}</string>
		</dict>
		<key>images/fonts/VIP_RoleInfo.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,348},{160,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,24}}</string>
			<key>sourceSize</key>
			<string>{160,24}</string>
		</dict>
		<key>images/fonts/equipLv.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,340},{180,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,22}}</string>
			<key>sourceSize</key>
			<string>{180,22}</string>
		</dict>
		<key>images/fonts/image18.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,394},{380,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{380,39}}</string>
			<key>sourceSize</key>
			<string>{380,39}</string>
		</dict>
		<key>images/fonts/lvnum.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,322},{180,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,25}}</string>
			<key>sourceSize</key>
			<string>{180,25}</string>
		</dict>
		<key>images/fonts/numBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{600,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{600,84}}</string>
			<key>sourceSize</key>
			<string>{600,84}</string>
		</dict>
		<key>images/fonts/num_activityShop.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,434},{130,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,20}}</string>
			<key>sourceSize</key>
			<string>{130,20}</string>
		</dict>
		<key>images/fonts/num_attack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,133},{340,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,46}}</string>
			<key>sourceSize</key>
			<string>{340,46}</string>
		</dict>
		<key>images/fonts/num_attack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,86},{340,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,46}}</string>
			<key>sourceSize</key>
			<string>{340,46}</string>
		</dict>
		<key>images/fonts/num_attack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,394},{380,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{380,39}}</string>
			<key>sourceSize</key>
			<string>{380,39}</string>
		</dict>
		<key>images/fonts/num_attack_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,232},{310,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,31}}</string>
			<key>sourceSize</key>
			<string>{310,31}</string>
		</dict>
		<key>images/fonts/num_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,180},{300,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,42}}</string>
			<key>sourceSize</key>
			<string>{300,42}</string>
		</dict>
		<key>images/fonts/num_boss_battle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,417},{140,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,19}}</string>
			<key>sourceSize</key>
			<string>{140,19}</string>
		</dict>
		<key>images/fonts/num_capacity.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,123},{230,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,34}}</string>
			<key>sourceSize</key>
			<string>{230,34}</string>
		</dict>
		<key>images/fonts/num_emperorAward.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,434},{130,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,19}}</string>
			<key>sourceSize</key>
			<string>{130,19}</string>
		</dict>
		<key>images/fonts/num_exp_minus.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,312},{180,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,27}}</string>
			<key>sourceSize</key>
			<string>{180,27}</string>
		</dict>
		<key>images/fonts/num_exp_plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,321},{180,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,27}}</string>
			<key>sourceSize</key>
			<string>{180,27}</string>
		</dict>
		<key>images/fonts/num_giftBag.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,294},{190,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,27}}</string>
			<key>sourceSize</key>
			<string>{190,27}</string>
		</dict>
		<key>images/fonts/num_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,396},{140,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,20}}</string>
			<key>sourceSize</key>
			<string>{140,20}</string>
		</dict>
		<key>images/fonts/num_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,434},{120,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,20}}</string>
			<key>sourceSize</key>
			<string>{120,20}</string>
		</dict>
		<key>images/fonts/num_keyboard.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,264},{200,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,29}}</string>
			<key>sourceSize</key>
			<string>{200,29}</string>
		</dict>
		<key>images/fonts/num_national_power.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,363},{160,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,23}}</string>
			<key>sourceSize</key>
			<string>{160,23}</string>
		</dict>
		<key>images/fonts/num_pub.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,293},{190,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,27}}</string>
			<key>sourceSize</key>
			<string>{190,27}</string>
		</dict>
		<key>images/fonts/num_recharge_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,223},{280,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,38}}</string>
			<key>sourceSize</key>
			<string>{280,38}</string>
		</dict>
		<key>images/fonts/num_recharge_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,437},{131,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,18}}</string>
			<key>sourceSize</key>
			<string>{131,18}</string>
		</dict>
		<key>images/fonts/num_round.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,192},{280,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,39}}</string>
			<key>sourceSize</key>
			<string>{280,39}</string>
		</dict>
		<key>images/fonts/num_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,262},{240,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,30}}</string>
			<key>sourceSize</key>
			<string>{240,30}</string>
		</dict>
		<key>images/fonts/num_star_level.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,264},{150,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,23}}</string>
			<key>sourceSize</key>
			<string>{150,23}</string>
		</dict>
		<key>images/fonts/num_vip.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,373},{140,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,20}}</string>
			<key>sourceSize</key>
			<string>{140,20}</string>
		</dict>
		<key>images/fonts/num_wins.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,349},{160,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,23}}</string>
			<key>sourceSize</key>
			<string>{160,23}</string>
		</dict>
		<key>images/fonts/vip_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,86},{250,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,36}}</string>
			<key>sourceSize</key>
			<string>{250,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fonts_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{602,456}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:76aeca5bb068ffb24d66b2fa58b6d5ac:1/1$</string>
		<key>textureFileName</key>
		<string>fonts_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
