<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/fontsIcon/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,1},{25,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,58}}</string>
			<key>sourceSize</key>
			<string>{25,58}</string>
		</dict>
		<key>images/fontsIcon/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,1},{39,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,57}}</string>
			<key>sourceSize</key>
			<string>{39,57}</string>
		</dict>
		<key>images/fontsIcon/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,1},{39,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,57}}</string>
			<key>sourceSize</key>
			<string>{39,57}</string>
		</dict>
		<key>images/fontsIcon/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{40,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,58}}</string>
			<key>sourceSize</key>
			<string>{40,58}</string>
		</dict>
		<key>images/fontsIcon/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,1},{40,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,57}}</string>
			<key>sourceSize</key>
			<string>{40,57}</string>
		</dict>
		<key>images/fontsIcon/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,1},{38,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,58}}</string>
			<key>sourceSize</key>
			<string>{38,58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fontsIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{228,60}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:60275d037f26a8155d7fb39695a6ffae:1/1$</string>
		<key>textureFileName</key>
		<string>fontsIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
