<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/frame/Frame_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,1},{580,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{580,41}}</string>
			<key>sourceSize</key>
			<string>{580,41}</string>
		</dict>
		<key>images/frame/Frame_middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,85},{580,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{580,24}}</string>
			<key>sourceSize</key>
			<string>{580,24}</string>
		</dict>
		<key>images/frame/Frame_tip_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,68},{580,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{580,26}}</string>
			<key>sourceSize</key>
			<string>{580,26}</string>
		</dict>
		<key>images/frame/Frame_tip_middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,95},{580,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{580,13}}</string>
			<key>sourceSize</key>
			<string>{580,13}</string>
		</dict>
		<key>images/frame/Frame_tip_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,43},{580,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{580,41}}</string>
			<key>sourceSize</key>
			<string>{580,41}</string>
		</dict>
		<key>images/frame/Frame_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{580,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{580,66}}</string>
			<key>sourceSize</key>
			<string>{580,66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>frame_ui_resouce_big_0.webp</string>
		<key>size</key>
		<string>{1163,110}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:876a4e8e92a204869d3af29da007116c:1/1$</string>
		<key>textureFileName</key>
		<string>frame_ui_resouce_big_0.webp</string>
	</dict>
</dict>
</plist>
