<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/frameIcon/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,119},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,1},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,119},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,1},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,119},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,1},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,119},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,1},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,119},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,1},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,119},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
		<key>images/frameIcon/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{117,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,117}}</string>
			<key>sourceSize</key>
			<string>{117,117}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>frameIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{709,237}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dd9f76ad1edfa48394bb9f9e947b6b69:1/1$</string>
		<key>textureFileName</key>
		<string>frameIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
