<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/friend/Bg_Information_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{611,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{611,196}}</string>
			<key>sourceSize</key>
			<string>{611,196}</string>
		</dict>
		<key>images/friend/fontCreate.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,794},{140,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,45}}</string>
			<key>sourceSize</key>
			<string>{140,45}</string>
		</dict>
		<key>images/friend/fontJoin.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,765},{87,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,45}}</string>
			<key>sourceSize</key>
			<string>{87,45}</string>
		</dict>
		<key>images/friend/invitationDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,765},{81,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,84}}</string>
			<key>sourceSize</key>
			<string>{81,84}</string>
		</dict>
		<key>images/friend/invitationUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,765},{81,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,84}}</string>
			<key>sourceSize</key>
			<string>{81,84}</string>
		</dict>
		<key>images/friend/rectBg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,198},{588,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{588,308}}</string>
			<key>sourceSize</key>
			<string>{588,308}</string>
		</dict>
		<key>images/friend/rectBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,794},{212,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,45}}</string>
			<key>sourceSize</key>
			<string>{212,45}</string>
		</dict>
		<key>images/friend/rectCreate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,507},{286,286}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,286}}</string>
			<key>sourceSize</key>
			<string>{286,286}</string>
		</dict>
		<key>images/friend/rectJoin.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,507},{276,257}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,257}}</string>
			<key>sourceSize</key>
			<string>{276,257}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>friend_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{613,850}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:031453292b635053ca8fbe0b9dbf7217:1/1$</string>
		<key>textureFileName</key>
		<string>friend_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
