<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/gameActivity/BarHongBao.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,479},{351,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{351,21}}</string>
			<key>sourceSize</key>
			<string>{351,21}</string>
		</dict>
		<key>images/gameActivity/BarHongBaoBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,479},{351,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{351,21}}</string>
			<key>sourceSize</key>
			<string>{351,21}</string>
		</dict>
		<key>images/gameActivity/Bg_Smalltitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,66},{177,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,39}}</string>
			<key>sourceSize</key>
			<string>{177,39}</string>
		</dict>
		<key>images/gameActivity/BtnDengLong1.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,106},{74,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,121}}</string>
			<key>sourceSize</key>
			<string>{74,121}</string>
		</dict>
		<key>images/gameActivity/BtnDengLong2.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,106},{74,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,121}}</string>
			<key>sourceSize</key>
			<string>{74,121}</string>
		</dict>
		<key>images/gameActivity/BtnLeft1.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,79},{15,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,53}}</string>
			<key>sourceSize</key>
			<string>{15,53}</string>
		</dict>
		<key>images/gameActivity/BtnLeft2.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,419},{15,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,53}}</string>
			<key>sourceSize</key>
			<string>{15,53}</string>
		</dict>
		<key>images/gameActivity/BtnTab1.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,296},{125,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,67}}</string>
			<key>sourceSize</key>
			<string>{125,67}</string>
		</dict>
		<key>images/gameActivity/BtnTab2.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,228},{125,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,67}}</string>
			<key>sourceSize</key>
			<string>{125,67}</string>
		</dict>
		<key>images/gameActivity/SpActiveBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{519,258}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{519,258}}</string>
			<key>sourceSize</key>
			<string>{519,258}</string>
		</dict>
		<key>images/gameActivity/SpItem11.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,228},{31,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,69}}</string>
			<key>sourceSize</key>
			<string>{31,69}</string>
		</dict>
		<key>images/gameActivity/SpItem12.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,106},{31,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,69}}</string>
			<key>sourceSize</key>
			<string>{31,69}</string>
		</dict>
		<key>images/gameActivity/SpItem21.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,364},{31,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,68}}</string>
			<key>sourceSize</key>
			<string>{31,68}</string>
		</dict>
		<key>images/gameActivity/SpItem22.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,298},{31,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,68}}</string>
			<key>sourceSize</key>
			<string>{31,68}</string>
		</dict>
		<key>images/gameActivity/SpItem31.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,364},{30,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,69}}</string>
			<key>sourceSize</key>
			<string>{30,69}</string>
		</dict>
		<key>images/gameActivity/SpItem32.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,364},{30,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,69}}</string>
			<key>sourceSize</key>
			<string>{30,69}</string>
		</dict>
		<key>images/gameActivity/SpItem41.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,367},{31,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,67}}</string>
			<key>sourceSize</key>
			<string>{31,67}</string>
		</dict>
		<key>images/gameActivity/SpItem42.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,367},{31,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,67}}</string>
			<key>sourceSize</key>
			<string>{31,67}</string>
		</dict>
		<key>images/gameActivity/SpJianTou.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,419},{67,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,59}}</string>
			<key>sourceSize</key>
			<string>{67,59}</string>
		</dict>
		<key>images/gameActivity/SpLineBottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,413},{537,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{537,5}}</string>
			<key>sourceSize</key>
			<string>{537,5}</string>
		</dict>
		<key>images/gameActivity/SpLineTop.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,407},{537,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{537,5}}</string>
			<key>sourceSize</key>
			<string>{537,5}</string>
		</dict>
		<key>images/gameActivity/SpMovBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,260},{520,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{520,146}}</string>
			<key>sourceSize</key>
			<string>{520,146}</string>
		</dict>
		<key>images/gameActivity/SpZhuangShi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,66},{20,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,12}}</string>
			<key>sourceSize</key>
			<string>{20,12}</string>
		</dict>
		<key>images/gameActivity/SpZhuangShi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,176},{10,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,27}}</string>
			<key>sourceSize</key>
			<string>{10,27}</string>
		</dict>
		<key>images/gameActivity/SpZhuangShi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,419},{34,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,54}}</string>
			<key>sourceSize</key>
			<string>{34,54}</string>
		</dict>
		<key>images/gameActivity/artIcon53.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,1},{198,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,64}}</string>
			<key>sourceSize</key>
			<string>{198,64}</string>
		</dict>
		<key>images/gameActivity/changeBar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,419},{410,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{410,57}}</string>
			<key>sourceSize</key>
			<string>{410,57}</string>
		</dict>
		<key>images/gameActivity/line.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,477},{455,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,1}}</string>
			<key>sourceSize</key>
			<string>{455,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gameActivity_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{720,501}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9bb6e5dcdc1917135823e641ce5513a0:1/1$</string>
		<key>textureFileName</key>
		<string>gameActivity_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
