<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/generalAndSoldier/Arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,553},{111,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,13}}</string>
			<key>sourceSize</key>
			<string>{111,13}</string>
		</dict>
		<key>images/generalAndSoldier/Gong.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,553},{185,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,136}}</string>
			<key>sourceSize</key>
			<string>{185,136}</string>
		</dict>
		<key>images/generalAndSoldier/Hammer.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,690},{56,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,85}}</string>
			<key>sourceSize</key>
			<string>{56,85}</string>
		</dict>
		<key>images/generalAndSoldier/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{619,551}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{619,551}}</string>
			<key>sourceSize</key>
			<string>{619,551}</string>
		</dict>
		<key>images/generalAndSoldier/smallBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,553},{287,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,227}}</string>
			<key>sourceSize</key>
			<string>{287,227}</string>
		</dict>
		<key>images/generalAndSoldier/soldiersplateI.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,734},{42,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,43}}</string>
			<key>sourceSize</key>
			<string>{42,43}</string>
		</dict>
		<key>images/generalAndSoldier/soldiersplateII.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,690},{42,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,43}}</string>
			<key>sourceSize</key>
			<string>{42,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>generalAndSoldier_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{621,781}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c836c0a8adc3d72b8d27c025203a41ff:1/1$</string>
		<key>textureFileName</key>
		<string>generalAndSoldier_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
