<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/getLotOfMoney/copper.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,99},{76,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,91}}</string>
			<key>sourceSize</key>
			<string>{76,91}</string>
		</dict>
		<key>images/getLotOfMoney/gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,99},{76,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,91}}</string>
			<key>sourceSize</key>
			<string>{76,91}</string>
		</dict>
		<key>images/getLotOfMoney/goldIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,1},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/getLotOfMoney/normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,50},{185,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,48}}</string>
			<key>sourceSize</key>
			<string>{185,48}</string>
		</dict>
		<key>images/getLotOfMoney/selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,1},{185,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,48}}</string>
			<key>sourceSize</key>
			<string>{185,48}</string>
		</dict>
		<key>images/getLotOfMoney/silver.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,99},{76,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,91}}</string>
			<key>sourceSize</key>
			<string>{76,91}</string>
		</dict>
		<key>images/getLotOfMoney/templateBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{584,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{584,218}}</string>
			<key>sourceSize</key>
			<string>{584,218}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>getLotOfMoney_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{817,220}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:21d24c64e770c1e19cd05801b558e26a:1/1$</string>
		<key>textureFileName</key>
		<string>getLotOfMoney_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
