<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/giftBag/closeBtnOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,95},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/giftBag/closeBtnOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,95},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/giftBag/discount.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,95},{92,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,94}}</string>
			<key>sourceSize</key>
			<string>{92,94}</string>
		</dict>
		<key>images/giftBag/gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,190},{63,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,52}}</string>
			<key>sourceSize</key>
			<string>{63,52}</string>
		</dict>
		<key>images/giftBag/itemBb.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{556,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{556,93}}</string>
			<key>sourceSize</key>
			<string>{556,93}</string>
		</dict>
		<key>images/giftBag/limitBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,95},{124,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,63}}</string>
			<key>sourceSize</key>
			<string>{124,63}</string>
		</dict>
		<key>images/giftBag/line.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,190},{558,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,54}}</string>
			<key>sourceSize</key>
			<string>{558,54}</string>
		</dict>
		<key>images/giftBag/redbend.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,1},{69,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,188}}</string>
			<key>sourceSize</key>
			<string>{69,188}</string>
		</dict>
		<key>images/giftBag/t004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,95},{169,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,49}}</string>
			<key>sourceSize</key>
			<string>{169,49}</string>
		</dict>
		<key>images/giftBag/timeIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,145},{25,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,27}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>images/giftBag/white.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,145},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
		<key>images/giftBag/yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,145},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>giftBag_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{628,245}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ff1075518c6371f09ce5d4a3487eb3cf:1/1$</string>
		<key>textureFileName</key>
		<string>giftBag_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
