<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/guideHeadIcon/head1.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,591},{341,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,294}}</string>
			<key>sourceSize</key>
			<string>{341,294}</string>
		</dict>
		<key>images/guideHeadIcon/head2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,591},{341,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,294}}</string>
			<key>sourceSize</key>
			<string>{341,294}</string>
		</dict>
		<key>images/guideHeadIcon/head3.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,296},{341,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,294}}</string>
			<key>sourceSize</key>
			<string>{341,294}</string>
		</dict>
		<key>images/guideHeadIcon/head4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,296},{341,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,294}}</string>
			<key>sourceSize</key>
			<string>{341,294}</string>
		</dict>
		<key>images/guideHeadIcon/head5.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,1},{341,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,294}}</string>
			<key>sourceSize</key>
			<string>{341,294}</string>
		</dict>
		<key>images/guideHeadIcon/head6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{341,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,294}}</string>
			<key>sourceSize</key>
			<string>{341,294}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>guideHeadIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{685,886}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8a210d150f983dcee9494d67b53faeb6:1/1$</string>
		<key>textureFileName</key>
		<string>guideHeadIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
