<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/guideIcon/deep_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,668},{20,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,11}}</string>
			<key>sourceSize</key>
			<string>{20,11}</string>
		</dict>
		<key>images/guideIcon/dir_icon01.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,668},{33,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,20}}</string>
			<key>sourceSize</key>
			<string>{33,20}</string>
		</dict>
		<key>images/guideIcon/dir_icon02.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,668},{33,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,20}}</string>
			<key>sourceSize</key>
			<string>{33,20}</string>
		</dict>
		<key>images/guideIcon/item_bg01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,762},{526,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{526,116}}</string>
			<key>sourceSize</key>
			<string>{526,116}</string>
		</dict>
		<key>images/guideIcon/item_bg02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,645},{526,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{526,116}}</string>
			<key>sourceSize</key>
			<string>{526,116}</string>
		</dict>
		<key>images/guideIcon/plot_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,643}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,643}}</string>
			<key>sourceSize</key>
			<string>{640,643}</string>
		</dict>
		<key>images/guideIcon/tip_font.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,645},{126,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,22}}</string>
			<key>sourceSize</key>
			<string>{126,22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>guideIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{655,879}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:959fe1296936e65f12bdba169641353e:1/1$</string>
		<key>textureFileName</key>
		<string>guideIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
