<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/guide/SpBgTop.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,40}}</string>
			<key>sourceSize</key>
			<string>{640,40}</string>
		</dict>
		<key>images/guide/SpSkip.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,628},{18,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,4}}</string>
			<key>sourceSize</key>
			<string>{18,4}</string>
		</dict>
		<key>images/guide/SpSkipJump.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,628},{18,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,11}}</string>
			<key>sourceSize</key>
			<string>{18,11}</string>
		</dict>
		<key>images/guide/ew.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,602},{92,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,34}}</string>
			<key>sourceSize</key>
			<string>{92,34}</string>
		</dict>
		<key>images/guide/gudie_dianji.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,216},{131,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,41}}</string>
			<key>sourceSize</key>
			<string>{131,41}</string>
		</dict>
		<key>images/guide/gudie_pen.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,551},{37,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,50}}</string>
			<key>sourceSize</key>
			<string>{37,50}</string>
		</dict>
		<key>images/guide/guide_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,551},{69,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,76}}</string>
			<key>sourceSize</key>
			<string>{69,76}</string>
		</dict>
		<key>images/guide/guide_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,72},{143,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,143}}</string>
			<key>sourceSize</key>
			<string>{143,143}</string>
		</dict>
		<key>images/guide/guide_bg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,551},{72,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,33}}</string>
			<key>sourceSize</key>
			<string>{72,33}</string>
		</dict>
		<key>images/guide/guide_rw.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,42},{486,508}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{486,508}}</string>
			<key>sourceSize</key>
			<string>{486,508}</string>
		</dict>
		<key>images/guide/guide_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,551},{280,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,88}}</string>
			<key>sourceSize</key>
			<string>{280,88}</string>
		</dict>
		<key>images/guide/guide_tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,42},{148,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,29}}</string>
			<key>sourceSize</key>
			<string>{148,29}</string>
		</dict>
		<key>images/guide/name_xiaoqiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,551},{30,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,59}}</string>
			<key>sourceSize</key>
			<string>{30,59}</string>
		</dict>
		<key>images/guide/role_Bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,611},{27,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,24}}</string>
			<key>sourceSize</key>
			<string>{27,24}</string>
		</dict>
		<key>images/guide/skip.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,258},{123,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,34}}</string>
			<key>sourceSize</key>
			<string>{123,34}</string>
		</dict>
		<key>images/guide/taskImg.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,551},{29,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,74}}</string>
			<key>sourceSize</key>
			<string>{29,74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>guide_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{642,640}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b5bb76080c5967cddd7319fcd43999cd:1/1$</string>
		<key>textureFileName</key>
		<string>guide_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
