<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/guiScale9/Bg_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{620,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,120}}</string>
			<key>sourceSize</key>
			<string>{620,120}</string>
		</dict>
		<key>images/guiScale9/Bg_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,277},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/guiScale9/Bg_classified.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,226},{78,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,50}}</string>
			<key>sourceSize</key>
			<string>{78,50}</string>
		</dict>
		<key>images/guiScale9/Bg_classified_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,413},{186,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,47}}</string>
			<key>sourceSize</key>
			<string>{186,47}</string>
		</dict>
		<key>images/guiScale9/Bg_square.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,356},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,84}}</string>
			<key>sourceSize</key>
			<string>{84,84}</string>
		</dict>
		<key>images/guiScale9/Frame_item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,226},{540,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{540,129}}</string>
			<key>sourceSize</key>
			<string>{540,129}</string>
		</dict>
		<key>images/guiScale9/bg_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,122},{619,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{619,103}}</string>
			<key>sourceSize</key>
			<string>{619,103}</string>
		</dict>
		<key>images/guiScale9/input.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,277},{60,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,33}}</string>
			<key>sourceSize</key>
			<string>{60,33}</string>
		</dict>
		<key>images/guiScale9/item_bivision.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,413},{98,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,56}}</string>
			<key>sourceSize</key>
			<string>{98,56}</string>
		</dict>
		<key>images/guiScale9/item_bivision_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,356},{460,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,56}}</string>
			<key>sourceSize</key>
			<string>{460,56}</string>
		</dict>
		<key>images/guiScale9/uiBgTitle_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,413},{156,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,39}}</string>
			<key>sourceSize</key>
			<string>{156,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>guiScale9_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{622,470}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4e61885fc696ef46ff8940fc06fa868a:1/1$</string>
		<key>textureFileName</key>
		<string>guiScale9_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
