<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/headPendant/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,104},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/headPendant/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,85},{35,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,42}}</string>
			<key>sourceSize</key>
			<string>{35,42}</string>
		</dict>
		<key>images/headPendant/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,86},{45,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,41}}</string>
			<key>sourceSize</key>
			<string>{45,41}</string>
		</dict>
		<key>images/headPendant/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,1},{65,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,34}}</string>
			<key>sourceSize</key>
			<string>{65,34}</string>
		</dict>
		<key>images/headPendant/105.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,60},{73,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,25}}</string>
			<key>sourceSize</key>
			<string>{73,25}</string>
		</dict>
		<key>images/headPendant/106.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,1},{92,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,34}}</string>
			<key>sourceSize</key>
			<string>{92,34}</string>
		</dict>
		<key>images/headPendant/107.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,75},{53,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,46}}</string>
			<key>sourceSize</key>
			<string>{53,46}</string>
		</dict>
		<key>images/headPendant/108.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,92},{61,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,35}}</string>
			<key>sourceSize</key>
			<string>{61,35}</string>
		</dict>
		<key>images/headPendant/109.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,1},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>images/headPendant/110.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,92},{76,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,35}}</string>
			<key>sourceSize</key>
			<string>{76,35}</string>
		</dict>
		<key>images/headPendant/111.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,1},{77,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,58}}</string>
			<key>sourceSize</key>
			<string>{77,58}</string>
		</dict>
		<key>images/headPendant/112.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,36},{64,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,38}}</string>
			<key>sourceSize</key>
			<string>{64,38}</string>
		</dict>
		<key>images/headPendant/113.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,36},{59,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,48}}</string>
			<key>sourceSize</key>
			<string>{59,48}</string>
		</dict>
		<key>images/headPendant/114.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,36},{16,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,40}}</string>
			<key>sourceSize</key>
			<string>{16,40}</string>
		</dict>
		<key>images/headPendant/115.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,85},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>images/headPendant/116.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,47},{39,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,46}}</string>
			<key>sourceSize</key>
			<string>{39,46}</string>
		</dict>
		<key>images/headPendant/117.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,47},{95,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,44}}</string>
			<key>sourceSize</key>
			<string>{95,44}</string>
		</dict>
		<key>images/headPendant/118.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,1},{95,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,45}}</string>
			<key>sourceSize</key>
			<string>{95,45}</string>
		</dict>
		<key>images/headPendant/119.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{51,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,102}}</string>
			<key>sourceSize</key>
			<string>{51,102}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>headPendant_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{432,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a98a07fd40f3c907093d91166b599938:1/1$</string>
		<key>textureFileName</key>
		<string>headPendant_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
