<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/headIcon/0.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,102},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/headIcon/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,102},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,102},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/105.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/106.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,102},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/107.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/108.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,102},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/109.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/110.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,102},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/201.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/202.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,102},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/203.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/204.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,102},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/301.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/999.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,102},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/9999.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/CC.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,102},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>images/headIcon/nv3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>headIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1011,203}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3e0b4da202c073eaa0750c7a69b239cc:1/1$</string>
		<key>textureFileName</key>
		<string>headIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
