<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/heroTreasureBigIcon/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,430},{397,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{397,206}}</string>
			<key>sourceSize</key>
			<string>{397,206}</string>
		</dict>
		<key>images/heroTreasureBigIcon/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,216},{410,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{410,213}}</string>
			<key>sourceSize</key>
			<string>{410,213}</string>
		</dict>
		<key>images/heroTreasureBigIcon/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,1},{413,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,214}}</string>
			<key>sourceSize</key>
			<string>{413,214}</string>
		</dict>
		<key>images/heroTreasureBigIcon/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,427},{402,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,209}}</string>
			<key>sourceSize</key>
			<string>{402,209}</string>
		</dict>
		<key>images/heroTreasureBigIcon/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,217},{402,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,209}}</string>
			<key>sourceSize</key>
			<string>{402,209}</string>
		</dict>
		<key>images/heroTreasureBigIcon/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{413,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,215}}</string>
			<key>sourceSize</key>
			<string>{413,215}</string>
		</dict>
		<key>images/heroTreasureBigIcon/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,637},{300,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,300}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/heroTreasureBigIcon/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,637},{300,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,300}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/heroTreasureBigIcon/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,637},{300,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,300}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>heroTreasureBigIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{904,938}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dbab3eafeff20c2ccd7d1941c1037170:1/1$</string>
		<key>textureFileName</key>
		<string>heroTreasureBigIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
