<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/heroPokedex/Txt_huoqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,248},{34,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,30}}</string>
			<key>sourceSize</key>
			<string>{34,30}</string>
		</dict>
		<key>images/heroPokedex/Txt_suipianhuoqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,307},{34,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,27}}</string>
			<key>sourceSize</key>
			<string>{34,27}</string>
		</dict>
		<key>images/heroPokedex/talent.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,279},{34,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,27}}</string>
			<key>sourceSize</key>
			<string>{34,27}</string>
		</dict>
		<key>images/heroPokedex/w.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{298,460}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,460}}</string>
			<key>sourceSize</key>
			<string>{298,460}</string>
		</dict>
		<key>images/heroPokedex/x_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,1},{601,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{601,246}}</string>
			<key>sourceSize</key>
			<string>{601,246}</string>
		</dict>
		<key>images/heroPokedex/z.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,335},{53,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,21}}</string>
			<key>sourceSize</key>
			<string>{53,21}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>heroPokedex_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{902,462}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fa8bc1292b7b823a43f91e054a304b4a:1/1$</string>
		<key>textureFileName</key>
		<string>heroPokedex_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
