<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/heroTreasureIcon/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,887},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,889},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,806},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,725},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,725},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,644},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,644},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,808},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,891},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,563},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,563},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,482},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/bg2.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,4},{540,477}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{540,477}}</string>
			<key>sourceSize</key>
			<string>{540,477}</string>
		</dict>
		<key>images/heroTreasureIcon/color_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,727},{53,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,163}}</string>
			<key>sourceSize</key>
			<string>{53,163}</string>
		</dict>
		<key>images/heroTreasureIcon/color_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,563},{53,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,163}}</string>
			<key>sourceSize</key>
			<string>{53,163}</string>
		</dict>
		<key>images/heroTreasureIcon/color_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,644},{53,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,163}}</string>
			<key>sourceSize</key>
			<string>{53,163}</string>
		</dict>
		<key>images/heroTreasureIcon/color_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,736},{53,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,163}}</string>
			<key>sourceSize</key>
			<string>{53,163}</string>
		</dict>
		<key>images/heroTreasureIcon/color_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,572},{53,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,163}}</string>
			<key>sourceSize</key>
			<string>{53,163}</string>
		</dict>
		<key>images/heroTreasureIcon/high_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,482},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/high_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,900},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/high_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,482},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/high_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,912},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/high_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,482},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/infoBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,572},{221,339}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,339}}</string>
			<key>sourceSize</key>
			<string>{221,339}</string>
		</dict>
		<key>images/heroTreasureIcon/line.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{584,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{584,2}}</string>
			<key>sourceSize</key>
			<string>{584,2}</string>
		</dict>
		<key>images/heroTreasureIcon/name_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,912},{37,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,100}}</string>
			<key>sourceSize</key>
			<string>{37,100}</string>
		</dict>
		<key>images/heroTreasureIcon/name_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,186},{38,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,139}}</string>
			<key>sourceSize</key>
			<string>{38,139}</string>
		</dict>
		<key>images/heroTreasureIcon/name_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,326},{37,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,143}}</string>
			<key>sourceSize</key>
			<string>{37,143}</string>
		</dict>
		<key>images/heroTreasureIcon/name_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,628},{34,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,150}}</string>
			<key>sourceSize</key>
			<string>{34,150}</string>
		</dict>
		<key>images/heroTreasureIcon/name_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,85},{39,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,100}}</string>
			<key>sourceSize</key>
			<string>{39,100}</string>
		</dict>
		<key>images/heroTreasureIcon/name_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,912},{37,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,101}}</string>
			<key>sourceSize</key>
			<string>{37,101}</string>
		</dict>
		<key>images/heroTreasureIcon/name_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,470},{37,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,101}}</string>
			<key>sourceSize</key>
			<string>{37,101}</string>
		</dict>
		<key>images/heroTreasureIcon/name_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,912},{35,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,98}}</string>
			<key>sourceSize</key>
			<string>{35,98}</string>
		</dict>
		<key>images/heroTreasureIcon/name_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,912},{35,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,100}}</string>
			<key>sourceSize</key>
			<string>{35,100}</string>
		</dict>
		<key>images/heroTreasureIcon/name_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,482},{37,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,73}}</string>
			<key>sourceSize</key>
			<string>{37,73}</string>
		</dict>
		<key>images/heroTreasureIcon/name_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,556},{37,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,71}}</string>
			<key>sourceSize</key>
			<string>{37,71}</string>
		</dict>
		<key>images/heroTreasureIcon/name_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,572},{36,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,71}}</string>
			<key>sourceSize</key>
			<string>{36,71}</string>
		</dict>
		<key>images/heroTreasureIcon/stageBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,4},{45,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,80}}</string>
			<key>sourceSize</key>
			<string>{45,80}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,968},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,968},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,968},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,970},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,970},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,972},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,972},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,779},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,981},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,981},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/stage_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,981},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>images/heroTreasureIcon/treasureBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,482},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/treasureBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,482},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/heroTreasureIcon/treasureInfoBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,572},{221,339}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,339}}</string>
			<key>sourceSize</key>
			<string>{221,339}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>heroTreasureIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{588,1016}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7cce3bbcb66118df0a7eb5ab81d6f8ad:1/1$</string>
		<key>textureFileName</key>
		<string>heroTreasureIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
