<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/heroTreasureBigIconTwo/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,1},{300,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,300}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/heroTreasureBigIconTwo/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,1},{300,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,300}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>images/heroTreasureBigIconTwo/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{300,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,300}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>heroTreasureBigIconTwo_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{904,302}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5ecb6dab43381bd5318aab1b6ba887e3:1/1$</string>
		<key>textureFileName</key>
		<string>heroTreasureBigIconTwo_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
