<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/heroBgIcon/SpBigHeadBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{317,439}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,439}}</string>
			<key>sourceSize</key>
			<string>{317,439}</string>
		</dict>
		<key>images/heroBgIcon/SpJianTou.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,765},{67,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,59}}</string>
			<key>sourceSize</key>
			<string>{67,59}</string>
		</dict>
		<key>images/heroBgIcon/SpManJi.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,765},{120,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,81}}</string>
			<key>sourceSize</key>
			<string>{120,81}</string>
		</dict>
		<key>images/heroBgIcon/SpZhanLi.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,765},{201,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,39}}</string>
			<key>sourceSize</key>
			<string>{201,39}</string>
		</dict>
		<key>images/heroBgIcon/TxtGuo1.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,805},{37,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,28}}</string>
			<key>sourceSize</key>
			<string>{37,28}</string>
		</dict>
		<key>images/heroBgIcon/TxtGuo2.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,805},{37,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,29}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>images/heroBgIcon/TxtGuo3.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,805},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>images/heroBgIcon/TxtGuo4.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,805},{35,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,28}}</string>
			<key>sourceSize</key>
			<string>{35,28}</string>
		</dict>
		<key>images/heroBgIcon/bgHeroColor1.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,383},{294,381}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,381}}</string>
			<key>sourceSize</key>
			<string>{294,381}</string>
		</dict>
		<key>images/heroBgIcon/bgHeroColor2.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,1},{294,381}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,381}}</string>
			<key>sourceSize</key>
			<string>{294,381}</string>
		</dict>
		<key>images/heroBgIcon/bgHeroColor3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,441},{294,381}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,381}}</string>
			<key>sourceSize</key>
			<string>{294,381}</string>
		</dict>
		<key>images/heroBgIcon/bgHeroColor4.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,383},{294,381}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,381}}</string>
			<key>sourceSize</key>
			<string>{294,381}</string>
		</dict>
		<key>images/heroBgIcon/bgHeroColor5.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,1},{294,381}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,381}}</string>
			<key>sourceSize</key>
			<string>{294,381}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>heroBgIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{909,847}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9308ed533606daa333934cb9c71c065b:1/1$</string>
		<key>textureFileName</key>
		<string>heroBgIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
