<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/heroTrain/01.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,92},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>images/heroTrain/02.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,92},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>images/heroTrain/03.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,92},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>images/heroTrain/04.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,92},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>images/heroTrain/05.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,92},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>images/heroTrain/bg_listView_panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{556,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{556,117}}</string>
			<key>sourceSize</key>
			<string>{556,117}</string>
		</dict>
		<key>images/heroTrain/icon_max_star.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,1},{158,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,90}}</string>
			<key>sourceSize</key>
			<string>{158,90}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>heroTrain_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{717,119}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f6a261eb149521d787a7115a4942cbe9:1/1$</string>
		<key>textureFileName</key>
		<string>heroTrain_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
