<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/heroTreaTrain/bar_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,308},{436,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{436,21}}</string>
			<key>sourceSize</key>
			<string>{436,21}</string>
		</dict>
		<key>images/heroTreaTrain/bar_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,330},{432,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{432,19}}</string>
			<key>sourceSize</key>
			<string>{432,19}</string>
		</dict>
		<key>images/heroTreaTrain/bg_middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,1},{640,303}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,303}}</string>
			<key>sourceSize</key>
			<string>{640,303}</string>
		</dict>
		<key>images/heroTreaTrain/full.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,308},{158,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,90}}</string>
			<key>sourceSize</key>
			<string>{158,90}</string>
		</dict>
		<key>images/heroTreaTrain/huifuBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,399},{62,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,63}}</string>
			<key>sourceSize</key>
			<string>{62,63}</string>
		</dict>
		<key>images/heroTreaTrain/lastLine.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,305},{584,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{584,2}}</string>
			<key>sourceSize</key>
			<string>{584,2}</string>
		</dict>
		<key>images/heroTreaTrain/line.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,305},{584,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{584,2}}</string>
			<key>sourceSize</key>
			<string>{584,2}</string>
		</dict>
		<key>images/heroTreaTrain/washBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{261,519}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,519}}</string>
			<key>sourceSize</key>
			<string>{261,519}</string>
		</dict>
		<key>images/heroTreaTrain/wish.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,463},{97,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,31}}</string>
			<key>sourceSize</key>
			<string>{97,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>heroTreaTrain_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{904,521}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:324e9ae590385baac4070aa3698f9559:1/1$</string>
		<key>textureFileName</key>
		<string>heroTreaTrain_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
