<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/hero/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,237},{25,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,58}}</string>
			<key>sourceSize</key>
			<string>{25,58}</string>
		</dict>
		<key>images/hero/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,296},{39,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,57}}</string>
			<key>sourceSize</key>
			<string>{39,57}</string>
		</dict>
		<key>images/hero/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,266},{39,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,57}}</string>
			<key>sourceSize</key>
			<string>{39,57}</string>
		</dict>
		<key>images/hero/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,237},{40,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,58}}</string>
			<key>sourceSize</key>
			<string>{40,58}</string>
		</dict>
		<key>images/hero/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,237},{40,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,57}}</string>
			<key>sourceSize</key>
			<string>{40,57}</string>
		</dict>
		<key>images/hero/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,293},{38,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,58}}</string>
			<key>sourceSize</key>
			<string>{38,58}</string>
		</dict>
		<key>images/hero/SpBaoJuBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,119},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/hero/SpBaoJuZhuangShi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,237},{24,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,80}}</string>
			<key>sourceSize</key>
			<string>{24,80}</string>
		</dict>
		<key>images/hero/SpBaoJuZhuangShi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,293},{17,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,80}}</string>
			<key>sourceSize</key>
			<string>{17,80}</string>
		</dict>
		<key>images/hero/SpHeadBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,71},{96,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,150}}</string>
			<key>sourceSize</key>
			<string>{96,150}</string>
		</dict>
		<key>images/hero/SpZhanLi.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,449},{119,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,31}}</string>
			<key>sourceSize</key>
			<string>{119,31}</string>
		</dict>
		<key>images/hero/TxtKeShangZhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,153},{82,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,31}}</string>
			<key>sourceSize</key>
			<string>{82,31}</string>
		</dict>
		<key>images/hero/barBlueLong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,476},{608,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{608,20}}</string>
			<key>sourceSize</key>
			<string>{608,20}</string>
		</dict>
		<key>images/hero/barBlueLongBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,449},{614,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{614,26}}</string>
			<key>sourceSize</key>
			<string>{614,26}</string>
		</dict>
		<key>images/hero/barBlueShort.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,138},{178,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,14}}</string>
			<key>sourceSize</key>
			<string>{178,14}</string>
		</dict>
		<key>images/hero/barBlueShortBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,119},{178,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,18}}</string>
			<key>sourceSize</key>
			<string>{178,18}</string>
		</dict>
		<key>images/hero/hero_btn_buzhen_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,222},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/hero/hero_btn_buzhen_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,318},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/hero/hero_btn_jiangjun_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,222},{57,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,55}}</string>
			<key>sourceSize</key>
			<string>{57,55}</string>
		</dict>
		<key>images/hero/hero_btn_jiangjun_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,237},{57,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,55}}</string>
			<key>sourceSize</key>
			<string>{57,55}</string>
		</dict>
		<key>images/hero/hero_changeBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,119},{39,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,33}}</string>
			<key>sourceSize</key>
			<string>{39,33}</string>
		</dict>
		<key>images/hero/hero_circle_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{476,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{476,69}}</string>
			<key>sourceSize</key>
			<string>{476,69}</string>
		</dict>
		<key>images/hero/hero_ensign_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,1},{293,447}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{293,447}}</string>
			<key>sourceSize</key>
			<string>{293,447}</string>
		</dict>
		<key>images/hero/hero_text_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,71},{321,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,47}}</string>
			<key>sourceSize</key>
			<string>{321,47}</string>
		</dict>
		<key>images/hero/hero_trainBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,153},{36,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,27}}</string>
			<key>sourceSize</key>
			<string>{36,27}</string>
		</dict>
		<key>images/hero/hero_treasureBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,449},{35,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,26}}</string>
			<key>sourceSize</key>
			<string>{35,26}</string>
		</dict>
		<key>images/hero/stagBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,185},{45,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,80}}</string>
			<key>sourceSize</key>
			<string>{45,80}</string>
		</dict>
		<key>images/hero/talent1.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,278},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>images/hero/talent2.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,278},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>images/hero/talent3.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,263},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>images/hero/talent4.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,222},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>images/hero/talent5.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,181},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>images/hero/textImg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,200},{211,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,36}}</string>
			<key>sourceSize</key>
			<string>{211,36}</string>
		</dict>
		<key>images/hero/underAdd.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,153},{82,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,31}}</string>
			<key>sourceSize</key>
			<string>{82,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hero_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{772,497}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1261788dec0475da5f5434cd0428c9c6:1/1$</string>
		<key>textureFileName</key>
		<string>hero_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
