<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/jingJueCity/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,678}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,678}}</string>
			<key>sourceSize</key>
			<string>{640,678}</string>
		</dict>
		<key>images/jingJueCity/door.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,833},{96,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,85}}</string>
			<key>sourceSize</key>
			<string>{96,85}</string>
		</dict>
		<key>images/jingJueCity/infoBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,680},{618,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{618,152}}</string>
			<key>sourceSize</key>
			<string>{618,152}</string>
		</dict>
		<key>images/jingJueCity/useItem.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,680},{18,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,20}}</string>
			<key>sourceSize</key>
			<string>{18,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jingJueCity_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{642,919}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ac3fb5d906fba440d67c1077dc906db3:1/1$</string>
		<key>textureFileName</key>
		<string>jingJueCity_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
