<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/legionScienceTech/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{57,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,50}}</string>
			<key>sourceSize</key>
			<string>{57,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>legionScienceTech_ui_resouce_big_0.webp</string>
		<key>size</key>
		<string>{57,50}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:edb517b4dbf2ea5a1f3bce13e5ef1dc6:1/1$</string>
		<key>textureFileName</key>
		<string>legionScienceTech_ui_resouce_big_0.webp</string>
	</dict>
</dict>
</plist>
