<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/legionScene/01.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,91},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/01d.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,1},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/02.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,91},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/02d.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,1},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/03.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,91},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/03d.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,1},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/04.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,91},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/04d.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,1},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/05.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,91},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/05d.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,1},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/06.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,91},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/06d.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,1},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/07.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,91},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/07d.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,1},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/08.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,91},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/08d.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,1},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/09.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,91},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/09d.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>images/legionScene/44.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,73},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/legionScene/active.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,105},{44,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,41}}</string>
			<key>sourceSize</key>
			<string>{44,41}</string>
		</dict>
		<key>images/legionScene/activeLevel_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,63},{44,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,41}}</string>
			<key>sourceSize</key>
			<string>{44,41}</string>
		</dict>
		<key>images/legionScene/activeLevel_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,43},{44,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,41}}</string>
			<key>sourceSize</key>
			<string>{44,41}</string>
		</dict>
		<key>images/legionScene/activeLevel_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,1},{44,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,41}}</string>
			<key>sourceSize</key>
			<string>{44,41}</string>
		</dict>
		<key>images/legionScene/chatBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,63},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/legionScene/g.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,1},{123,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,30}}</string>
			<key>sourceSize</key>
			<string>{123,30}</string>
		</dict>
		<key>images/legionScene/j.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,85},{56,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,61}}</string>
			<key>sourceSize</key>
			<string>{56,61}</string>
		</dict>
		<key>images/legionScene/legion_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,85},{71,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,89}}</string>
			<key>sourceSize</key>
			<string>{71,89}</string>
		</dict>
		<key>images/legionScene/xy.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,32},{122,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,30}}</string>
			<key>sourceSize</key>
			<string>{122,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>legionScene_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{985,181}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c0d403a3d3a0cf7a39a850e2fa03e73a:1/1$</string>
		<key>textureFileName</key>
		<string>legionScene_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
