<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/legionGift/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,49},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/legionGift/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,1},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>images/legionGift/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,28},{19,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,20}}</string>
			<key>sourceSize</key>
			<string>{19,20}</string>
		</dict>
		<key>images/legionGift/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,241},{449,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{449,2}}</string>
			<key>sourceSize</key>
			<string>{449,2}</string>
		</dict>
		<key>images/legionGift/5.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{577,239}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{577,239}}</string>
			<key>sourceSize</key>
			<string>{577,239}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>legionGift_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{606,244}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c74fa5da64bce732dba3ba89c1beb375:1/1$</string>
		<key>textureFileName</key>
		<string>legionGift_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
