<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/legionCity/SelectBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{610,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,190}}</string>
			<key>sourceSize</key>
			<string>{610,190}</string>
		</dict>
		<key>images/legionCity/goBtn1.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,66},{65,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,64}}</string>
			<key>sourceSize</key>
			<string>{65,64}</string>
		</dict>
		<key>images/legionCity/goBtn2.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,66},{65,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,64}}</string>
			<key>sourceSize</key>
			<string>{65,64}</string>
		</dict>
		<key>images/legionCity/hisBtn1.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,1},{65,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,64}}</string>
			<key>sourceSize</key>
			<string>{65,64}</string>
		</dict>
		<key>images/legionCity/hisBtn2.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,1},{65,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,64}}</string>
			<key>sourceSize</key>
			<string>{65,64}</string>
		</dict>
		<key>images/legionCity/limit.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,131},{48,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,50}}</string>
			<key>sourceSize</key>
			<string>{48,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>legionCity_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{744,192}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:29425c91f331d62341c8db8638a77f85:1/1$</string>
		<key>textureFileName</key>
		<string>legionCity_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
