<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/legionWelfare/bg_bottom2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{620,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,275}}</string>
			<key>sourceSize</key>
			<string>{620,275}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>legionWelfare_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{622,277}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4586e7702278e96a214bc13ba50ce837:1/1$</string>
		<key>textureFileName</key>
		<string>legionWelfare_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
