<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/legion/g.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,167},{123,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,30}}</string>
			<key>sourceSize</key>
			<string>{123,30}</string>
		</dict>
		<key>images/legion/x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{593,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{593,165}}</string>
			<key>sourceSize</key>
			<string>{593,165}</string>
		</dict>
		<key>images/legion/xy.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,167},{122,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,30}}</string>
			<key>sourceSize</key>
			<string>{122,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>legion_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{595,198}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:66bff0a56e3683b099265b459d43aaa6:1/1$</string>
		<key>textureFileName</key>
		<string>legion_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
