<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/legionCombatCenter/leftimg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{194,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,131}}</string>
			<key>sourceSize</key>
			<string>{194,131}</string>
		</dict>
		<key>images/legionCombatCenter/title1.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,87},{104,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,26}}</string>
			<key>sourceSize</key>
			<string>{104,26}</string>
		</dict>
		<key>images/legionCombatCenter/title2.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,87},{105,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,26}}</string>
			<key>sourceSize</key>
			<string>{105,26}</string>
		</dict>
		<key>images/legionCombatCenter/title3.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,87},{105,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,26}}</string>
			<key>sourceSize</key>
			<string>{105,26}</string>
		</dict>
		<key>images/legionCombatCenter/title4.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,87},{104,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,26}}</string>
			<key>sourceSize</key>
			<string>{104,26}</string>
		</dict>
		<key>images/legionCombatCenter/title5.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,87},{105,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,26}}</string>
			<key>sourceSize</key>
			<string>{105,26}</string>
		</dict>
		<key>images/legionCombatCenter/x.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{196,1},{620,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,85}}</string>
			<key>sourceSize</key>
			<string>{620,85}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>legionCombatCenter_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{817,133}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e98af5e1d13cfbc49863593079b04295:1/1$</string>
		<key>textureFileName</key>
		<string>legionCombatCenter_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
