<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/limitExp/Bg_downline.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,382},{537,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{537,1}}</string>
			<key>sourceSize</key>
			<string>{537,1}</string>
		</dict>
		<key>images/limitExp/Bg_infoline.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,255},{545,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{545,91}}</string>
			<key>sourceSize</key>
			<string>{545,91}</string>
		</dict>
		<key>images/limitExp/Bg_setting.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,41},{570,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{570,213}}</string>
			<key>sourceSize</key>
			<string>{570,213}</string>
		</dict>
		<key>images/limitExp/Bg_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{641,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{641,39}}</string>
			<key>sourceSize</key>
			<string>{641,39}</string>
		</dict>
		<key>images/limitExp/head_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,347},{255,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,34}}</string>
			<key>sourceSize</key>
			<string>{255,34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>limitExp_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{643,384}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7f1c9a522d1b3fbd11f2ad5047508993:1/1$</string>
		<key>textureFileName</key>
		<string>limitExp_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
