<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/lionTurntable/01.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,717},{30,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,44}}</string>
			<key>sourceSize</key>
			<string>{30,44}</string>
		</dict>
		<key>images/lionTurntable/03.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,565},{55,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,52}}</string>
			<key>sourceSize</key>
			<string>{55,52}</string>
		</dict>
		<key>images/lionTurntable/05.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,514},{58,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,50}}</string>
			<key>sourceSize</key>
			<string>{58,50}</string>
		</dict>
		<key>images/lionTurntable/btn_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,717},{123,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,123}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>images/lionTurntable/btn_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,717},{123,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,123}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>images/lionTurntable/dapan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{512,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,512}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>images/lionTurntable/lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,654},{71,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,35}}</string>
			<key>sourceSize</key>
			<string>{71,35}</string>
		</dict>
		<key>images/lionTurntable/neipan.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,635},{288,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,202}}</string>
			<key>sourceSize</key>
			<string>{288,202}</string>
		</dict>
		<key>images/lionTurntable/neipan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,514},{288,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,202}}</string>
			<key>sourceSize</key>
			<string>{288,202}</string>
		</dict>
		<key>images/lionTurntable/pandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,1},{289,633}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{289,633}}</string>
			<key>sourceSize</key>
			<string>{289,633}</string>
		</dict>
		<key>images/lionTurntable/tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,713},{202,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,140}}</string>
			<key>sourceSize</key>
			<string>{202,140}</string>
		</dict>
		<key>images/lionTurntable/unlock.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,618},{72,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,35}}</string>
			<key>sourceSize</key>
			<string>{72,35}</string>
		</dict>
		<key>images/lionTurntable/zhixiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,514},{147,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,198}}</string>
			<key>sourceSize</key>
			<string>{147,198}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lionTurntable_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{804,859}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8a3cadda2add4676ac1ca3a819ad9415:1/1$</string>
		<key>textureFileName</key>
		<string>lionTurntable_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
