<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/login/Bg_activate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,195},{428,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,56}}</string>
			<key>sourceSize</key>
			<string>{428,56}</string>
		</dict>
		<key>images/login/Bg_branching_ dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,240},{132,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,3}}</string>
			<key>sourceSize</key>
			<string>{132,3}</string>
		</dict>
		<key>images/login/Bg_check.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,154},{54,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,58}}</string>
			<key>sourceSize</key>
			<string>{54,58}</string>
		</dict>
		<key>images/login/Bg_log.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,154},{239,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,39}}</string>
			<key>sourceSize</key>
			<string>{239,39}</string>
		</dict>
		<key>images/login/Bg_txt.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,98},{299,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,96}}</string>
			<key>sourceSize</key>
			<string>{299,96}</string>
		</dict>
		<key>images/login/Bg_warn.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,1},{640,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,75}}</string>
			<key>sourceSize</key>
			<string>{640,75}</string>
		</dict>
		<key>images/login/Bth_been_fram.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,154},{130,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,62}}</string>
			<key>sourceSize</key>
			<string>{130,62}</string>
		</dict>
		<key>images/login/Bth_been_fram2.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,77},{268,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,76}}</string>
			<key>sourceSize</key>
			<string>{268,76}</string>
		</dict>
		<key>images/login/Bth_down_fram.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,77},{130,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,62}}</string>
			<key>sourceSize</key>
			<string>{130,62}</string>
		</dict>
		<key>images/login/Bth_down_fram2.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,77},{268,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,76}}</string>
			<key>sourceSize</key>
			<string>{268,76}</string>
		</dict>
		<key>images/login/Img_check.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,194},{39,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,41}}</string>
			<key>sourceSize</key>
			<string>{39,41}</string>
		</dict>
		<key>images/login/Img_checkBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,194},{34,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,33}}</string>
			<key>sourceSize</key>
			<string>{34,33}</string>
		</dict>
		<key>images/login/Txt.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,194},{270,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,45}}</string>
			<key>sourceSize</key>
			<string>{270,45}</string>
		</dict>
		<key>images/login/bg-on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{299,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,96}}</string>
			<key>sourceSize</key>
			<string>{299,96}</string>
		</dict>
		<key>images/login/bg_log_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,154},{239,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,39}}</string>
			<key>sourceSize</key>
			<string>{239,39}</string>
		</dict>
		<key>images/login/imag11.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,217},{94,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,22}}</string>
			<key>sourceSize</key>
			<string>{94,22}</string>
		</dict>
		<key>images/login/imag12.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,228},{94,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,22}}</string>
			<key>sourceSize</key>
			<string>{94,22}</string>
		</dict>
		<key>images/login/none.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,1},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>login_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{970,252}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a30117426a05af520d294858c7f52a16:1/1$</string>
		<key>textureFileName</key>
		<string>login_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
