<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/lordCity/Bg_battle_time.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,170},{218,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,37}}</string>
			<key>sourceSize</key>
			<string>{218,37}</string>
		</dict>
		<key>images/lordCity/Bg_black.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,122},{292,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,19}}</string>
			<key>sourceSize</key>
			<string>{292,19}</string>
		</dict>
		<key>images/lordCity/Bg_check.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,283},{54,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,58}}</string>
			<key>sourceSize</key>
			<string>{54,58}</string>
		</dict>
		<key>images/lordCity/Bg_city.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{479,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{479,180}}</string>
			<key>sourceSize</key>
			<string>{479,180}</string>
		</dict>
		<key>images/lordCity/Bg_frame_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,264},{187,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,30}}</string>
			<key>sourceSize</key>
			<string>{187,30}</string>
		</dict>
		<key>images/lordCity/Bg_middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,264},{244,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,146}}</string>
			<key>sourceSize</key>
			<string>{244,146}</string>
		</dict>
		<key>images/lordCity/Bg_middle2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,182},{428,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,81}}</string>
			<key>sourceSize</key>
			<string>{428,81}</string>
		</dict>
		<key>images/lordCity/Bg_time.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,142},{260,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,27}}</string>
			<key>sourceSize</key>
			<string>{260,27}</string>
		</dict>
		<key>images/lordCity/Bg_time_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,89},{286,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,32}}</string>
			<key>sourceSize</key>
			<string>{286,32}</string>
		</dict>
		<key>images/lordCity/Btn_A_Mini_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,232},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/lordCity/Btn_A_Mini_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,269},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/lordCity/Btn_A_Mini_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,212},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/lordCity/Btn_B_Mini_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,232},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/lordCity/Btn_B_Mini_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,208},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/lordCity/Btn_B_Mini_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,208},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/lordCity/Btn_C_Mini_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,232},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/lordCity/Btn_C_Mini_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,151},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/lordCity/Btn_C_Mini_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,411},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/lordCity/Btn_Close_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,284},{72,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,80}}</string>
			<key>sourceSize</key>
			<string>{72,80}</string>
		</dict>
		<key>images/lordCity/Btn_Close_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,151},{72,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,80}}</string>
			<key>sourceSize</key>
			<string>{72,80}</string>
		</dict>
		<key>images/lordCity/Btn_attack.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,269},{97,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,81}}</string>
			<key>sourceSize</key>
			<string>{97,81}</string>
		</dict>
		<key>images/lordCity/Btn_help_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,273},{72,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,80}}</string>
			<key>sourceSize</key>
			<string>{72,80}</string>
		</dict>
		<key>images/lordCity/Btn_help_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,295},{72,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,80}}</string>
			<key>sourceSize</key>
			<string>{72,80}</string>
		</dict>
		<key>images/lordCity/Btn_power_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,410},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/lordCity/Btn_power_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,365},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/lordCity/Btn_replay_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,421},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/lordCity/Btn_replay_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,421},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/lordCity/Btn_replay_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,234},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/lordCity/Btn_return_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{957,114},{59,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,63}}</string>
			<key>sourceSize</key>
			<string>{59,63}</string>
		</dict>
		<key>images/lordCity/Btn_return_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,402},{59,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,63}}</string>
			<key>sourceSize</key>
			<string>{59,63}</string>
		</dict>
		<key>images/lordCity/Frame_item_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,1},{540,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{540,2}}</string>
			<key>sourceSize</key>
			<string>{540,2}</string>
		</dict>
		<key>images/lordCity/Frame_prop_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,273},{86,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,86}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>images/lordCity/Icon_btn1.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,354},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/lordCity/Icon_btn1_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,383},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/lordCity/Icon_btn2.png</key>
		<dict>
			<key>frame</key>
			<string>{{655,383},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/lordCity/Icon_btn2_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,397},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/lordCity/Icon_btn3.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,397},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/lordCity/Icon_btn3_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,342},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/lordCity/Icon_btn4.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,178},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/lordCity/Icon_btn4_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,4},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/lordCity/Icon_btn_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,357},{116,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,35}}</string>
			<key>sourceSize</key>
			<string>{116,35}</string>
		</dict>
		<key>images/lordCity/Icon_chat.png</key>
		<dict>
			<key>frame</key>
			<string>{{958,398},{33,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,29}}</string>
			<key>sourceSize</key>
			<string>{33,29}</string>
		</dict>
		<key>images/lordCity/Icon_chat_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,365},{33,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,29}}</string>
			<key>sourceSize</key>
			<string>{33,29}</string>
		</dict>
		<key>images/lordCity/Icon_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,170},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/lordCity/Txt_catch.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,330},{111,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,22}}</string>
			<key>sourceSize</key>
			<string>{111,22}</string>
		</dict>
		<key>images/lordCity/Txt_name1.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,395},{48,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,25}}</string>
			<key>sourceSize</key>
			<string>{48,25}</string>
		</dict>
		<key>images/lordCity/Txt_name2.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,439},{48,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,25}}</string>
			<key>sourceSize</key>
			<string>{48,25}</string>
		</dict>
		<key>images/lordCity/Txt_name3.png</key>
		<dict>
			<key>frame</key>
			<string>{{655,439},{48,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,25}}</string>
			<key>sourceSize</key>
			<string>{48,25}</string>
		</dict>
		<key>images/lordCity/Txt_name4.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,182},{49,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,25}}</string>
			<key>sourceSize</key>
			<string>{49,25}</string>
		</dict>
		<key>images/lordCity/Txt_name_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,284},{43,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,106}}</string>
			<key>sourceSize</key>
			<string>{43,106}</string>
		</dict>
		<key>images/lordCity/Txt_num1.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,376},{88,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,25}}</string>
			<key>sourceSize</key>
			<string>{88,25}</string>
		</dict>
		<key>images/lordCity/Txt_num2.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,258},{88,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,25}}</string>
			<key>sourceSize</key>
			<string>{88,25}</string>
		</dict>
		<key>images/lordCity/Txt_num3.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,232},{88,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,25}}</string>
			<key>sourceSize</key>
			<string>{88,25}</string>
		</dict>
		<key>images/lordCity/Txt_num4.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,353},{88,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,25}}</string>
			<key>sourceSize</key>
			<string>{88,25}</string>
		</dict>
		<key>images/lordCity/VS.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,89},{42,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,54}}</string>
			<key>sourceSize</key>
			<string>{42,54}</string>
		</dict>
		<key>images/lordCity/Windows.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,393},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>images/lordCity/bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,41},{480,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,26}}</string>
			<key>sourceSize</key>
			<string>{480,26}</string>
		</dict>
		<key>images/lordCity/boxClose.png</key>
		<dict>
			<key>frame</key>
			<string>{{962,60},{60,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,53}}</string>
			<key>sourceSize</key>
			<string>{60,53}</string>
		</dict>
		<key>images/lordCity/boxOpen.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,402},{66,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,63}}</string>
			<key>sourceSize</key>
			<string>{66,63}</string>
		</dict>
		<key>images/lordCity/boxOpened.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,402},{66,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,63}}</string>
			<key>sourceSize</key>
			<string>{66,63}</string>
		</dict>
		<key>images/lordCity/hz006.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,421},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>images/lordCity/iconJoinFight.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,89},{139,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,61}}</string>
			<key>sourceSize</key>
			<string>{139,61}</string>
		</dict>
		<key>images/lordCity/iconTruce.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,411},{139,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,60}}</string>
			<key>sourceSize</key>
			<string>{139,60}</string>
		</dict>
		<key>images/lordCity/iconWatchFight.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,295},{139,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,61}}</string>
			<key>sourceSize</key>
			<string>{139,61}</string>
		</dict>
		<key>images/lordCity/imgMorale.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,360},{87,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,22}}</string>
			<key>sourceSize</key>
			<string>{87,22}</string>
		</dict>
		<key>images/lordCity/imgRank.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,351},{87,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,22}}</string>
			<key>sourceSize</key>
			<string>{87,22}</string>
		</dict>
		<key>images/lordCity/imgRecord.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,374},{86,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,22}}</string>
			<key>sourceSize</key>
			<string>{86,22}</string>
		</dict>
		<key>images/lordCity/imgRule.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,379},{87,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,22}}</string>
			<key>sourceSize</key>
			<string>{87,22}</string>
		</dict>
		<key>images/lordCity/none.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,232},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/lordCity/progressBar.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,68},{455,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,20}}</string>
			<key>sourceSize</key>
			<string>{455,20}</string>
		</dict>
		<key>images/lordCity/progress_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,4},{484,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{484,36}}</string>
			<key>sourceSize</key>
			<string>{484,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lordCity_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1023,472}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7bac8a36c12dcff159dd71d59ca0b5a6:1/1$</string>
		<key>textureFileName</key>
		<string>lordCity_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
