<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/lordCityRecord/Btn_replay_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,1},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/lordCityRecord/Btn_replay_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,1},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/lordCityRecord/Btn_replay_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,1},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>images/lordCityRecord/Frame_item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,50},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/lordCityRecord/VS.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{42,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,54}}</string>
			<key>sourceSize</key>
			<string>{42,54}</string>
		</dict>
		<key>images/lordCityRecord/none.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,50},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lordCityRecord_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{191,56}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9d75f4df6587c2480716e3dcf4648e65:1/1$</string>
		<key>textureFileName</key>
		<string>lordCityRecord_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
