<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/lordCityRank/Bth_been_fram.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,4},{130,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,62}}</string>
			<key>sourceSize</key>
			<string>{130,62}</string>
		</dict>
		<key>images/lordCityRank/Bth_down_fram.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,4},{130,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,62}}</string>
			<key>sourceSize</key>
			<string>{130,62}</string>
		</dict>
		<key>images/lordCityRank/Btn_A_Mini_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,65},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/lordCityRank/Btn_A_Mini_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,4},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/lordCityRank/Btn_A_Mini_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,4},{131,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,60}}</string>
			<key>sourceSize</key>
			<string>{131,60}</string>
		</dict>
		<key>images/lordCityRank/Frame_item_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{540,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{540,2}}</string>
			<key>sourceSize</key>
			<string>{540,2}</string>
		</dict>
		<key>images/lordCityRank/none.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,65},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lordCityRank_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{542,67}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:072ee3dbc723846e22f420b6b198dde3:1/1$</string>
		<key>textureFileName</key>
		<string>lordCityRank_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
