<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/luckTurntable/SpCenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,264},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>images/luckTurntable/SpInnerRound.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,1},{262,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,262}}</string>
			<key>sourceSize</key>
			<string>{262,262}</string>
		</dict>
		<key>images/luckTurntable/SpItemContaier1.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,636},{268,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,268}}</string>
			<key>sourceSize</key>
			<string>{268,268}</string>
		</dict>
		<key>images/luckTurntable/SpItemContaier2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,636},{268,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,268}}</string>
			<key>sourceSize</key>
			<string>{268,268}</string>
		</dict>
		<key>images/luckTurntable/SpOuterRound.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{296,634}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296,634}}</string>
			<key>sourceSize</key>
			<string>{296,634}</string>
		</dict>
		<key>images/luckTurntable/SpPointer.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,406},{56,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,166}}</string>
			<key>sourceSize</key>
			<string>{56,166}</string>
		</dict>
		<key>images/luckTurntable/SpTop.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,264},{74,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,45}}</string>
			<key>sourceSize</key>
			<string>{74,45}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>luckTurntable_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{561,905}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:96423afdbec26e0f8ea8dc67d79d40da:1/1$</string>
		<key>textureFileName</key>
		<string>luckTurntable_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
