<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/mail/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,1},{30,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,77}}</string>
			<key>sourceSize</key>
			<string>{30,77}</string>
		</dict>
		<key>images/mail/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,1},{30,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,79}}</string>
			<key>sourceSize</key>
			<string>{30,79}</string>
		</dict>
		<key>images/mail/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,39},{30,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,81}}</string>
			<key>sourceSize</key>
			<string>{30,81}</string>
		</dict>
		<key>images/mail/IconAlreadyReceived.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,132},{52,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,50}}</string>
			<key>sourceSize</key>
			<string>{52,50}</string>
		</dict>
		<key>images/mail/IconUnreceived.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,81},{52,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,50}}</string>
			<key>sourceSize</key>
			<string>{52,50}</string>
		</dict>
		<key>images/mail/Icon_envelope.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,157},{80,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,89}}</string>
			<key>sourceSize</key>
			<string>{80,89}</string>
		</dict>
		<key>images/mail/Icon_envelope_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,146},{93,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,94}}</string>
			<key>sourceSize</key>
			<string>{93,94}</string>
		</dict>
		<key>images/mail/Progress_boom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,231},{108,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,20}}</string>
			<key>sourceSize</key>
			<string>{108,20}</string>
		</dict>
		<key>images/mail/adviser_star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,183},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>images/mail/btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,157},{198,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,84}}</string>
			<key>sourceSize</key>
			<string>{198,84}</string>
		</dict>
		<key>images/mail/btn_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,146},{198,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,84}}</string>
			<key>sourceSize</key>
			<string>{198,84}</string>
		</dict>
		<key>images/mail/building.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,39},{174,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,117}}</string>
			<key>sourceSize</key>
			<string>{174,117}</string>
		</dict>
		<key>images/mail/enClosure.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{557,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,37}}</string>
			<key>sourceSize</key>
			<string>{557,37}</string>
		</dict>
		<key>images/mail/font_fail.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,39},{186,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,106}}</string>
			<key>sourceSize</key>
			<string>{186,106}</string>
		</dict>
		<key>images/mail/font_victory.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,39},{186,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,106}}</string>
			<key>sourceSize</key>
			<string>{186,106}</string>
		</dict>
		<key>images/mail/icon_mail_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,79},{10,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,1}}</string>
			<key>sourceSize</key>
			<string>{10,1}</string>
		</dict>
		<key>images/mail/icon_res_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,146},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/mail/icon_tab_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,231},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>mail_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{646,252}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bef5c9246586732f58598a4cbb9eddc2:1/1$</string>
		<key>textureFileName</key>
		<string>mail_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
