<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/mapMilitary/SpBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{578,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{578,267}}</string>
			<key>sourceSize</key>
			<string>{578,267}</string>
		</dict>
		<key>images/mapMilitary/SpBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,1},{58,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,46}}</string>
			<key>sourceSize</key>
			<string>{58,46}</string>
		</dict>
		<key>images/mapMilitary/SpMilitary.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,952},{356,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,60}}</string>
			<key>sourceSize</key>
			<string>{356,60}</string>
		</dict>
		<key>images/mapMilitary/SpProgress.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,974},{529,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{529,17}}</string>
			<key>sourceSize</key>
			<string>{529,17}</string>
		</dict>
		<key>images/mapMilitary/SpProgressBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,952},{533,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{533,21}}</string>
			<key>sourceSize</key>
			<string>{533,21}</string>
		</dict>
		<key>images/mapMilitary/SpProgressNodeEmpty.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,1},{38,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,31}}</string>
			<key>sourceSize</key>
			<string>{38,31}</string>
		</dict>
		<key>images/mapMilitary/SpProgressNodeFull.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,48},{38,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,31}}</string>
			<key>sourceSize</key>
			<string>{38,31}</string>
		</dict>
		<key>images/mapMilitary/SpTimes.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,1},{104,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,47}}</string>
			<key>sourceSize</key>
			<string>{104,47}</string>
		</dict>
		<key>images/mapMilitary/SpTimes1.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,28},{29,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,8}}</string>
			<key>sourceSize</key>
			<string>{29,8}</string>
		</dict>
		<key>images/mapMilitary/SpTimes2.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,26},{29,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,23}}</string>
			<key>sourceSize</key>
			<string>{29,23}</string>
		</dict>
		<key>images/mapMilitary/SpTimes3.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,1},{29,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,24}}</string>
			<key>sourceSize</key>
			<string>{29,24}</string>
		</dict>
		<key>images/mapMilitary/SpTimes4.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,37},{26,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,27}}</string>
			<key>sourceSize</key>
			<string>{26,27}</string>
		</dict>
		<key>images/mapMilitary/SpTimes5.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,1},{29,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,26}}</string>
			<key>sourceSize</key>
			<string>{29,26}</string>
		</dict>
		<key>images/mapMilitary/fontX.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,33},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>images/mapMilitary/target_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,655},{573,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{573,192}}</string>
			<key>sourceSize</key>
			<string>{573,192}</string>
		</dict>
		<key>images/mapMilitary/target_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,462},{573,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{573,192}}</string>
			<key>sourceSize</key>
			<string>{573,192}</string>
		</dict>
		<key>images/mapMilitary/target_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,269},{573,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{573,192}}</string>
			<key>sourceSize</key>
			<string>{573,192}</string>
		</dict>
		<key>images/mapMilitary/target_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,848},{569,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{569,103}}</string>
			<key>sourceSize</key>
			<string>{569,103}</string>
		</dict>
		<key>images/mapMilitary/target_flag.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,1},{45,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,59}}</string>
			<key>sourceSize</key>
			<string>{45,59}</string>
		</dict>
		<key>images/mapMilitary/target_scroll.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,50},{20,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,212}}</string>
			<key>sourceSize</key>
			<string>{20,212}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>mapMilitary_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{892,1013}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:df9730b726bbcd22d2cf43dda2c0db9f:1/1$</string>
		<key>textureFileName</key>
		<string>mapMilitary_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
