<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/martialTeach/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,59},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/martialTeach/111.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,541},{463,386}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{463,386}}</string>
			<key>sourceSize</key>
			<string>{463,386}</string>
		</dict>
		<key>images/martialTeach/1_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,57},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/martialTeach/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,57},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/martialTeach/222.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,530},{463,386}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{463,386}}</string>
			<key>sourceSize</key>
			<string>{463,386}</string>
		</dict>
		<key>images/martialTeach/2_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,48},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/martialTeach/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,48},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/martialTeach/333.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,154},{463,386}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{463,386}}</string>
			<key>sourceSize</key>
			<string>{463,386}</string>
		</dict>
		<key>images/martialTeach/3_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,48},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/martialTeach/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,48},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/martialTeach/444.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,143},{463,386}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{463,386}}</string>
			<key>sourceSize</key>
			<string>{463,386}</string>
		</dict>
		<key>images/martialTeach/4_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,48},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/martialTeach/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,1},{33,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,46}}</string>
			<key>sourceSize</key>
			<string>{33,46}</string>
		</dict>
		<key>images/martialTeach/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,1},{33,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,46}}</string>
			<key>sourceSize</key>
			<string>{33,46}</string>
		</dict>
		<key>images/martialTeach/dis_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,1},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/martialTeach/dis_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,1},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/martialTeach/l.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,1},{164,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,55}}</string>
			<key>sourceSize</key>
			<string>{164,55}</string>
		</dict>
		<key>images/martialTeach/line.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{623,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{623,6}}</string>
			<key>sourceSize</key>
			<string>{623,6}</string>
		</dict>
		<key>images/martialTeach/off.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,48},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/martialTeach/on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,48},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/martialTeach/rankBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,8},{620,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,39}}</string>
			<key>sourceSize</key>
			<string>{620,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>martialTeach_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1012,928}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cf7e6c55f6e614271aa451e7bb3504e9:1/1$</string>
		<key>textureFileName</key>
		<string>martialTeach_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
