<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/miniMapIcon/Sp1-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,156},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
		<key>images/miniMapIcon/Sp7-9.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,234},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
		<key>images/miniMapIcon/SpBgDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,77}}</string>
			<key>sourceSize</key>
			<string>{640,77}</string>
		</dict>
		<key>images/miniMapIcon/SpFrameCity.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,119},{253,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,135}}</string>
			<key>sourceSize</key>
			<string>{253,135}</string>
		</dict>
		<key>images/miniMapIcon/btnCityDown1.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,232},{47,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,23}}</string>
			<key>sourceSize</key>
			<string>{47,23}</string>
		</dict>
		<key>images/miniMapIcon/btnCityDown2.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,36},{52,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,34}</string>
		</dict>
		<key>images/miniMapIcon/btnCityDown3.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,211},{53,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,35}}</string>
			<key>sourceSize</key>
			<string>{53,35}</string>
		</dict>
		<key>images/miniMapIcon/btnCityDown4.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,165},{88,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,45}}</string>
			<key>sourceSize</key>
			<string>{88,45}</string>
		</dict>
		<key>images/miniMapIcon/btnCityDown5.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,119},{88,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,45}}</string>
			<key>sourceSize</key>
			<string>{88,45}</string>
		</dict>
		<key>images/miniMapIcon/btnCityNormal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,231},{47,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,23}}</string>
			<key>sourceSize</key>
			<string>{47,23}</string>
		</dict>
		<key>images/miniMapIcon/btnCityNormal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,1},{52,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,34}</string>
		</dict>
		<key>images/miniMapIcon/btnCityNormal3.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,165},{53,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,35}}</string>
			<key>sourceSize</key>
			<string>{53,35}</string>
		</dict>
		<key>images/miniMapIcon/btnCityNormal4.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,119},{88,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,45}}</string>
			<key>sourceSize</key>
			<string>{88,45}</string>
		</dict>
		<key>images/miniMapIcon/btnCityNormal5.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,119},{88,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,45}}</string>
			<key>sourceSize</key>
			<string>{88,45}</string>
		</dict>
		<key>images/miniMapIcon/enterBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,119},{128,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,40}}</string>
			<key>sourceSize</key>
			<string>{128,40}</string>
		</dict>
		<key>images/miniMapIcon/spCityName1.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,201},{47,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,30}}</string>
			<key>sourceSize</key>
			<string>{47,30}</string>
		</dict>
		<key>images/miniMapIcon/spCityName2.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,221},{46,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,27}}</string>
			<key>sourceSize</key>
			<string>{46,27}</string>
		</dict>
		<key>images/miniMapIcon/spCityName3.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,226},{45,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,28}}</string>
			<key>sourceSize</key>
			<string>{45,28}</string>
		</dict>
		<key>images/miniMapIcon/spCityName4.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,220},{47,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,28}}</string>
			<key>sourceSize</key>
			<string>{47,28}</string>
		</dict>
		<key>images/miniMapIcon/spCityName5.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,71},{49,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,30}}</string>
			<key>sourceSize</key>
			<string>{49,30}</string>
		</dict>
		<key>images/miniMapIcon/spCityName6.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,191},{46,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,29}}</string>
			<key>sourceSize</key>
			<string>{46,29}</string>
		</dict>
		<key>images/miniMapIcon/spCityName7.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,191},{50,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,28}}</string>
			<key>sourceSize</key>
			<string>{50,28}</string>
		</dict>
		<key>images/miniMapIcon/spFlagCurPos.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,160},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/miniMapIcon/spFlagEnemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,211},{25,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,22}}</string>
			<key>sourceSize</key>
			<string>{25,22}</string>
		</dict>
		<key>images/miniMapIcon/spFlagLegion.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,232},{25,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,22}}</string>
			<key>sourceSize</key>
			<string>{25,22}</string>
		</dict>
		<key>images/miniMapIcon/spFlagSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,160},{53,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,71}}</string>
			<key>sourceSize</key>
			<string>{53,71}</string>
		</dict>
		<key>images/miniMapIcon/spFlagSelf.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,102},{36,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,53}}</string>
			<key>sourceSize</key>
			<string>{36,53}</string>
		</dict>
		<key>images/miniMapIcon/spLegion.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,165},{45,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,60}}</string>
			<key>sourceSize</key>
			<string>{45,60}</string>
		</dict>
		<key>images/miniMapIcon/title.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,165},{97,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,25}}</string>
			<key>sourceSize</key>
			<string>{97,25}</string>
		</dict>
		<key>images/miniMapIcon/titleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,79},{640,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,39}}</string>
			<key>sourceSize</key>
			<string>{640,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>miniMapIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{695,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c84e029d7182a2b3f287052916327d0c:1/1$</string>
		<key>textureFileName</key>
		<string>miniMapIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
