<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/newGui2/07.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,482},{31,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,36}}</string>
			<key>sourceSize</key>
			<string>{31,36}</string>
		</dict>
		<key>images/newGui2/08.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,388},{31,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,36}}</string>
			<key>sourceSize</key>
			<string>{31,36}</string>
		</dict>
		<key>images/newGui2/09.png</key>
		<dict>
			<key>frame</key>
			<string>{{985,889},{31,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,36}}</string>
			<key>sourceSize</key>
			<string>{31,36}</string>
		</dict>
		<key>images/newGui2/BgItemShow.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,1},{148,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,149}}</string>
			<key>sourceSize</key>
			<string>{148,149}</string>
		</dict>
		<key>images/newGui2/BgPedestal_blue_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,151},{163,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,58}}</string>
			<key>sourceSize</key>
			<string>{163,58}</string>
		</dict>
		<key>images/newGui2/BgPedestal_blue_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,225},{165,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,58}}</string>
			<key>sourceSize</key>
			<string>{165,58}</string>
		</dict>
		<key>images/newGui2/BgPedestal_red_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,902},{165,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,58}}</string>
			<key>sourceSize</key>
			<string>{165,58}</string>
		</dict>
		<key>images/newGui2/Bg_classified.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,836},{612,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{612,2}}</string>
			<key>sourceSize</key>
			<string>{612,2}</string>
		</dict>
		<key>images/newGui2/Bg_import.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,62},{49,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,50}}</string>
			<key>sourceSize</key>
			<string>{49,50}</string>
		</dict>
		<key>images/newGui2/Bg_listview.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,488},{603,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{603,117}}</string>
			<key>sourceSize</key>
			<string>{603,117}</string>
		</dict>
		<key>images/newGui2/Bg_listview_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,182},{614,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{614,187}}</string>
			<key>sourceSize</key>
			<string>{614,187}</string>
		</dict>
		<key>images/newGui2/Bg_listview_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,370},{603,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{603,117}}</string>
			<key>sourceSize</key>
			<string>{603,117}</string>
		</dict>
		<key>images/newGui2/Bg_ourself.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,845},{460,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,56}}</string>
			<key>sourceSize</key>
			<string>{460,56}</string>
		</dict>
		<key>images/newGui2/Bg_spot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,245},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>images/newGui2/Bg_veins_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,951},{82,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,13}}</string>
			<key>sourceSize</key>
			<string>{82,13}</string>
		</dict>
		<key>images/newGui2/BtnLineup_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,689},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>images/newGui2/BtnLineup_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,750},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>images/newGui2/BtnShowHero_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,829},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>images/newGui2/BtnShowHero_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,768},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>images/newGui2/BtnTab_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,816},{128,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,38}}</string>
			<key>sourceSize</key>
			<string>{128,38}</string>
		</dict>
		<key>images/newGui2/BtnTab_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,931},{128,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,38}}</string>
			<key>sourceSize</key>
			<string>{128,38}</string>
		</dict>
		<key>images/newGui2/BtnTreat_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,849},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>images/newGui2/BtnTreat_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,689},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>images/newGui2/Btn_Close2_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,845},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>images/newGui2/Btn_Close_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,608},{72,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,80}}</string>
			<key>sourceSize</key>
			<string>{72,80}</string>
		</dict>
		<key>images/newGui2/Btn_Close_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,688},{72,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,80}}</string>
			<key>sourceSize</key>
			<string>{72,80}</string>
		</dict>
		<key>images/newGui2/D.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,854},{15,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,20}}</string>
			<key>sourceSize</key>
			<string>{15,20}</string>
		</dict>
		<key>images/newGui2/Features_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,689},{75,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,78}}</string>
			<key>sourceSize</key>
			<string>{75,78}</string>
		</dict>
		<key>images/newGui2/Fighting.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,842},{47,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,25}}</string>
			<key>sourceSize</key>
			<string>{47,25}</string>
		</dict>
		<key>images/newGui2/Frame_bg_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,538},{30,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,17}}</string>
			<key>sourceSize</key>
			<string>{30,17}</string>
		</dict>
		<key>images/newGui2/Frame_external.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,180}}</string>
			<key>sourceSize</key>
			<string>{640,180}</string>
		</dict>
		<key>images/newGui2/Frame_head.png</key>
		<dict>
			<key>frame</key>
			<string>{{618,606},{126,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,127}}</string>
			<key>sourceSize</key>
			<string>{126,127}</string>
		</dict>
		<key>images/newGui2/Frame_head2.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,387},{126,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,127}}</string>
			<key>sourceSize</key>
			<string>{126,127}</string>
		</dict>
		<key>images/newGui2/Frame_item_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,842},{540,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{540,2}}</string>
			<key>sourceSize</key>
			<string>{540,2}</string>
		</dict>
		<key>images/newGui2/Frame_prop_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,515},{86,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,86}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>images/newGui2/Frame_prop_box_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,644},{25,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,18}}</string>
			<key>sourceSize</key>
			<string>{25,18}</string>
		</dict>
		<key>images/newGui2/Frame_prop_box_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,637},{25,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,18}}</string>
			<key>sourceSize</key>
			<string>{25,18}</string>
		</dict>
		<key>images/newGui2/Frame_prop_box_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,625},{25,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,18}}</string>
			<key>sourceSize</key>
			<string>{25,18}</string>
		</dict>
		<key>images/newGui2/Frame_prop_box_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,618},{25,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,18}}</string>
			<key>sourceSize</key>
			<string>{25,18}</string>
		</dict>
		<key>images/newGui2/Frame_prop_box_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,606},{25,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,18}}</string>
			<key>sourceSize</key>
			<string>{25,18}</string>
		</dict>
		<key>images/newGui2/Frame_prop_box_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,587},{25,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,18}}</string>
			<key>sourceSize</key>
			<string>{25,18}</string>
		</dict>
		<key>images/newGui2/Frame_title_beauty.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,942},{90,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,19}}</string>
			<key>sourceSize</key>
			<string>{90,19}</string>
		</dict>
		<key>images/newGui2/GoodsFrame.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,388},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>images/newGui2/GoodsFrame_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,482},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>images/newGui2/H.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,833},{15,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,20}}</string>
			<key>sourceSize</key>
			<string>{15,20}</string>
		</dict>
		<key>images/newGui2/IconArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,565},{84,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,42}}</string>
			<key>sourceSize</key>
			<string>{84,42}</string>
		</dict>
		<key>images/newGui2/IconEnemy_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,556},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>images/newGui2/IconEnemy_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,434},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>images/newGui2/IconFighting.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,483},{97,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,31}}</string>
			<key>sourceSize</key>
			<string>{97,31}</string>
		</dict>
		<key>images/newGui2/IconFighting2.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,910},{69,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,31}}</string>
			<key>sourceSize</key>
			<string>{69,31}</string>
		</dict>
		<key>images/newGui2/IconFriend_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,374},{43,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,29}}</string>
			<key>sourceSize</key>
			<string>{43,29}</string>
		</dict>
		<key>images/newGui2/IconFriend_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,151},{43,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,29}}</string>
			<key>sourceSize</key>
			<string>{43,29}</string>
		</dict>
		<key>images/newGui2/IconLineup.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,419},{56,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,14}}</string>
			<key>sourceSize</key>
			<string>{56,14}</string>
		</dict>
		<key>images/newGui2/IconNoHero.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,366},{164,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,21}}</string>
			<key>sourceSize</key>
			<string>{164,21}</string>
		</dict>
		<key>images/newGui2/IconNum_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,890},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>images/newGui2/IconNum_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,750},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>images/newGui2/IconNum_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,312},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>images/newGui2/IconPower.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,910},{69,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,31}}</string>
			<key>sourceSize</key>
			<string>{69,31}</string>
		</dict>
		<key>images/newGui2/IconResource_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,892},{37,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,38}}</string>
			<key>sourceSize</key>
			<string>{37,38}</string>
		</dict>
		<key>images/newGui2/IconResource_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,892},{37,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,38}}</string>
			<key>sourceSize</key>
			<string>{37,38}</string>
		</dict>
		<key>images/newGui2/IconTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,462},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>images/newGui2/IconVIP.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,868},{47,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,20}}</string>
			<key>sourceSize</key>
			<string>{47,20}</string>
		</dict>
		<key>images/newGui2/Icon_bg_level1.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,587},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,30}}</string>
			<key>sourceSize</key>
			<string>{25,30}</string>
		</dict>
		<key>images/newGui2/Icon_bg_level2.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,556},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,30}}</string>
			<key>sourceSize</key>
			<string>{25,30}</string>
		</dict>
		<key>images/newGui2/Icon_bg_level3.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,556},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,30}}</string>
			<key>sourceSize</key>
			<string>{25,30}</string>
		</dict>
		<key>images/newGui2/Icon_bg_level4.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,182},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,30}}</string>
			<key>sourceSize</key>
			<string>{25,30}</string>
		</dict>
		<key>images/newGui2/Icon_command.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,931},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>images/newGui2/Icon_endurance.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,931},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>images/newGui2/Icon_force.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,892},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>images/newGui2/Icon_level0.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,941},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>images/newGui2/Icon_level1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,485},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>images/newGui2/Icon_level2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,663},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>images/newGui2/Icon_level3.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,485},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>images/newGui2/Icon_level4.png</key>
		<dict>
			<key>frame</key>
			<string>{{999,941},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>images/newGui2/Icon_level5.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,839},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>images/newGui2/Icon_level6.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,839},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>images/newGui2/Icon_level7.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,466},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>images/newGui2/Icon_level8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,926},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>images/newGui2/Icon_level9.png</key>
		<dict>
			<key>frame</key>
			<string>{{985,926},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>images/newGui2/Icon_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,606},{72,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,81}}</string>
			<key>sourceSize</key>
			<string>{72,81}</string>
		</dict>
		<key>images/newGui2/Icon_maxLv.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,515},{158,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,90}}</string>
			<key>sourceSize</key>
			<string>{158,90}</string>
		</dict>
		<key>images/newGui2/Icon_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,113},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/newGui2/LvItem_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,225},{217,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,70}}</string>
			<key>sourceSize</key>
			<string>{217,70}</string>
		</dict>
		<key>images/newGui2/LvItem_other.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,697},{616,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{616,90}}</string>
			<key>sourceSize</key>
			<string>{616,90}</string>
		</dict>
		<key>images/newGui2/LvItem_self.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,606},{616,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{616,90}}</string>
			<key>sourceSize</key>
			<string>{616,90}</string>
		</dict>
		<key>images/newGui2/M.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,482},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>images/newGui2/Pattern_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,434},{33,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,27}}</string>
			<key>sourceSize</key>
			<string>{33,27}</string>
		</dict>
		<key>images/newGui2/Pattern_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,181},{34,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,28}}</string>
			<key>sourceSize</key>
			<string>{34,28}</string>
		</dict>
		<key>images/newGui2/ProgressBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,951},{178,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,18}}</string>
			<key>sourceSize</key>
			<string>{178,18}</string>
		</dict>
		<key>images/newGui2/ProgressTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,210},{178,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,14}}</string>
			<key>sourceSize</key>
			<string>{178,14}</string>
		</dict>
		<key>images/newGui2/Progress_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{618,935},{128,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,26}}</string>
			<key>sourceSize</key>
			<string>{128,26}</string>
		</dict>
		<key>images/newGui2/Progress_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,339},{191,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,26}}</string>
			<key>sourceSize</key>
			<string>{191,26}</string>
		</dict>
		<key>images/newGui2/Progress_boom_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,461},{108,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,20}}</string>
			<key>sourceSize</key>
			<string>{108,20}</string>
		</dict>
		<key>images/newGui2/Progress_resources.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,965},{60,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,3}}</string>
			<key>sourceSize</key>
			<string>{60,3}</string>
		</dict>
		<key>images/newGui2/Progress_resources_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,602},{60,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,3}}</string>
			<key>sourceSize</key>
			<string>{60,3}</string>
		</dict>
		<key>images/newGui2/Progressbox_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,312},{191,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,26}}</string>
			<key>sourceSize</key>
			<string>{191,26}</string>
		</dict>
		<key>images/newGui2/Right_number.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,284},{170,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,27}}</string>
			<key>sourceSize</key>
			<string>{170,27}</string>
		</dict>
		<key>images/newGui2/S.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,461},{12,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,20}}</string>
			<key>sourceSize</key>
			<string>{12,20}</string>
		</dict>
		<key>images/newGui2/SpBeiBaoKuangJia.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,1},{173,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,223}}</string>
			<key>sourceSize</key>
			<string>{173,223}</string>
		</dict>
		<key>images/newGui2/SpBuDuiHeadBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,608},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/newGui2/SpBuDuiNum1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003,113},{20,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,34}}</string>
			<key>sourceSize</key>
			<string>{20,34}</string>
		</dict>
		<key>images/newGui2/SpBuDuiNum2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,210},{23,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,34}}</string>
			<key>sourceSize</key>
			<string>{23,34}</string>
		</dict>
		<key>images/newGui2/SpBuDuiNum3.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,466},{22,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,35}}</string>
			<key>sourceSize</key>
			<string>{22,35}</string>
		</dict>
		<key>images/newGui2/SpBuDuiNum4.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,425},{24,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,35}}</string>
			<key>sourceSize</key>
			<string>{24,35}</string>
		</dict>
		<key>images/newGui2/SpBuDuiNum5.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,502},{21,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,35}}</string>
			<key>sourceSize</key>
			<string>{21,35}</string>
		</dict>
		<key>images/newGui2/SpBuDuiNum6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,797},{23,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,35}}</string>
			<key>sourceSize</key>
			<string>{23,35}</string>
		</dict>
		<key>images/newGui2/SpBuDuiQianHouPai.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,811},{91,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,30}}</string>
			<key>sourceSize</key>
			<string>{91,30}</string>
		</dict>
		<key>images/newGui2/SpChatArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,663},{16,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,22}}</string>
			<key>sourceSize</key>
			<string>{16,22}</string>
		</dict>
		<key>images/newGui2/SpJunShiTiHuan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,588},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>images/newGui2/SpManJi.png</key>
		<dict>
			<key>frame</key>
			<string>{{618,734},{120,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,81}}</string>
			<key>sourceSize</key>
			<string>{120,81}</string>
		</dict>
		<key>images/newGui2/SpTanChuangBoFang.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,366},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>images/newGui2/SpTanChuangFenGeXian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,839},{578,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{578,2}}</string>
			<key>sourceSize</key>
			<string>{578,2}</string>
		</dict>
		<key>images/newGui2/SpTianFu.png</key>
		<dict>
			<key>frame</key>
			<string>{{879,865},{60,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,26}}</string>
			<key>sourceSize</key>
			<string>{60,26}</string>
		</dict>
		<key>images/newGui2/State_add.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,656},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>images/newGui2/State_sub.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,865},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>images/newGui2/TxtZhenBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{879,768},{28,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,65}}</string>
			<key>sourceSize</key>
			<string>{28,65}</string>
		</dict>
		<key>images/newGui2/Txt_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,269},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>images/newGui2/Txt_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,374},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>images/newGui2/Txt_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,288},{18,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,17}}</string>
			<key>sourceSize</key>
			<string>{18,17}</string>
		</dict>
		<key>images/newGui2/Txt_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,951},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>images/newGui2/Txt_img1.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,404},{56,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,14}}</string>
			<key>sourceSize</key>
			<string>{56,14}</string>
		</dict>
		<key>images/newGui2/Txt_img2.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,296},{56,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,15}}</string>
			<key>sourceSize</key>
			<string>{56,15}</string>
		</dict>
		<key>images/newGui2/Txt_img3.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,296},{56,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,15}}</string>
			<key>sourceSize</key>
			<string>{56,15}</string>
		</dict>
		<key>images/newGui2/Txt_img4.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,359},{56,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,14}}</string>
			<key>sourceSize</key>
			<string>{56,14}</string>
		</dict>
		<key>images/newGui2/Txt_img5.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,419},{56,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,14}}</string>
			<key>sourceSize</key>
			<string>{56,14}</string>
		</dict>
		<key>images/newGui2/Windows.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,855},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>images/newGui2/activityTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,902},{282,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,48}}</string>
			<key>sourceSize</key>
			<string>{282,48}</string>
		</dict>
		<key>images/newGui2/arrows_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,388},{101,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,72}}</string>
			<key>sourceSize</key>
			<string>{101,72}</string>
		</dict>
		<key>images/newGui2/attr_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,931},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>images/newGui2/barBlueLong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,815},{608,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{608,20}}</string>
			<key>sourceSize</key>
			<string>{608,20}</string>
		</dict>
		<key>images/newGui2/barBlueLongBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,788},{614,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{614,26}}</string>
			<key>sourceSize</key>
			<string>{614,26}</string>
		</dict>
		<key>images/newGui2/btn_arrow01.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,519},{35,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,36}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>images/newGui2/btn_arrow02.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,931},{35,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,36}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>images/newGui2/btnhelp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,895},{128,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,39}}</string>
			<key>sourceSize</key>
			<string>{128,39}</string>
		</dict>
		<key>images/newGui2/btnhelp2.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,855},{128,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,39}}</string>
			<key>sourceSize</key>
			<string>{128,39}</string>
		</dict>
		<key>images/newGui2/font_fail.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,809},{74,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,39}}</string>
			<key>sourceSize</key>
			<string>{74,39}</string>
		</dict>
		<key>images/newGui2/font_victory.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,769},{74,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,39}}</string>
			<key>sourceSize</key>
			<string>{74,39}</string>
		</dict>
		<key>images/newGui2/icon_attention.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,937},{28,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,24}}</string>
			<key>sourceSize</key>
			<string>{28,24}</string>
		</dict>
		<key>images/newGui2/item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{879,842},{80,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,22}}</string>
			<key>sourceSize</key>
			<string>{80,22}</string>
		</dict>
		<key>images/newGui2/notopen.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,296},{158,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,90}}</string>
			<key>sourceSize</key>
			<string>{158,90}</string>
		</dict>
		<key>images/newGui2/taskImg.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,1},{58,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,60}}</string>
			<key>sourceSize</key>
			<string>{58,60}</string>
		</dict>
		<key>images/newGui2/white.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,961},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
		<key>images/newGui2/yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,961},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>newGui2_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1024,970}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5cc02b79b7b941caa12281f12cfed559:1/1$</string>
		<key>textureFileName</key>
		<string>newGui2_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
