<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/newGui9Scale/BgTitle_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,1},{373,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{373,32}}</string>
			<key>sourceSize</key>
			<string>{373,32}</string>
		</dict>
		<key>images/newGui9Scale/Frame_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,109},{586,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{586,25}}</string>
			<key>sourceSize</key>
			<string>{586,25}</string>
		</dict>
		<key>images/newGui9Scale/Frame_item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,176},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>images/newGui9Scale/Frame_middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,163},{586,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{586,10}}</string>
			<key>sourceSize</key>
			<string>{586,10}</string>
		</dict>
		<key>images/newGui9Scale/Frame_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,63},{586,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{586,45}}</string>
			<key>sourceSize</key>
			<string>{586,45}</string>
		</dict>
		<key>images/newGui9Scale/Old_Frame_inside.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,281},{140,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,135}}</string>
			<key>sourceSize</key>
			<string>{140,135}</string>
		</dict>
		<key>images/newGui9Scale/Old_emotionBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,143},{66,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,66}}</string>
			<key>sourceSize</key>
			<string>{66,66}</string>
		</dict>
		<key>images/newGui9Scale/Old_nor_mid_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,63},{37,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,38}}</string>
			<key>sourceSize</key>
			<string>{37,38}</string>
		</dict>
		<key>images/newGui9Scale/PopularSupportItemBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,230},{268,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,50}}</string>
			<key>sourceSize</key>
			<string>{268,50}</string>
		</dict>
		<key>images/newGui9Scale/S9ActivityShopBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,390},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9BanTouMingQuanHei.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,197},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9BarDi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,393},{178,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,18}}</string>
			<key>sourceSize</key>
			<string>{178,18}</string>
		</dict>
		<key>images/newGui9Scale/S9BarJingYan.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,378},{178,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,14}}</string>
			<key>sourceSize</key>
			<string>{178,14}</string>
		</dict>
		<key>images/newGui9Scale/S9BarJunLing.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,406},{178,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,14}}</string>
			<key>sourceSize</key>
			<string>{178,14}</string>
		</dict>
		<key>images/newGui9Scale/S9BarTaoFaLing.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,408},{178,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,14}}</string>
			<key>sourceSize</key>
			<string>{178,14}</string>
		</dict>
		<key>images/newGui9Scale/S9BarTime.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,393},{178,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,14}}</string>
			<key>sourceSize</key>
			<string>{178,14}</string>
		</dict>
		<key>images/newGui9Scale/S9Bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,207},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9Black.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,186},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9Blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,176},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9Brown.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,163},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9ChatMy.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,363},{60,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,50}}</string>
			<key>sourceSize</key>
			<string>{60,50}</string>
		</dict>
		<key>images/newGui9Scale/S9ChatOther.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,273},{60,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,50}}</string>
			<key>sourceSize</key>
			<string>{60,50}</string>
		</dict>
		<key>images/newGui9Scale/S9ChatSysBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,363},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9Frame1.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,210},{62,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,62}}</string>
			<key>sourceSize</key>
			<string>{62,62}</string>
		</dict>
		<key>images/newGui9Scale/S9GCPersonCover.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,373},{9,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,4}}</string>
			<key>sourceSize</key>
			<string>{9,4}</string>
		</dict>
		<key>images/newGui9Scale/S9GCPersonInfoLine.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,279},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
		<key>images/newGui9Scale/S9GCPersonInfoLineBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,403},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
		<key>images/newGui9Scale/S9GameActivityMov1.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,34},{50,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,108}}</string>
			<key>sourceSize</key>
			<string>{50,108}</string>
		</dict>
		<key>images/newGui9Scale/S9GameActivityMov2.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,281},{50,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,108}}</string>
			<key>sourceSize</key>
			<string>{50,108}</string>
		</dict>
		<key>images/newGui9Scale/S9Gray.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,393},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9Guide.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,63},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9HighLight.png</key>
		<dict>
			<key>frame</key>
			<string>{{993,34},{9,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,214}}</string>
			<key>sourceSize</key>
			<string>{9,214}</string>
		</dict>
		<key>images/newGui9Scale/S9JinBian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,174},{600,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{600,1}}</string>
			<key>sourceSize</key>
			<string>{600,1}</string>
		</dict>
		<key>images/newGui9Scale/S9JunShiTiHuanLine.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,277},{11,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,1}}</string>
			<key>sourceSize</key>
			<string>{11,1}</string>
		</dict>
		<key>images/newGui9Scale/S9ListItemTouch.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,102},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9PersonInfoLine.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,279},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
		<key>images/newGui9Scale/S9PersonInfoLineBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,403},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
		<key>images/newGui9Scale/S9Red.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,273},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9ReportBlue01.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,269},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9ReportBlue02.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,393},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9ReportRedd01.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,390},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9ReportRedd02.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,132},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9Select.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,269},{108,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{108,108}</string>
		</dict>
		<key>images/newGui9Scale/S9Self.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,132},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/S9ShangXiaLa.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,186},{568,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,10}}</string>
			<key>sourceSize</key>
			<string>{568,10}</string>
		</dict>
		<key>images/newGui9Scale/S9ShareBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,281},{129,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,124}}</string>
			<key>sourceSize</key>
			<string>{129,124}</string>
		</dict>
		<key>images/newGui9Scale/SPActivityBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,132},{9,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,171}}</string>
			<key>sourceSize</key>
			<string>{9,171}</string>
		</dict>
		<key>images/newGui9Scale/SPChildTabControlBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003,34},{9,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,243}}</string>
			<key>sourceSize</key>
			<string>{9,243}</string>
		</dict>
		<key>images/newGui9Scale/SPInfoBg_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,132},{299,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,97}}</string>
			<key>sourceSize</key>
			<string>{299,97}</string>
		</dict>
		<key>images/newGui9Scale/SPInfoBg_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,34},{299,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,97}}</string>
			<key>sourceSize</key>
			<string>{299,97}</string>
		</dict>
		<key>images/newGui9Scale/SpGameActivityWordBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,277},{450,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{450,115}}</string>
			<key>sourceSize</key>
			<string>{450,115}</string>
		</dict>
		<key>images/newGui9Scale/SpHuaWen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,27},{640,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,25}}</string>
			<key>sourceSize</key>
			<string>{640,25}</string>
		</dict>
		<key>images/newGui9Scale/SpHuaWenZhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,53},{640,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,9}}</string>
			<key>sourceSize</key>
			<string>{640,9}</string>
		</dict>
		<key>images/newGui9Scale/SpJiaGeHuaDiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,412},{143,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,2}}</string>
			<key>sourceSize</key>
			<string>{143,2}</string>
		</dict>
		<key>images/newGui9Scale/SpKeDianJiBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,135},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>images/newGui9Scale/SpLabelBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,393},{78,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,23}}</string>
			<key>sourceSize</key>
			<string>{78,23}</string>
		</dict>
		<key>images/newGui9Scale/SpLabelBg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,393},{96,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,23}}</string>
			<key>sourceSize</key>
			<string>{96,23}</string>
		</dict>
		<key>images/newGui9Scale/SpTab1.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,324},{128,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,38}}</string>
			<key>sourceSize</key>
			<string>{128,38}</string>
		</dict>
		<key>images/newGui9Scale/SpTab2.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,230},{128,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,38}}</string>
			<key>sourceSize</key>
			<string>{128,38}</string>
		</dict>
		<key>images/newGui9Scale/SpTanChuangHeiDi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,176},{578,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{578,9}}</string>
			<key>sourceSize</key>
			<string>{578,9}</string>
		</dict>
		<key>images/newGui9Scale/SpTanChuangItemBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,197},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/SpTanChuangTitleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,186},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/SpWrongBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,197},{497,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{497,79}}</string>
			<key>sourceSize</key>
			<string>{497,79}</string>
		</dict>
		<key>images/newGui9Scale/SpXuQiuMidBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,135},{570,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{570,27}}</string>
			<key>sourceSize</key>
			<string>{570,27}</string>
		</dict>
		<key>images/newGui9Scale/bossBattleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,25}}</string>
			<key>sourceSize</key>
			<string>{640,25}</string>
		</dict>
		<key>images/newGui9Scale/cj_s_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,132},{9,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,137}}</string>
			<key>sourceSize</key>
			<string>{9,137}</string>
		</dict>
		<key>images/newGui9Scale/cj_x_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,34},{9,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,310}}</string>
			<key>sourceSize</key>
			<string>{9,310}</string>
		</dict>
		<key>images/newGui9Scale/head_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,176},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/newGui9Scale/progressBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,393},{178,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,18}}</string>
			<key>sourceSize</key>
			<string>{178,18}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>newGui9Scale_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1023,423}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:df878e9e49fd009bca74dcf3df86c046:1/1$</string>
		<key>textureFileName</key>
		<string>newGui9Scale_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
