<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/newOriginal/Img_state_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,195},{252,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,29}}</string>
			<key>sourceSize</key>
			<string>{252,29}</string>
		</dict>
		<key>images/newOriginal/Img_state_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,165},{252,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,29}}</string>
			<key>sourceSize</key>
			<string>{252,29}</string>
		</dict>
		<key>images/newOriginal/Img_state_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,195},{168,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,29}}</string>
			<key>sourceSize</key>
			<string>{168,29}</string>
		</dict>
		<key>images/newOriginal/Img_state_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,165},{197,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,29}}</string>
			<key>sourceSize</key>
			<string>{197,29}</string>
		</dict>
		<key>images/newOriginal/Img_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,67}}</string>
			<key>sourceSize</key>
			<string>{640,67}</string>
		</dict>
		<key>images/newOriginal/S9Season_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,1},{9,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,222}}</string>
			<key>sourceSize</key>
			<string>{9,222}</string>
		</dict>
		<key>images/newOriginal/S9Season_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,1},{9,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,222}}</string>
			<key>sourceSize</key>
			<string>{9,222}</string>
		</dict>
		<key>images/newOriginal/bgLeft.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,69},{248,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,95}}</string>
			<key>sourceSize</key>
			<string>{248,95}</string>
		</dict>
		<key>images/newOriginal/bgRight.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,69},{248,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,95}}</string>
			<key>sourceSize</key>
			<string>{248,95}</string>
		</dict>
		<key>images/newOriginal/btn_lastCtrl1.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,138},{157,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,68}}</string>
			<key>sourceSize</key>
			<string>{157,68}</string>
		</dict>
		<key>images/newOriginal/btn_lastCtrl2.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,69},{157,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,68}}</string>
			<key>sourceSize</key>
			<string>{157,68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>newOriginal_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{677,235}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c1e36eaf38c78fc3d5219af342637495:1/1$</string>
		<key>textureFileName</key>
		<string>newOriginal_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
