<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/partsGod/Bg_branching.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,465},{145,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,3}}</string>
			<key>sourceSize</key>
			<string>{145,3}</string>
		</dict>
		<key>images/partsGod/Bg_branching_bright.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,465},{145,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,3}}</string>
			<key>sourceSize</key>
			<string>{145,3}</string>
		</dict>
		<key>images/partsGod/Bg_classify.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,465},{462,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{462,39}}</string>
			<key>sourceSize</key>
			<string>{462,39}</string>
		</dict>
		<key>images/partsGod/ding.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,463}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,463}}</string>
			<key>sourceSize</key>
			<string>{640,463}</string>
		</dict>
		<key>images/partsGod/pinzi-bai.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,1},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>partsGod_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{743,505}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ef65c250ec6b36df5933591dc342b386:1/1$</string>
		<key>textureFileName</key>
		<string>partsGod_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
