<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/parts/SpZbBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,618},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/parts/font_add_attr.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,618},{114,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,33}}</string>
			<key>sourceSize</key>
			<string>{114,33}</string>
		</dict>
		<key>images/parts/icon01.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,649},{64,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,30}}</string>
			<key>sourceSize</key>
			<string>{64,30}</string>
		</dict>
		<key>images/parts/icon02.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,650},{63,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,31}}</string>
			<key>sourceSize</key>
			<string>{63,31}</string>
		</dict>
		<key>images/parts/icon03.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,618},{64,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,31}}</string>
			<key>sourceSize</key>
			<string>{64,31}</string>
		</dict>
		<key>images/parts/icon04.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,618},{64,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,30}}</string>
			<key>sourceSize</key>
			<string>{64,30}</string>
		</dict>
		<key>images/parts/icon05.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,649},{61,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,30}}</string>
			<key>sourceSize</key>
			<string>{61,30}</string>
		</dict>
		<key>images/parts/icon06.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,652},{65,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,31}}</string>
			<key>sourceSize</key>
			<string>{65,31}</string>
		</dict>
		<key>images/parts/icon07.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,618},{63,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,30}}</string>
			<key>sourceSize</key>
			<string>{63,30}</string>
		</dict>
		<key>images/parts/icon08.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,652},{63,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,32}}</string>
			<key>sourceSize</key>
			<string>{63,32}</string>
		</dict>
		<key>images/parts/parts_bg.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{620,616}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,616}}</string>
			<key>sourceSize</key>
			<string>{620,616}</string>
		</dict>
		<key>images/parts/type_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,657},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>images/parts/type_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,649},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/parts/type_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,618},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>images/parts/type_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,618},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/parts/type_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,657},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>images/parts/type_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,649},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/parts/type_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,618},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>images/parts/type_44.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,618},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>parts_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{622,699}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:948fab6d981fa34a2fdf9dc91eee1132:1/1$</string>
		<key>textureFileName</key>
		<string>parts_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
