<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/partsWarehouse/icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>partsWarehouse_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{32,32}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:faa06395562ae66213c9b90ee0c0eec2:1/1$</string>
		<key>textureFileName</key>
		<string>partsWarehouse_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
