<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/personInfo/01.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,271},{121,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,42}}</string>
			<key>sourceSize</key>
			<string>{121,42}</string>
		</dict>
		<key>images/personInfo/02.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,271},{121,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,42}}</string>
			<key>sourceSize</key>
			<string>{121,42}</string>
		</dict>
		<key>images/personInfo/03.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,271},{121,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,42}}</string>
			<key>sourceSize</key>
			<string>{121,42}</string>
		</dict>
		<key>images/personInfo/Bg_Information_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{611,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{611,196}}</string>
			<key>sourceSize</key>
			<string>{611,196}</string>
		</dict>
		<key>images/personInfo/Progress_Info_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,47},{191,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,22}}</string>
			<key>sourceSize</key>
			<string>{191,22}</string>
		</dict>
		<key>images/personInfo/Progress_Stamina_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,24},{191,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,22}}</string>
			<key>sourceSize</key>
			<string>{191,22}</string>
		</dict>
		<key>images/personInfo/Progress_exp_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,1},{191,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,22}}</string>
			<key>sourceSize</key>
			<string>{191,22}</string>
		</dict>
		<key>images/personInfo/Progress_red_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,293},{187,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,18}}</string>
			<key>sourceSize</key>
			<string>{187,18}</string>
		</dict>
		<key>images/personInfo/SpGCHeiDi.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,244},{640,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,26}}</string>
			<key>sourceSize</key>
			<string>{640,26}</string>
		</dict>
		<key>images/personInfo/SpGCJianTou.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,67},{20,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,43}}</string>
			<key>sourceSize</key>
			<string>{20,43}</string>
		</dict>
		<key>images/personInfo/SpGCJianTouBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,198},{20,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,43}}</string>
			<key>sourceSize</key>
			<string>{20,43}</string>
		</dict>
		<key>images/personInfo/SpGCNumberBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,271},{51,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,24}}</string>
			<key>sourceSize</key>
			<string>{51,24}</string>
		</dict>
		<key>images/personInfo/Txt_Res.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,271},{127,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,37}}</string>
			<key>sourceSize</key>
			<string>{127,37}</string>
		</dict>
		<key>images/personInfo/bg_attri.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,198},{606,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{606,45}}</string>
			<key>sourceSize</key>
			<string>{606,45}</string>
		</dict>
		<key>images/personInfo/personInfo_line0_long.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,292},{216,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,14}}</string>
			<key>sourceSize</key>
			<string>{216,14}</string>
		</dict>
		<key>images/personInfo/personInfo_line0_short.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,297},{54,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,14}}</string>
			<key>sourceSize</key>
			<string>{54,14}</string>
		</dict>
		<key>images/personInfo/personInfo_line0_skew.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,198},{121,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,94}}</string>
			<key>sourceSize</key>
			<string>{121,94}</string>
		</dict>
		<key>images/personInfo/personInfo_line1.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,189},{47,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,8}}</string>
			<key>sourceSize</key>
			<string>{47,8}</string>
		</dict>
		<key>images/personInfo/personInfo_line1_skew.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,95},{123,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,93}}</string>
			<key>sourceSize</key>
			<string>{123,93}</string>
		</dict>
		<key>images/personInfo/personInfo_line2.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,189},{47,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,8}}</string>
			<key>sourceSize</key>
			<string>{47,8}</string>
		</dict>
		<key>images/personInfo/personInfo_line2_skew.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,1},{123,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,93}}</string>
			<key>sourceSize</key>
			<string>{123,93}</string>
		</dict>
		<key>images/personInfo/personInfo_line3.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,305},{47,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,8}}</string>
			<key>sourceSize</key>
			<string>{47,8}</string>
		</dict>
		<key>images/personInfo/personInfo_line3_skew.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,198},{123,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,93}}</string>
			<key>sourceSize</key>
			<string>{123,93}</string>
		</dict>
		<key>images/personInfo/personInfo_line4.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,296},{47,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,8}}</string>
			<key>sourceSize</key>
			<string>{47,8}</string>
		</dict>
		<key>images/personInfo/personInfo_line4_skew.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,198},{123,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,93}}</string>
			<key>sourceSize</key>
			<string>{123,93}</string>
		</dict>
		<key>images/personInfo/personInfo_linePoint.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,271},{16,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,25}}</string>
			<key>sourceSize</key>
			<string>{16,25}</string>
		</dict>
		<key>images/personInfo/skillbg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,111},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,84}}</string>
			<key>sourceSize</key>
			<string>{84,84}</string>
		</dict>
		<key>images/personInfo/skillbg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,70},{100,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,72}}</string>
			<key>sourceSize</key>
			<string>{100,72}</string>
		</dict>
		<key>images/personInfo/temp_skill.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,1},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>images/personInfo/text_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,67},{44,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,23}}</string>
			<key>sourceSize</key>
			<string>{44,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>personInfo_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1013,314}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4d1a78c058817d7fb35f264e5f1c7a19:1/1$</string>
		<key>textureFileName</key>
		<string>personInfo_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
