<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/personInfoTalentIcon/1001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,83},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/1002.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,82},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/1003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{81,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,81}}</string>
			<key>sourceSize</key>
			<string>{81,81}</string>
		</dict>
		<key>images/personInfoTalentIcon/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1101.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1102.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1103.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1104.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1201.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1202.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1203.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1204.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1301.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1302.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1303.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1304.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1401.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/1402.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/1403.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/1501.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1502.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1503.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1504.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1601.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1602.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1603.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1604.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1701.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1702.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1703.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/1704.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/201.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/202.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/203.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/204.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/301.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/302.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/303.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/306.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/307.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/401.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/402.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/403.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/404.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/501.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/502.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/503.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/504.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/601.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/602.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/603.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,1},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/personInfoTalentIcon/701.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/702.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/703.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/704.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/801.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/802.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/803.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/804.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,144},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/901.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/902.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/903.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>images/personInfoTalentIcon/904.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,82},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>personInfoTalentIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{974,206}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:17278f90cd32791e049b8c694fe130dc:1/1$</string>
		<key>textureFileName</key>
		<string>personInfoTalentIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
