<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/popularSupport/TransparentFrame.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,514},{275,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,55}}</string>
			<key>sourceSize</key>
			<string>{275,55}</string>
		</dict>
		<key>images/popularSupport/bigBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{559,396}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{559,396}}</string>
			<key>sourceSize</key>
			<string>{559,396}</string>
		</dict>
		<key>images/popularSupport/bing.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,514},{50,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,71}}</string>
			<key>sourceSize</key>
			<string>{50,71}</string>
		</dict>
		<key>images/popularSupport/itemBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,398},{529,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{529,115}}</string>
			<key>sourceSize</key>
			<string>{529,115}</string>
		</dict>
		<key>images/popularSupport/jia.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,514},{50,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,71}}</string>
			<key>sourceSize</key>
			<string>{50,71}</string>
		</dict>
		<key>images/popularSupport/refresh.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,547},{35,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,32}}</string>
			<key>sourceSize</key>
			<string>{35,32}</string>
		</dict>
		<key>images/popularSupport/refresh2.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,514},{35,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,32}}</string>
			<key>sourceSize</key>
			<string>{35,32}</string>
		</dict>
		<key>images/popularSupport/yi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,514},{50,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,71}}</string>
			<key>sourceSize</key>
			<string>{50,71}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>popularSupport_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{561,586}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9403f8c1a722549044fa78a563a7f649:1/1$</string>
		<key>textureFileName</key>
		<string>popularSupport_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
