<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/provincialExam/a.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,138},{46,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,64}}</string>
			<key>sourceSize</key>
			<string>{46,64}</string>
		</dict>
		<key>images/provincialExam/b.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,138},{46,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,64}}</string>
			<key>sourceSize</key>
			<string>{46,64}</string>
		</dict>
		<key>images/provincialExam/bg.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{611,236}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{611,236}}</string>
			<key>sourceSize</key>
			<string>{611,236}</string>
		</dict>
		<key>images/provincialExam/c.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,138},{46,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,64}}</string>
			<key>sourceSize</key>
			<string>{46,64}</string>
		</dict>
		<key>images/provincialExam/letterBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,41},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>images/provincialExam/onTheWay.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,1},{260,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,39}}</string>
			<key>sourceSize</key>
			<string>{260,39}</string>
		</dict>
		<key>images/provincialExam/titleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,41},{107,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,41}}</string>
			<key>sourceSize</key>
			<string>{107,41}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>provincialExam_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{874,238}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9be4f4cd61ad0ac1c94ed0a11a553588:1/1$</string>
		<key>textureFileName</key>
		<string>provincialExam_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
