<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/pub/Bg_message1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{624,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{624,42}}</string>
			<key>sourceSize</key>
			<string>{624,42}</string>
		</dict>
		<key>images/pub/Frame_external.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,358},{123,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,21}}</string>
			<key>sourceSize</key>
			<string>{123,21}</string>
		</dict>
		<key>images/pub/Pop_message.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,136},{400,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,79}}</string>
			<key>sourceSize</key>
			<string>{400,79}</string>
		</dict>
		<key>images/pub/dihe1.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,216},{167,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,122}}</string>
			<key>sourceSize</key>
			<string>{167,122}</string>
		</dict>
		<key>images/pub/dihe2.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,216},{157,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,124}}</string>
			<key>sourceSize</key>
			<string>{157,124}</string>
		</dict>
		<key>images/pub/dis_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,178},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/pub/dis_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,120},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/pub/dis_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,358},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/pub/dis_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,358},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/pub/dis_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,59},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/pub/dis_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,1},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/pub/dis_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,31},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/pub/dis_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,136},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/pub/dis_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,377},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/pub/double.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,377},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>images/pub/doubleTips.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,1},{271,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{271,29}}</string>
			<key>sourceSize</key>
			<string>{271,29}</string>
		</dict>
		<key>images/pub/gaizi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,284},{175,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,96}}</string>
			<key>sourceSize</key>
			<string>{175,96}</string>
		</dict>
		<key>images/pub/gaizi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,339},{161,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,93}}</string>
			<key>sourceSize</key>
			<string>{161,93}</string>
		</dict>
		<key>images/pub/gaizi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,169},{168,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,114}}</string>
			<key>sourceSize</key>
			<string>{168,114}</string>
		</dict>
		<key>images/pub/gaizi4.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,243},{161,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,114}}</string>
			<key>sourceSize</key>
			<string>{161,114}</string>
		</dict>
		<key>images/pub/gameIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,358},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/pub/gdihe1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,216},{167,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,122}}</string>
			<key>sourceSize</key>
			<string>{167,122}</string>
		</dict>
		<key>images/pub/gdihe2.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,44},{157,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,124}}</string>
			<key>sourceSize</key>
			<string>{157,124}</string>
		</dict>
		<key>images/pub/ggaizi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,146},{175,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,96}}</string>
			<key>sourceSize</key>
			<string>{175,96}</string>
		</dict>
		<key>images/pub/ggaizi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,339},{161,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,93}}</string>
			<key>sourceSize</key>
			<string>{161,93}</string>
		</dict>
		<key>images/pub/ggaizi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,31},{168,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,114}}</string>
			<key>sourceSize</key>
			<string>{168,114}</string>
		</dict>
		<key>images/pub/ggaizi4.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,243},{161,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,114}}</string>
			<key>sourceSize</key>
			<string>{161,114}</string>
		</dict>
		<key>images/pub/infoBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,44},{509,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{509,91}}</string>
			<key>sourceSize</key>
			<string>{509,91}</string>
		</dict>
		<key>images/pub/jiulingBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,341},{165,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,35}}</string>
			<key>sourceSize</key>
			<string>{165,35}</string>
		</dict>
		<key>images/pub/nverhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,89},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/pub/zhuyeqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,136},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>pub_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{997,435}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:795b1b8dce1bc7217ea3513b58cf67bd:1/1$</string>
		<key>textureFileName</key>
		<string>pub_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
