<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/pullBarActivity/01.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,222},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/pullBarActivity/02.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,222},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/pullBarActivity/03.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,141},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/pullBarActivity/04.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,141},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/pullBarActivity/GoodsBtnNomal.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,1},{289,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{289,139}}</string>
			<key>sourceSize</key>
			<string>{289,139}</string>
		</dict>
		<key>images/pullBarActivity/centerBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{468,437}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{468,437}}</string>
			<key>sourceSize</key>
			<string>{468,437}</string>
		</dict>
		<key>images/pullBarActivity/scrollBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,1},{139,388}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,388}}</string>
			<key>sourceSize</key>
			<string>{139,388}</string>
		</dict>
		<key>images/pullBarActivity/see_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,237},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/pullBarActivity/see_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,237},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>images/pullBarActivity/white_rect.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,141},{117,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,95}}</string>
			<key>sourceSize</key>
			<string>{117,95}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>pullBarActivity_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{900,439}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3c95dcf1144c92c27ea64303abe98b3a:1/1$</string>
		<key>textureFileName</key>
		<string>pullBarActivity_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
