<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/realName/font_prove.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{154,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,90}}</string>
			<key>sourceSize</key>
			<string>{154,90}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>realName_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{156,92}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5226d71fde74c92ca90b68e4997ff3ae:1/1$</string>
		<key>textureFileName</key>
		<string>realName_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
