<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/rebels/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,164},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/rebels/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,164},{25,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,12}}</string>
			<key>sourceSize</key>
			<string>{25,12}</string>
		</dict>
		<key>images/rebels/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,166},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/rebels/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,166},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>images/rebels/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{141,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,164}}</string>
			<key>sourceSize</key>
			<string>{141,164}</string>
		</dict>
		<key>images/rebels/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,124},{140,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,115}}</string>
			<key>sourceSize</key>
			<string>{140,115}</string>
		</dict>
		<key>images/rebels/Bth_been_fram.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,187},{130,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,62}}</string>
			<key>sourceSize</key>
			<string>{130,62}</string>
		</dict>
		<key>images/rebels/Bth_down_fram.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,124},{130,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,62}}</string>
			<key>sourceSize</key>
			<string>{130,62}</string>
		</dict>
		<key>images/rebels/bgRebelTypeSelect.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,124},{196,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,39}}</string>
			<key>sourceSize</key>
			<string>{196,39}</string>
		</dict>
		<key>images/rebels/bgRebelsType.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,1},{622,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622,122}}</string>
			<key>sourceSize</key>
			<string>{622,122}</string>
		</dict>
		<key>images/rebels/fontRebelsType1.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,184},{28,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,57}}</string>
			<key>sourceSize</key>
			<string>{28,57}</string>
		</dict>
		<key>images/rebels/fontRebelsType2.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,184},{28,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,57}}</string>
			<key>sourceSize</key>
			<string>{28,57}</string>
		</dict>
		<key>images/rebels/fontRebelsType3.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,124},{30,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,59}}</string>
			<key>sourceSize</key>
			<string>{30,59}</string>
		</dict>
		<key>images/rebels/fontRebelsType4.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,164},{32,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,74}}</string>
			<key>sourceSize</key>
			<string>{32,74}</string>
		</dict>
		<key>images/rebels/fontRebelsType5.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,124},{34,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,73}}</string>
			<key>sourceSize</key>
			<string>{34,73}</string>
		</dict>
		<key>images/rebels/fontRebelsType6.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,164},{34,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,75}}</string>
			<key>sourceSize</key>
			<string>{34,75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>rebels_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{766,250}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:290a9836dc64851c389d642d1f3af4bc:1/1$</string>
		<key>textureFileName</key>
		<string>rebels_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
