<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/recharge/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,347},{140,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,120}}</string>
			<key>sourceSize</key>
			<string>{140,120}</string>
		</dict>
		<key>images/recharge/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,226},{140,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,120}}</string>
			<key>sourceSize</key>
			<string>{140,120}</string>
		</dict>
		<key>images/recharge/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,380},{140,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,120}}</string>
			<key>sourceSize</key>
			<string>{140,120}</string>
		</dict>
		<key>images/recharge/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,380},{140,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,120}}</string>
			<key>sourceSize</key>
			<string>{140,120}</string>
		</dict>
		<key>images/recharge/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,380},{140,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,120}}</string>
			<key>sourceSize</key>
			<string>{140,120}</string>
		</dict>
		<key>images/recharge/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,380},{140,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,120}}</string>
			<key>sourceSize</key>
			<string>{140,120}</string>
		</dict>
		<key>images/recharge/Bg_item.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,1},{173,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,224}}</string>
			<key>sourceSize</key>
			<string>{173,224}</string>
		</dict>
		<key>images/recharge/Bg_top1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,162},{620,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,116}}</string>
			<key>sourceSize</key>
			<string>{620,116}</string>
		</dict>
		<key>images/recharge/Bg_top2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{598,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{598,160}}</string>
			<key>sourceSize</key>
			<string>{598,160}</string>
		</dict>
		<key>images/recharge/Txt_double.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,468},{129,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,31}}</string>
			<key>sourceSize</key>
			<string>{129,31}</string>
		</dict>
		<key>images/recharge/Txt_first.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,330},{545,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{545,31}}</string>
			<key>sourceSize</key>
			<string>{545,31}</string>
		</dict>
		<key>images/recharge/Txt_money.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,226},{24,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,23}}</string>
			<key>sourceSize</key>
			<string>{24,23}</string>
		</dict>
		<key>images/recharge/Txt_vip.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,347},{89,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,36}}</string>
			<key>sourceSize</key>
			<string>{89,36}</string>
		</dict>
		<key>images/recharge/bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,362},{558,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,17}}</string>
			<key>sourceSize</key>
			<string>{558,17}</string>
		</dict>
		<key>images/recharge/bar_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,279},{606,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{606,50}}</string>
			<key>sourceSize</key>
			<string>{606,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>recharge_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{796,501}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5d24f389c224f78813b47f6ece32ef0b:1/1$</string>
		<key>textureFileName</key>
		<string>recharge_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
