<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/rechargeRebate/Progress_long.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,645},{384,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,17}}</string>
			<key>sourceSize</key>
			<string>{384,17}</string>
		</dict>
		<key>images/rechargeRebate/Progress_long_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,617},{405,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{405,27}}</string>
			<key>sourceSize</key>
			<string>{405,27}</string>
		</dict>
		<key>images/rechargeRebate/big.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,1},{270,540}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,540}}</string>
			<key>sourceSize</key>
			<string>{270,540}</string>
		</dict>
		<key>images/rechargeRebate/littleCircle.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,406},{210,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,210}}</string>
			<key>sourceSize</key>
			<string>{210,210}</string>
		</dict>
		<key>images/rechargeRebate/money.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,1},{27,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,14}}</string>
			<key>sourceSize</key>
			<string>{27,14}</string>
		</dict>
		<key>images/rechargeRebate/pandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{315,664}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,664}}</string>
			<key>sourceSize</key>
			<string>{315,664}</string>
		</dict>
		<key>images/rechargeRebate/point.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,1},{109,345}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,345}}</string>
			<key>sourceSize</key>
			<string>{109,345}</string>
		</dict>
		<key>images/rechargeRebate/small.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,1},{202,404}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,404}}</string>
			<key>sourceSize</key>
			<string>{202,404}</string>
		</dict>
		<key>images/rechargeRebate/startBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,506},{158,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,158}}</string>
			<key>sourceSize</key>
			<string>{158,158}</string>
		</dict>
		<key>images/rechargeRebate/startBtn_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,347},{158,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,158}}</string>
			<key>sourceSize</key>
			<string>{158,158}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>rechargeRebate_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{958,666}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ddb72f09dfe064de9b2cec56aae2ad2c:1/1$</string>
		<key>textureFileName</key>
		<string>rechargeRebate_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
