<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/region/124.png</key>
		<dict>
			<key>frame</key>
			<string>{{1007,745},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/SpBg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,589},{610,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,146}}</string>
			<key>sourceSize</key>
			<string>{610,146}</string>
		</dict>
		<key>images/region/SpBg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,442},{610,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,146}}</string>
			<key>sourceSize</key>
			<string>{610,146}</string>
		</dict>
		<key>images/region/SpBg3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,442},{610,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,146}}</string>
			<key>sourceSize</key>
			<string>{610,146}</string>
		</dict>
		<key>images/region/SpBg4.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,295},{610,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,146}}</string>
			<key>sourceSize</key>
			<string>{610,146}</string>
		</dict>
		<key>images/region/SpBgEx1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,295},{610,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,146}}</string>
			<key>sourceSize</key>
			<string>{610,146}</string>
		</dict>
		<key>images/region/SpBgEx2.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,148},{610,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,146}}</string>
			<key>sourceSize</key>
			<string>{610,146}</string>
		</dict>
		<key>images/region/SpBgEx3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,148},{610,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,146}}</string>
			<key>sourceSize</key>
			<string>{610,146}</string>
		</dict>
		<key>images/region/SpBgEx4.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,1},{610,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,146}}</string>
			<key>sourceSize</key>
			<string>{610,146}</string>
		</dict>
		<key>images/region/SpBgEx5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{610,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,146}}</string>
			<key>sourceSize</key>
			<string>{610,146}</string>
		</dict>
		<key>images/region/SpLock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1140,589},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>images/region/SpTongGuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,736},{81,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,65}}</string>
			<key>sourceSize</key>
			<string>{81,65}</string>
		</dict>
		<key>images/region/Txt101.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,823},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt102.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,745},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt103.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,823},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt104.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,745},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt105.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,823},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt106.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,823},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt107.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,745},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt108.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,667},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt109.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,667},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt110.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,667},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt111.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,667},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt112.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,814},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt113.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,589},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt114.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,736},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt115.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,814},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt116.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,589},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt117.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,736},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt118.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,814},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt119.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,589},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt120.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,736},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt121.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,814},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt122.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,589},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt123.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,736},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/Txt124.png</key>
		<dict>
			<key>frame</key>
			<string>{{1007,745},{131,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,77}}</string>
			<key>sourceSize</key>
			<string>{131,77}</string>
		</dict>
		<key>images/region/btnHeart1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1057,823},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,58}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
		<key>images/region/btnHeart2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1140,672},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,58}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>region_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1223,901}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9ac7a07625307dd320ad074a1b7e1aa1:1/1$</string>
		<key>textureFileName</key>
		<string>region_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
