<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/reportIcon/IconFirst.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,60},{31,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,66}}</string>
			<key>sourceSize</key>
			<string>{31,66}</string>
		</dict>
		<key>images/reportIcon/IconHero.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,66},{42,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,22}}</string>
			<key>sourceSize</key>
			<string>{42,22}</string>
		</dict>
		<key>images/reportIcon/bg_pos.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{104,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,120}}</string>
			<key>sourceSize</key>
			<string>{104,120}</string>
		</dict>
		<key>images/reportIcon/bg_team01.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,99},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/reportIcon/bg_team02.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,89},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/reportIcon/font_attack.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,89},{50,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,31}}</string>
			<key>sourceSize</key>
			<string>{50,31}</string>
		</dict>
		<key>images/reportIcon/font_counsellor.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,1},{28,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,64}}</string>
			<key>sourceSize</key>
			<string>{28,64}</string>
		</dict>
		<key>images/reportIcon/font_defence.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,89},{50,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,31}}</string>
			<key>sourceSize</key>
			<string>{50,31}</string>
		</dict>
		<key>images/reportIcon/icon_advicer_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,34},{112,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,25}}</string>
			<key>sourceSize</key>
			<string>{112,25}</string>
		</dict>
		<key>images/reportIcon/icon_team_dir.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,1},{119,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,32}}</string>
			<key>sourceSize</key>
			<string>{119,32}</string>
		</dict>
		<key>images/reportIcon/icon_title_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,60},{67,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,8}}</string>
			<key>sourceSize</key>
			<string>{67,8}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>reportIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{255,127}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fd56bb08ed52afbfa4fd28d257bd2c0e:1/1$</string>
		<key>textureFileName</key>
		<string>reportIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
