<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/richPowerfulVillage/20015.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,625},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/richPowerfulVillage/20016.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,594},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>images/richPowerfulVillage/dice_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,807},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/richPowerfulVillage/dice_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,736},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/richPowerfulVillage/dice_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,665},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/richPowerfulVillage/dice_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,634},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/richPowerfulVillage/dice_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,634},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/richPowerfulVillage/dice_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,594},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/richPowerfulVillage/down.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,526},{128,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,67}}</string>
			<key>sourceSize</key>
			<string>{128,67}</string>
		</dict>
		<key>images/richPowerfulVillage/person.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,526},{396,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{396,359}}</string>
			<key>sourceSize</key>
			<string>{396,359}</string>
		</dict>
		<key>images/richPowerfulVillage/table.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,524}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,524}}</string>
			<key>sourceSize</key>
			<string>{640,524}</string>
		</dict>
		<key>images/richPowerfulVillage/up.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,526},{99,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,107}}</string>
			<key>sourceSize</key>
			<string>{99,107}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>richPowerfulVillage_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{642,886}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8e3922b732044c8cc3f4eae85aab3b8a:1/1$</string>
		<key>textureFileName</key>
		<string>richPowerfulVillage_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
