<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/roleInfo/Bg_cangKu.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,34},{640,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,32}}</string>
			<key>sourceSize</key>
			<string>{640,32}</string>
		</dict>
		<key>images/roleInfo/Bg_cangKu_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,1},{640,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,32}}</string>
			<key>sourceSize</key>
			<string>{640,32}</string>
		</dict>
		<key>images/roleInfo/Bg_cangKu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,34},{640,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,32}}</string>
			<key>sourceSize</key>
			<string>{640,32}</string>
		</dict>
		<key>images/roleInfo/BtnYellow_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,147},{84,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
		<key>images/roleInfo/BtnYellow_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,67},{84,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
		<key>images/roleInfo/IconFighting.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,197},{62,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,24}}</string>
			<key>sourceSize</key>
			<string>{62,24}</string>
		</dict>
		<key>images/roleInfo/IconJing.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,18},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>images/roleInfo/IconLing.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,1},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>images/roleInfo/IconVIP.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,197},{61,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,26}}</string>
			<key>sourceSize</key>
			<string>{61,26}</string>
		</dict>
		<key>images/roleInfo/Top_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,112},{136,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,110}}</string>
			<key>sourceSize</key>
			<string>{136,110}</string>
		</dict>
		<key>images/roleInfo/Top_1_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{136,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,110}}</string>
			<key>sourceSize</key>
			<string>{136,110}</string>
		</dict>
		<key>images/roleInfo/Top_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,112},{533,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{533,84}}</string>
			<key>sourceSize</key>
			<string>{533,84}</string>
		</dict>
		<key>images/roleInfo/btn_get_gold_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{677,147},{136,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,79}}</string>
			<key>sourceSize</key>
			<string>{136,79}</string>
		</dict>
		<key>images/roleInfo/btn_get_gold_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,67},{136,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,79}}</string>
			<key>sourceSize</key>
			<string>{136,79}</string>
		</dict>
		<key>images/roleInfo/flourish_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,197},{206,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,26}}</string>
			<key>sourceSize</key>
			<string>{206,26}</string>
		</dict>
		<key>images/roleInfo/flourish_bg_clicked.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,197},{206,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,26}}</string>
			<key>sourceSize</key>
			<string>{206,26}</string>
		</dict>
		<key>images/roleInfo/head_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,1},{107,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,110}}</string>
			<key>sourceSize</key>
			<string>{107,110}</string>
		</dict>
		<key>images/roleInfo/icon_bar_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,67},{178,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,18}}</string>
			<key>sourceSize</key>
			<string>{178,18}</string>
		</dict>
		<key>images/roleInfo/icon_bar_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,67},{157,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,14}}</string>
			<key>sourceSize</key>
			<string>{157,14}</string>
		</dict>
		<key>images/roleInfo/icon_bar_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,86},{157,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,18}}</string>
			<key>sourceSize</key>
			<string>{157,18}</string>
		</dict>
		<key>images/roleInfo/icon_bar_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,86},{157,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,14}}</string>
			<key>sourceSize</key>
			<string>{157,14}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>roleInfo_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{917,227}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c5f65fef53f12d3cdafc397309c31c07:1/1$</string>
		<key>textureFileName</key>
		<string>roleInfo_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
