<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/setting/000.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,34},{86,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,86}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>images/setting/Bg_basemap2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{604,292}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{604,292}}</string>
			<key>sourceSize</key>
			<string>{604,292}</string>
		</dict>
		<key>images/setting/Bg_circletool.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,144},{142,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,142}}</string>
			<key>sourceSize</key>
			<string>{142,142}</string>
		</dict>
		<key>images/setting/Bg_circular.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,1},{142,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,142}}</string>
			<key>sourceSize</key>
			<string>{142,142}</string>
		</dict>
		<key>images/setting/Txt_game.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,1},{87,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,32}}</string>
			<key>sourceSize</key>
			<string>{87,32}</string>
		</dict>
		<key>images/setting/Txt_notice.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,154},{51,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,27}}</string>
			<key>sourceSize</key>
			<string>{51,27}</string>
		</dict>
		<key>images/setting/Txt_touxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,121},{60,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,32}}</string>
			<key>sourceSize</key>
			<string>{60,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>setting_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{837,294}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:94d2c3b30c3c3289c8138fe3642003fb:1/1$</string>
		<key>textureFileName</key>
		<string>setting_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
