<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/soldierIcon/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,205},{93,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,70}}</string>
			<key>sourceSize</key>
			<string>{93,70}</string>
		</dict>
		<key>images/soldierIcon/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,196},{104,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,79}}</string>
			<key>sourceSize</key>
			<string>{104,79}</string>
		</dict>
		<key>images/soldierIcon/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,195},{106,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,81}}</string>
			<key>sourceSize</key>
			<string>{106,81}</string>
		</dict>
		<key>images/soldierIcon/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,187},{111,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,88}}</string>
			<key>sourceSize</key>
			<string>{111,88}</string>
		</dict>
		<key>images/soldierIcon/105.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,107},{119,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,92}}</string>
			<key>sourceSize</key>
			<string>{119,92}</string>
		</dict>
		<key>images/soldierIcon/201.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,104},{142,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,91}}</string>
			<key>sourceSize</key>
			<string>{142,91}</string>
		</dict>
		<key>images/soldierIcon/202.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,1},{158,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,99}}</string>
			<key>sourceSize</key>
			<string>{158,99}</string>
		</dict>
		<key>images/soldierIcon/203.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,1},{158,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,102}}</string>
			<key>sourceSize</key>
			<string>{158,102}</string>
		</dict>
		<key>images/soldierIcon/204.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,1},{162,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,101}}</string>
			<key>sourceSize</key>
			<string>{162,101}</string>
		</dict>
		<key>images/soldierIcon/205.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{193,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,119}}</string>
			<key>sourceSize</key>
			<string>{193,119}</string>
		</dict>
		<key>images/soldierIcon/301.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,205},{108,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,70}}</string>
			<key>sourceSize</key>
			<string>{108,70}</string>
		</dict>
		<key>images/soldierIcon/302.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,196},{120,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,78}}</string>
			<key>sourceSize</key>
			<string>{120,78}</string>
		</dict>
		<key>images/soldierIcon/303.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,192},{126,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,83}}</string>
			<key>sourceSize</key>
			<string>{126,83}</string>
		</dict>
		<key>images/soldierIcon/304.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,101},{138,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,85}}</string>
			<key>sourceSize</key>
			<string>{138,85}</string>
		</dict>
		<key>images/soldierIcon/305.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,103},{143,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,88}}</string>
			<key>sourceSize</key>
			<string>{143,88}</string>
		</dict>
		<key>images/soldierIcon/401.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,107},{108,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,87}}</string>
			<key>sourceSize</key>
			<string>{108,87}</string>
		</dict>
		<key>images/soldierIcon/402.png</key>
		<dict>
			<key>frame</key>
			<string>{{656,106},{127,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,98}}</string>
			<key>sourceSize</key>
			<string>{127,98}</string>
		</dict>
		<key>images/soldierIcon/403.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,1},{133,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,105}}</string>
			<key>sourceSize</key>
			<string>{133,105}</string>
		</dict>
		<key>images/soldierIcon/404.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,1},{145,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,104}}</string>
			<key>sourceSize</key>
			<string>{145,104}</string>
		</dict>
		<key>images/soldierIcon/405.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,121},{160,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,117}}</string>
			<key>sourceSize</key>
			<string>{160,117}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>soldierIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1013,277}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ded32f7d1dce450abc5b985dd1fd9bc4:1/1$</string>
		<key>textureFileName</key>
		<string>soldierIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
