<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/springActivityIcon/bg.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{620,850}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,850}}</string>
			<key>sourceSize</key>
			<string>{620,850}</string>
		</dict>
		<key>images/springActivityIcon/topbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,852},{620,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,156}}</string>
			<key>sourceSize</key>
			<string>{620,156}</string>
		</dict>
		<key>images/springActivityIcon/x_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,74},{156,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,72}}</string>
			<key>sourceSize</key>
			<string>{156,72}</string>
		</dict>
		<key>images/springActivityIcon/x_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,1},{156,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,72}}</string>
			<key>sourceSize</key>
			<string>{156,72}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>springActivityIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{779,1009}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b849bdb9b283406a5b0e832ba6d04536:1/1$</string>
		<key>textureFileName</key>
		<string>springActivityIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
