<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/springSquib/baozhuJbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,433},{606,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{606,33}}</string>
			<key>sourceSize</key>
			<string>{606,33}</string>
		</dict>
		<key>images/springSquib/baozhuJy.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,467},{566,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{566,27}}</string>
			<key>sourceSize</key>
			<string>{566,27}</string>
		</dict>
		<key>images/springSquib/baozhuX.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,394},{28,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,51}}</string>
			<key>sourceSize</key>
			<string>{28,51}</string>
		</dict>
		<key>images/springSquib/baozhu_jiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,237},{622,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622,156}}</string>
			<key>sourceSize</key>
			<string>{622,156}</string>
		</dict>
		<key>images/springSquib/baozhu_wenziBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,394},{620,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,38}}</string>
			<key>sourceSize</key>
			<string>{620,38}</string>
		</dict>
		<key>images/springSquib/baozhu_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,446},{124,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,48}}</string>
			<key>sourceSize</key>
			<string>{124,48}</string>
		</dict>
		<key>images/springSquib/baozhubg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{622,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622,235}}</string>
			<key>sourceSize</key>
			<string>{622,235}</string>
		</dict>
		<key>images/springSquib/jiazi.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,1},{282,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,103}}</string>
			<key>sourceSize</key>
			<string>{282,103}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>springSquib_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{907,495}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3cad41db34ebf28bead70d4ca033e5f1:1/1$</string>
		<key>textureFileName</key>
		<string>springSquib_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
