<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/task/barbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,1},{557,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,21}}</string>
			<key>sourceSize</key>
			<string>{557,21}</string>
		</dict>
		<key>images/task/barbg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,23},{10,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,19}}</string>
			<key>sourceSize</key>
			<string>{10,19}</string>
		</dict>
		<key>images/task/barexp.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,41},{110,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,17}}</string>
			<key>sourceSize</key>
			<string>{110,17}</string>
		</dict>
		<key>images/task/complete.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{112,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,76}}</string>
			<key>sourceSize</key>
			<string>{112,76}</string>
		</dict>
		<key>images/task/quan.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,1},{41,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,42}}</string>
			<key>sourceSize</key>
			<string>{41,42}</string>
		</dict>
		<key>images/task/showNum.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,44},{3,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,31}}</string>
			<key>sourceSize</key>
			<string>{3,31}</string>
		</dict>
		<key>images/task/sliderPro.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,23},{500,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{500,17}}</string>
			<key>sourceSize</key>
			<string>{500,17}</string>
		</dict>
		<key>images/task/sliderPro2.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,44},{520,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{520,23}}</string>
			<key>sourceSize</key>
			<string>{520,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>task_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{771,78}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:73e2d651bb976f6bdefed48f35bde92a:1/1$</string>
		<key>textureFileName</key>
		<string>task_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
