<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/team/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,44},{26,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,42}}</string>
			<key>sourceSize</key>
			<string>{26,42}</string>
		</dict>
		<key>images/team/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,1},{30,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,42}}</string>
			<key>sourceSize</key>
			<string>{30,42}</string>
		</dict>
		<key>images/team/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,68},{28,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,43}}</string>
			<key>sourceSize</key>
			<string>{28,43}</string>
		</dict>
		<key>images/team/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,68},{31,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,43}}</string>
			<key>sourceSize</key>
			<string>{31,43}</string>
		</dict>
		<key>images/team/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,68},{28,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,43}}</string>
			<key>sourceSize</key>
			<string>{28,43}</string>
		</dict>
		<key>images/team/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,68},{30,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,43}}</string>
			<key>sourceSize</key>
			<string>{30,43}</string>
		</dict>
		<key>images/team/Bg_circle.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,87},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>images/team/IconRhombus.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,67},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>images/team/battlefield.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,68},{44,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,42}}</string>
			<key>sourceSize</key>
			<string>{44,42}</string>
		</dict>
		<key>images/team/beAttacted.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,1},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{63,66}</string>
		</dict>
		<key>images/team/bg_soldiername.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,68},{103,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,42}}</string>
			<key>sourceSize</key>
			<string>{103,42}</string>
		</dict>
		<key>images/team/boss.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,44},{43,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,22}}</string>
			<key>sourceSize</key>
			<string>{43,22}</string>
		</dict>
		<key>images/team/btn_retreat_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,1},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>images/team/btn_retreat_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,1},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>images/team/daily_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,1},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{63,66}</string>
		</dict>
		<key>images/team/daily_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,68},{44,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,42}}</string>
			<key>sourceSize</key>
			<string>{44,42}</string>
		</dict>
		<key>images/team/daily_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,1},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{63,66}</string>
		</dict>
		<key>images/team/daily_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,1},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{63,66}</string>
		</dict>
		<key>images/team/daily_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,1},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{63,66}</string>
		</dict>
		<key>images/team/daily_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,1},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{63,66}</string>
		</dict>
		<key>images/team/daily_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,1},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{63,66}</string>
		</dict>
		<key>images/team/daily_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,1},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{63,66}</string>
		</dict>
		<key>images/team/daily_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{63,66}</string>
		</dict>
		<key>images/team/daily_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,68},{44,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,42}}</string>
			<key>sourceSize</key>
			<string>{44,42}</string>
		</dict>
		<key>images/team/dijunlaixi.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,68},{43,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,42}}</string>
			<key>sourceSize</key>
			<string>{43,42}</string>
		</dict>
		<key>images/team/huangcheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,68},{43,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,42}}</string>
			<key>sourceSize</key>
			<string>{43,42}</string>
		</dict>
		<key>images/team/keju.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,44},{42,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,21}}</string>
			<key>sourceSize</key>
			<string>{42,21}</string>
		</dict>
		<key>images/team/lordcity.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,68},{44,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,42}}</string>
			<key>sourceSize</key>
			<string>{44,42}</string>
		</dict>
		<key>images/team/signUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,68},{44,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,42}}</string>
			<key>sourceSize</key>
			<string>{44,42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>team_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{630,127}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:de237688037d257a7134229d6ce6bcaf:1/1$</string>
		<key>textureFileName</key>
		<string>team_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
