<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/titleIcon/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,227},{77,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,31}}</string>
			<key>sourceSize</key>
			<string>{77,31}</string>
		</dict>
		<key>images/titleIcon/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,130},{78,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,31}}</string>
			<key>sourceSize</key>
			<string>{78,31}</string>
		</dict>
		<key>images/titleIcon/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,98},{78,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,31}}</string>
			<key>sourceSize</key>
			<string>{78,31}</string>
		</dict>
		<key>images/titleIcon/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,195},{78,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,31}}</string>
			<key>sourceSize</key>
			<string>{78,31}</string>
		</dict>
		<key>images/titleIcon/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,66},{77,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,31}}</string>
			<key>sourceSize</key>
			<string>{77,31}</string>
		</dict>
		<key>images/titleIcon/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,163},{78,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,31}}</string>
			<key>sourceSize</key>
			<string>{78,31}</string>
		</dict>
		<key>images/titleIcon/EmperorEnfeoffs.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,1},{154,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,31}}</string>
			<key>sourceSize</key>
			<string>{154,31}</string>
		</dict>
		<key>images/titleIcon/Evolve.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,353},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>images/titleIcon/Intensify.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,387},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/Region.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,387},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/Remould.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,420},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/ZhaoCaiZhuanYun.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,129},{124,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,33}}</string>
			<key>sourceSize</key>
			<string>{124,33}</string>
		</dict>
		<key>images/titleIcon/activity.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,228},{70,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,31}}</string>
			<key>sourceSize</key>
			<string>{70,31}</string>
		</dict>
		<key>images/titleIcon/advanced.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,353},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>images/titleIcon/baogao.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,321},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>images/titleIcon/baojupeiyang.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,163},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/baoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,389},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>images/titleIcon/baozhuyouli.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,65},{124,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,31}}</string>
			<key>sourceSize</key>
			<string>{124,31}</string>
		</dict>
		<key>images/titleIcon/barrack.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,387},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/beibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,292},{72,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,32}}</string>
			<key>sourceSize</key>
			<string>{72,32}</string>
		</dict>
		<key>images/titleIcon/bigStation.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,259},{122,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,31}}</string>
			<key>sourceSize</key>
			<string>{122,31}</string>
		</dict>
		<key>images/titleIcon/bingying.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,357},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>images/titleIcon/bittle.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,194},{121,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,30}}</string>
			<key>sourceSize</key>
			<string>{121,30}</string>
		</dict>
		<key>images/titleIcon/broadSeal.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,260},{122,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,31}}</string>
			<key>sourceSize</key>
			<string>{122,31}</string>
		</dict>
		<key>images/titleIcon/budui.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,420},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/caishifang.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,356},{93,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,31}}</string>
			<key>sourceSize</key>
			<string>{93,31}</string>
		</dict>
		<key>images/titleIcon/caiyuanguangjin.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,333},{122,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,33}}</string>
			<key>sourceSize</key>
			<string>{122,33}</string>
		</dict>
		<key>images/titleIcon/cangku.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,162},{73,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,33}}</string>
			<key>sourceSize</key>
			<string>{73,33}</string>
		</dict>
		<key>images/titleIcon/chuandai.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,357},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>images/titleIcon/collectBless.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,325},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>images/titleIcon/combatCenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,258},{94,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,31}}</string>
			<key>sourceSize</key>
			<string>{94,31}</string>
		</dict>
		<key>images/titleIcon/comment.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,325},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>images/titleIcon/consigliere.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,389},{92,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,32}}</string>
			<key>sourceSize</key>
			<string>{92,32}</string>
		</dict>
		<key>images/titleIcon/consort.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,130},{123,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,32}}</string>
			<key>sourceSize</key>
			<string>{123,32}</string>
		</dict>
		<key>images/titleIcon/cookingwine.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,33},{154,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,31}}</string>
			<key>sourceSize</key>
			<string>{154,31}</string>
		</dict>
		<key>images/titleIcon/cornucopia.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,257},{94,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,31}}</string>
			<key>sourceSize</key>
			<string>{94,31}</string>
		</dict>
		<key>images/titleIcon/country.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,98},{61,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,31}}</string>
			<key>sourceSize</key>
			<string>{61,31}</string>
		</dict>
		<key>images/titleIcon/dayRecharge.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,195},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/dayturntable.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,228},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/dijunlaixi.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,163},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/enfeoffs.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,260},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>images/titleIcon/equiphouse.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,231},{123,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,33}}</string>
			<key>sourceSize</key>
			<string>{123,33}</string>
		</dict>
		<key>images/titleIcon/equipup.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,196},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/famuchang.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,323},{93,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,32}}</string>
			<key>sourceSize</key>
			<string>{93,32}</string>
		</dict>
		<key>images/titleIcon/fengshang.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,260},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>images/titleIcon/fightCap.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,391},{69,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,31}}</string>
			<key>sourceSize</key>
			<string>{69,31}</string>
		</dict>
		<key>images/titleIcon/fightGround.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,388},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/friend.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,323},{71,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,32}}</string>
			<key>sourceSize</key>
			<string>{71,32}</string>
		</dict>
		<key>images/titleIcon/fuguihaozhuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,299},{122,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,33}}</string>
			<key>sourceSize</key>
			<string>{122,33}</string>
		</dict>
		<key>images/titleIcon/gain.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,260},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>images/titleIcon/gongjiangfang.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,291},{93,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,31}}</string>
			<key>sourceSize</key>
			<string>{93,31}</string>
		</dict>
		<key>images/titleIcon/goodUse.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,130},{122,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,32}}</string>
			<key>sourceSize</key>
			<string>{122,32}</string>
		</dict>
		<key>images/titleIcon/guandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,355},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/guanka.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,355},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/hero.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,355},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/heroChoose.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,97},{124,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,32}}</string>
			<key>sourceSize</key>
			<string>{124,32}</string>
		</dict>
		<key>images/titleIcon/huangcheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,228},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>images/titleIcon/information.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,163},{123,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,32}}</string>
			<key>sourceSize</key>
			<string>{123,32}</string>
		</dict>
		<key>images/titleIcon/informationBig.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,130},{123,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,32}}</string>
			<key>sourceSize</key>
			<string>{123,32}</string>
		</dict>
		<key>images/titleIcon/jiangjunfu.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,388},{92,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,32}}</string>
			<key>sourceSize</key>
			<string>{92,32}</string>
		</dict>
		<key>images/titleIcon/jianzao.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,385},{72,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,30}}</string>
			<key>sourceSize</key>
			<string>{72,30}</string>
		</dict>
		<key>images/titleIcon/jiaochang.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,196},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>images/titleIcon/jifenduihuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,400},{123,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,32}}</string>
			<key>sourceSize</key>
			<string>{123,32}</string>
		</dict>
		<key>images/titleIcon/jingJueCity.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,33},{125,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,31}}</string>
			<key>sourceSize</key>
			<string>{125,31}</string>
		</dict>
		<key>images/titleIcon/junduilaba.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,162},{122,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,31}}</string>
			<key>sourceSize</key>
			<string>{122,31}</string>
		</dict>
		<key>images/titleIcon/jungongsuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,356},{92,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,32}}</string>
			<key>sourceSize</key>
			<string>{92,32}</string>
		</dict>
		<key>images/titleIcon/juntuanbangzhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,225},{120,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,31}}</string>
			<key>sourceSize</key>
			<string>{120,31}</string>
		</dict>
		<key>images/titleIcon/kejudianshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,227},{122,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,31}}</string>
			<key>sourceSize</key>
			<string>{122,31}</string>
		</dict>
		<key>images/titleIcon/kekuxiangshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,130},{122,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,31}}</string>
			<key>sourceSize</key>
			<string>{122,31}</string>
		</dict>
		<key>images/titleIcon/legion.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,421},{70,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,30}}</string>
			<key>sourceSize</key>
			<string>{70,30}</string>
		</dict>
		<key>images/titleIcon/legionAdvice.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,291},{93,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,31}}</string>
			<key>sourceSize</key>
			<string>{93,31}</string>
		</dict>
		<key>images/titleIcon/legionCity.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,292},{73,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,32}}</string>
			<key>sourceSize</key>
			<string>{73,32}</string>
		</dict>
		<key>images/titleIcon/legionHall.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,259},{121,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,31}}</string>
			<key>sourceSize</key>
			<string>{121,31}</string>
		</dict>
		<key>images/titleIcon/legionRich.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,194},{120,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,31}}</string>
			<key>sourceSize</key>
			<string>{120,31}</string>
		</dict>
		<key>images/titleIcon/legionShop.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,357},{120,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,32}}</string>
			<key>sourceSize</key>
			<string>{120,32}</string>
		</dict>
		<key>images/titleIcon/legionTask.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,325},{121,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,31}}</string>
			<key>sourceSize</key>
			<string>{121,31}</string>
		</dict>
		<key>images/titleIcon/legshare.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,98},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/liaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,194},{73,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,32}}</string>
			<key>sourceSize</key>
			<string>{73,32}</string>
		</dict>
		<key>images/titleIcon/limit.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,390},{120,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,31}}</string>
			<key>sourceSize</key>
			<string>{120,31}</string>
		</dict>
		<key>images/titleIcon/limitExp.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,33},{123,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,32}}</string>
			<key>sourceSize</key>
			<string>{123,32}</string>
		</dict>
		<key>images/titleIcon/lionTurntable.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,1},{124,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,31}}</string>
			<key>sourceSize</key>
			<string>{124,31}</string>
		</dict>
		<key>images/titleIcon/lordCityRank.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,1},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/lordCityRecord.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,162},{122,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,31}}</string>
			<key>sourceSize</key>
			<string>{122,31}</string>
		</dict>
		<key>images/titleIcon/luoyannaoshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,195},{122,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,31}}</string>
			<key>sourceSize</key>
			<string>{122,31}</string>
		</dict>
		<key>images/titleIcon/nongtian.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,419},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>images/titleIcon/paimingjiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,33},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/parts.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,323},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/partsGod.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,227},{122,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,31}}</string>
			<key>sourceSize</key>
			<string>{122,31}</string>
		</dict>
		<key>images/titleIcon/partsWarehouse.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,197},{123,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,33}}</string>
			<key>sourceSize</key>
			<string>{123,33}</string>
		</dict>
		<key>images/titleIcon/pub.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,259},{74,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,31}}</string>
			<key>sourceSize</key>
			<string>{74,31}</string>
		</dict>
		<key>images/titleIcon/rank.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,98},{92,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,31}}</string>
			<key>sourceSize</key>
			<string>{92,31}</string>
		</dict>
		<key>images/titleIcon/recharge.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,323},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/rechargeRebate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,97},{152,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,31}}</string>
			<key>sourceSize</key>
			<string>{152,31}</string>
		</dict>
		<key>images/titleIcon/recruit.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,323},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/redbag.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,65},{154,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,31}}</string>
			<key>sourceSize</key>
			<string>{154,31}</string>
		</dict>
		<key>images/titleIcon/report.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,356},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/scienceHall.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,323},{93,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,32}}</string>
			<key>sourceSize</key>
			<string>{93,32}</string>
		</dict>
		<key>images/titleIcon/serverGift.png</key>
		<dict>
			<key>frame</key>
			<string>{{677,65},{123,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,32}}</string>
			<key>sourceSize</key>
			<string>{123,32}</string>
		</dict>
		<key>images/titleIcon/setTeam.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,33},{124,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,31}}</string>
			<key>sourceSize</key>
			<string>{124,31}</string>
		</dict>
		<key>images/titleIcon/setting.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,421},{73,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,30}}</string>
			<key>sourceSize</key>
			<string>{73,30}</string>
		</dict>
		<key>images/titleIcon/shijie.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,291},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>images/titleIcon/shimen.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,419},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>images/titleIcon/shop.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,227},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,389},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>images/titleIcon/smashEgg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,163},{123,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,33}}</string>
			<key>sourceSize</key>
			<string>{123,33}</string>
		</dict>
		<key>images/titleIcon/taixueyuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,130},{91,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,32}}</string>
			<key>sourceSize</key>
			<string>{91,32}</string>
		</dict>
		<key>images/titleIcon/task.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,162},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>images/titleIcon/teamChoose.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,97},{124,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,32}}</string>
			<key>sourceSize</key>
			<string>{124,32}</string>
		</dict>
		<key>images/titleIcon/teamInfo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,367},{122,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,32}}</string>
			<key>sourceSize</key>
			<string>{122,32}</string>
		</dict>
		<key>images/titleIcon/teamNew7.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,97},{124,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,32}}</string>
			<key>sourceSize</key>
			<string>{124,32}</string>
		</dict>
		<key>images/titleIcon/tiekuangchang.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,289},{93,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,31}}</string>
			<key>sourceSize</key>
			<string>{93,31}</string>
		</dict>
		<key>images/titleIcon/tjqb.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,65},{124,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,31}}</string>
			<key>sourceSize</key>
			<string>{124,31}</string>
		</dict>
		<key>images/titleIcon/town_king.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,259},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/town_krank.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,292},{121,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,32}}</string>
			<key>sourceSize</key>
			<string>{121,32}</string>
		</dict>
		<key>images/titleIcon/town_rank.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,359},{59,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,31}}</string>
			<key>sourceSize</key>
			<string>{59,31}</string>
		</dict>
		<key>images/titleIcon/town_trade.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,389},{69,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,31}}</string>
			<key>sourceSize</key>
			<string>{69,31}</string>
		</dict>
		<key>images/titleIcon/treasure.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,419},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>images/titleIcon/tujian.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,387},{71,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,31}}</string>
			<key>sourceSize</key>
			<string>{71,31}</string>
		</dict>
		<key>images/titleIcon/vipBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,33},{179,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,31}}</string>
			<key>sourceSize</key>
			<string>{179,31}</string>
		</dict>
		<key>images/titleIcon/vipRebate.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,65},{146,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,31}}</string>
			<key>sourceSize</key>
			<string>{146,31}</string>
		</dict>
		<key>images/titleIcon/warehouse.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,265},{122,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,33}}</string>
			<key>sourceSize</key>
			<string>{122,33}</string>
		</dict>
		<key>images/titleIcon/warehouseBuilding.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,325},{62,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,33}}</string>
			<key>sourceSize</key>
			<string>{62,33}</string>
		</dict>
		<key>images/titleIcon/warlords.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,65},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/warlords2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{183,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,31}}</string>
			<key>sourceSize</key>
			<string>{183,31}</string>
		</dict>
		<key>images/titleIcon/welfare.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,290},{93,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,32}}</string>
			<key>sourceSize</key>
			<string>{93,32}</string>
		</dict>
		<key>images/titleIcon/worldBoss.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,97},{123,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,32}}</string>
			<key>sourceSize</key>
			<string>{123,32}</string>
		</dict>
		<key>images/titleIcon/wujiangup.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,1},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/wuxuejiangtang.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,1},{124,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,31}}</string>
			<key>sourceSize</key>
			<string>{124,31}</string>
		</dict>
		<key>images/titleIcon/xingyunlunpan.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,97},{123,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,32}}</string>
			<key>sourceSize</key>
			<string>{123,32}</string>
		</dict>
		<key>images/titleIcon/yanwuchang.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,66},{92,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,31}}</string>
			<key>sourceSize</key>
			<string>{92,31}</string>
		</dict>
		<key>images/titleIcon/yanwuchangReport.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,1},{154,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,31}}</string>
			<key>sourceSize</key>
			<string>{154,31}</string>
		</dict>
		<key>images/titleIcon/youjian.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,130},{72,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,31}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>images/titleIcon/zhaomu.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,130},{122,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,31}}</string>
			<key>sourceSize</key>
			<string>{122,31}</string>
		</dict>
		<key>images/titleIcon/zhihuiwujiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,33},{123,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,31}}</string>
			<key>sourceSize</key>
			<string>{123,31}</string>
		</dict>
		<key>images/titleIcon/zhubisuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,226},{94,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,31}}</string>
			<key>sourceSize</key>
			<string>{94,31}</string>
		</dict>
		<key>images/titleIcon/zhujun.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,291},{73,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,31}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>titleIcon_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1012,452}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d7bee3f7e6b3f86c12647ca159f4c6cf:1/1$</string>
		<key>textureFileName</key>
		<string>titleIcon_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
