<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/toolbar/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,663},{76,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,96}}</string>
			<key>sourceSize</key>
			<string>{76,96}</string>
		</dict>
		<key>images/toolbar/Bar_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,86}}</string>
			<key>sourceSize</key>
			<string>{640,86}</string>
		</dict>
		<key>images/toolbar/Bg_icon_task.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,543},{231,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,36}}</string>
			<key>sourceSize</key>
			<string>{231,36}</string>
		</dict>
		<key>images/toolbar/Bth_been_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,965},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>images/toolbar/Bth_been_right_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,570},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>images/toolbar/Bth_been_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,846},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>images/toolbar/Bth_down_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,580},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>images/toolbar/Btn_A_Mini_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,449},{109,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,43}}</string>
			<key>sourceSize</key>
			<string>{109,43}</string>
		</dict>
		<key>images/toolbar/Btn_A_Mini_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,406},{109,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,43}}</string>
			<key>sourceSize</key>
			<string>{109,43}</string>
		</dict>
		<key>images/toolbar/Btn_realName_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,538},{78,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,52}}</string>
			<key>sourceSize</key>
			<string>{78,52}</string>
		</dict>
		<key>images/toolbar/Btn_realName_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,365},{78,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,52}}</string>
			<key>sourceSize</key>
			<string>{78,52}</string>
		</dict>
		<key>images/toolbar/Frame_circular.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,749},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>images/toolbar/Icon_Campaign_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,738},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_Campaign_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,588},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_Generals_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,821},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_Generals_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,742},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_Gift.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,822},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>images/toolbar/Icon_Gift_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,715},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>images/toolbar/Icon_Limitedactivity.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,580},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/toolbar/Icon_Limitedactivity1.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,567},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/toolbar/Icon_Research.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,591},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/toolbar/Icon_Research_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,738},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/toolbar/Icon_Socially_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,945},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/Icon_Socially_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,887},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/Icon_WeekCard.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,650},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>images/toolbar/Icon_WeekCard_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,637},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>images/toolbar/Icon_activity.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,510},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/toolbar/Icon_activity1.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,497},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/toolbar/Icon_anabasis.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,811},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/toolbar/Icon_army.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,499},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/toolbar/Icon_bag_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,663},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_bag_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,821},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_build.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,209},{74,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,72}}</string>
			<key>sourceSize</key>
			<string>{74,72}</string>
		</dict>
		<key>images/toolbar/Icon_build_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,817},{74,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,72}}</string>
			<key>sourceSize</key>
			<string>{74,72}</string>
		</dict>
		<key>images/toolbar/Icon_camp.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,286},{116,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,81}}</string>
			<key>sourceSize</key>
			<string>{116,81}</string>
		</dict>
		<key>images/toolbar/Icon_camp_world.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,580},{116,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,82}}</string>
			<key>sourceSize</key>
			<string>{116,82}</string>
		</dict>
		<key>images/toolbar/Icon_charge_activity.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,418},{82,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,70}}</string>
			<key>sourceSize</key>
			<string>{82,70}</string>
		</dict>
		<key>images/toolbar/Icon_charge_activity_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,900},{82,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,70}}</string>
			<key>sourceSize</key>
			<string>{82,70}</string>
		</dict>
		<key>images/toolbar/Icon_chat.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,983},{33,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,29}}</string>
			<key>sourceSize</key>
			<string>{33,29}</string>
		</dict>
		<key>images/toolbar/Icon_chat_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,236},{33,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,29}}</string>
			<key>sourceSize</key>
			<string>{33,29}</string>
		</dict>
		<key>images/toolbar/Icon_command.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,735},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/toolbar/Icon_craftsman.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,591},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/toolbar/Icon_craftsman_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,465},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/toolbar/Icon_fight.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,664},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/toolbar/Icon_force_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,742},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_force_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,663},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,890},{70,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,74}}</string>
			<key>sourceSize</key>
			<string>{70,74}</string>
		</dict>
		<key>images/toolbar/Icon_help_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,934},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/Icon_help_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,876},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/Icon_hotbag.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,570},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>images/toolbar/Icon_hotbag_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,952},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>images/toolbar/Icon_hunttreasure.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,806},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/toolbar/Icon_hunttreasure1.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,806},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/toolbar/Icon_increaseteam.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,437},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/toolbar/Icon_increaseteam1.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,424},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/toolbar/Icon_legion.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,735},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/toolbar/Icon_mail_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,876},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/Icon_mail_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,867},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/Icon_mall.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,882},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/toolbar/Icon_mall1.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,367},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/toolbar/Icon_master.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,280},{58,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,86}}</string>
			<key>sourceSize</key>
			<string>{58,86}</string>
		</dict>
		<key>images/toolbar/Icon_newbuild.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,664},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/toolbar/Icon_notice.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,593},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/toolbar/Icon_notice1.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,593},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>images/toolbar/Icon_package.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,900},{82,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,70}}</string>
			<key>sourceSize</key>
			<string>{82,70}</string>
		</dict>
		<key>images/toolbar/Icon_package1.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,907},{82,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,70}}</string>
			<key>sourceSize</key>
			<string>{82,70}</string>
		</dict>
		<key>images/toolbar/Icon_ranking_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,828},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_ranking_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,280},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_recruit.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,667},{82,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,70}}</string>
			<key>sourceSize</key>
			<string>{82,70}</string>
		</dict>
		<key>images/toolbar/Icon_recruit1.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,515},{82,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,70}}</string>
			<key>sourceSize</key>
			<string>{82,70}</string>
		</dict>
		<key>images/toolbar/Icon_redBag.png</key>
		<dict>
			<key>frame</key>
			<string>{{577,489},{49,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,69}}</string>
			<key>sourceSize</key>
			<string>{49,69}</string>
		</dict>
		<key>images/toolbar/Icon_redBag_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{577,489},{49,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,69}}</string>
			<key>sourceSize</key>
			<string>{49,69}</string>
		</dict>
		<key>images/toolbar/Icon_set_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,809},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/Icon_set_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,751},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/Icon_tactics.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,667},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>images/toolbar/Icon_task.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,241},{302,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,44}}</string>
			<key>sourceSize</key>
			<string>{302,44}</string>
		</dict>
		<key>images/toolbar/Icon_task0.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,79},{144,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,38}}</string>
			<key>sourceSize</key>
			<string>{144,38}</string>
		</dict>
		<key>images/toolbar/Icon_task1.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,971},{35,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,46}}</string>
			<key>sourceSize</key>
			<string>{35,46}</string>
		</dict>
		<key>images/toolbar/Icon_task2.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,543},{48,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,49}}</string>
			<key>sourceSize</key>
			<string>{48,49}</string>
		</dict>
		<key>images/toolbar/Icon_task_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,286},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_task_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,929},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>images/toolbar/Icon_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,905},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/Icon_train.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,282},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/toolbar/Icon_train_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,515},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>images/toolbar/Icon_up_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,693},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/Icon_up_none_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,952},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/Icon_vipSubbly.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,359},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>images/toolbar/Icon_vipSubbly_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,144},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>images/toolbar/Img_realName_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,489},{52,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,20}}</string>
			<key>sourceSize</key>
			<string>{52,20}</string>
		</dict>
		<key>images/toolbar/Img_realName_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,570},{53,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,20}}</string>
			<key>sourceSize</key>
			<string>{53,20}</string>
		</dict>
		<key>images/toolbar/Info_Research.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,925},{46,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,28}}</string>
			<key>sourceSize</key>
			<string>{46,28}</string>
		</dict>
		<key>images/toolbar/Info_Train.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,978},{46,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,28}}</string>
			<key>sourceSize</key>
			<string>{46,28}</string>
		</dict>
		<key>images/toolbar/Progress_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,450},{89,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,14}}</string>
			<key>sourceSize</key>
			<string>{89,14}</string>
		</dict>
		<key>images/toolbar/bg_toolbar_card.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,138},{413,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,99}}</string>
			<key>sourceSize</key>
			<string>{413,99}</string>
		</dict>
		<key>images/toolbar/btn_g_off_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,867},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_g_on_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,954},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_green_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,954},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_green_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,982},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_jungong_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,635},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/btn_jungong_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,840},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>images/toolbar/btn_ld.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,286},{123,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,123}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>images/toolbar/btn_qd.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,780},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>images/toolbar/btn_qd_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,762},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>images/toolbar/btn_retreat_none.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,944},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_retreat_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,945},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_tab_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,410},{128,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,38}}</string>
			<key>sourceSize</key>
			<string>{128,38}</string>
		</dict>
		<key>images/toolbar/btn_tab_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,241},{128,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,38}}</string>
			<key>sourceSize</key>
			<string>{128,38}</string>
		</dict>
		<key>images/toolbar/btn_tx.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,702},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>images/toolbar/btn_tx_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,510},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>images/toolbar/btn_yellow_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,827},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_yellow_off_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,789},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_yellow_off_z.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,751},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_yellow_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,713},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_yellow_on_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,978},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/btn_yellow_on_z.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,623},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>images/toolbar/buildFreeTip.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,992},{47,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,25}}</string>
			<key>sourceSize</key>
			<string>{47,25}</string>
		</dict>
		<key>images/toolbar/guide_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,454},{280,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,88}}</string>
			<key>sourceSize</key>
			<string>{280,88}</string>
		</dict>
		<key>images/toolbar/help.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,427},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>images/toolbar/help2.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,355},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>images/toolbar/icon_boom_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,368},{132,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,37}}</string>
			<key>sourceSize</key>
			<string>{132,37}</string>
		</dict>
		<key>images/toolbar/icon_flag_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,760},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>images/toolbar/icon_flag_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,663},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>images/toolbar/icon_ld.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,138},{307,315}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{307,315}}</string>
			<key>sourceSize</key>
			<string>{307,315}</string>
		</dict>
		<key>images/toolbar/icon_queue_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,238},{432,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{432,2}}</string>
			<key>sourceSize</key>
			<string>{432,2}</string>
		</dict>
		<key>images/toolbar/imgArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,183},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>images/toolbar/imgChatBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,88},{640,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,49}}</string>
			<key>sourceSize</key>
			<string>{640,49}</string>
		</dict>
		<key>images/toolbar/img_sjdj.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,493},{151,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,21}}</string>
			<key>sourceSize</key>
			<string>{151,21}</string>
		</dict>
		<key>images/toolbar/jj_bj1.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,971},{71,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,48}}</string>
			<key>sourceSize</key>
			<string>{71,48}</string>
		</dict>
		<key>images/toolbar/jj_bj2.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,971},{71,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,48}}</string>
			<key>sourceSize</key>
			<string>{71,48}</string>
		</dict>
		<key>images/toolbar/jj_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,454},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>images/toolbar/jj_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,687},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>images/toolbar/jj_j.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,992},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
		<key>images/toolbar/jj_q.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,661},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>images/toolbar/jj_x.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,635},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>images/toolbar/mail.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,898},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>images/toolbar/mail_ck.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,898},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>images/toolbar/notice.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,1},{198,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,77}}</string>
			<key>sourceSize</key>
			<string>{198,77}</string>
		</dict>
		<key>images/toolbar/number_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,1},{9,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,20}}</string>
			<key>sourceSize</key>
			<string>{9,20}</string>
		</dict>
		<key>images/toolbar/toolbarBtnActivity.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,118},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>images/toolbar/toolbarBtnActivityDown.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,79},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>toolbar_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{851,1020}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:498a25e687879e26074ef631ddebbdb7:1/1$</string>
		<key>textureFileName</key>
		<string>toolbar_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
