<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/unlock/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,377},{155,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,47}}</string>
			<key>sourceSize</key>
			<string>{155,47}</string>
		</dict>
		<key>images/unlock/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,49},{226,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,47}}</string>
			<key>sourceSize</key>
			<string>{226,47}</string>
		</dict>
		<key>images/unlock/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,97},{155,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,47}}</string>
			<key>sourceSize</key>
			<string>{155,47}</string>
		</dict>
		<key>images/unlock/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,49},{155,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,47}}</string>
			<key>sourceSize</key>
			<string>{155,47}</string>
		</dict>
		<key>images/unlock/21.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,241},{154,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,47}}</string>
			<key>sourceSize</key>
			<string>{154,47}</string>
		</dict>
		<key>images/unlock/22.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,231},{226,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,48}}</string>
			<key>sourceSize</key>
			<string>{226,48}</string>
		</dict>
		<key>images/unlock/24.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,425},{153,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,47}}</string>
			<key>sourceSize</key>
			<string>{153,47}</string>
		</dict>
		<key>images/unlock/25.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,223},{154,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,47}}</string>
			<key>sourceSize</key>
			<string>{154,47}</string>
		</dict>
		<key>images/unlock/27.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,279},{190,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,48}}</string>
			<key>sourceSize</key>
			<string>{190,48}</string>
		</dict>
		<key>images/unlock/28.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,328},{155,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,48}}</string>
			<key>sourceSize</key>
			<string>{155,48}</string>
		</dict>
		<key>images/unlock/29.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,328},{219,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,48}}</string>
			<key>sourceSize</key>
			<string>{219,48}</string>
		</dict>
		<key>images/unlock/30.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,377},{153,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,47}}</string>
			<key>sourceSize</key>
			<string>{153,47}</string>
		</dict>
		<key>images/unlock/31.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,1},{227,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,47}}</string>
			<key>sourceSize</key>
			<string>{227,47}</string>
		</dict>
		<key>images/unlock/32.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,377},{153,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,47}}</string>
			<key>sourceSize</key>
			<string>{153,47}</string>
		</dict>
		<key>images/unlock/33.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,231},{226,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,47}}</string>
			<key>sourceSize</key>
			<string>{226,47}</string>
		</dict>
		<key>images/unlock/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,175},{155,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,47}}</string>
			<key>sourceSize</key>
			<string>{155,47}</string>
		</dict>
		<key>images/unlock/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,280},{226,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,47}}</string>
			<key>sourceSize</key>
			<string>{226,47}</string>
		</dict>
		<key>images/unlock/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,193},{154,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,47}}</string>
			<key>sourceSize</key>
			<string>{154,47}</string>
		</dict>
		<key>images/unlock/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,1},{190,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,47}}</string>
			<key>sourceSize</key>
			<string>{190,47}</string>
		</dict>
		<key>images/unlock/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,145},{154,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,47}}</string>
			<key>sourceSize</key>
			<string>{154,47}</string>
		</dict>
		<key>images/unlock/Bg_middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{511,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{511,229}}</string>
			<key>sourceSize</key>
			<string>{511,229}</string>
		</dict>
		<key>images/unlock/SPIconBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,377},{107,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,107}}</string>
			<key>sourceSize</key>
			<string>{107,107}</string>
		</dict>
		<key>images/unlock/Txt_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,425},{100,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,65}}</string>
			<key>sourceSize</key>
			<string>{100,65}</string>
		</dict>
		<key>images/unlock/Txt_opened.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,97},{159,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,77}}</string>
			<key>sourceSize</key>
			<string>{159,77}</string>
		</dict>
		<key>images/unlock/icon_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{879,373},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,373},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,381},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,381},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,289},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,289},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,363},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,371},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,271},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,279},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,281},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,281},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,281},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,189},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,185},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,93},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,97},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>images/unlock/icon_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,1},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>unlock_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{1024,491}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8421757c4b89650a18c8fe15db0e1419:1/1$</string>
		<key>textureFileName</key>
		<string>unlock_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
