<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/vipBox/VIP.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{620,583}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,583}}</string>
			<key>sourceSize</key>
			<string>{620,583}</string>
		</dict>
		<key>images/vipBox/jin1.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,863},{270,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,81}}</string>
			<key>sourceSize</key>
			<string>{270,81}</string>
		</dict>
		<key>images/vipBox/jin2.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,744},{270,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,97}}</string>
			<key>sourceSize</key>
			<string>{270,97}</string>
		</dict>
		<key>images/vipBox/jin3.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,585},{270,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,158}}</string>
			<key>sourceSize</key>
			<string>{270,158}</string>
		</dict>
		<key>images/vipBox/jin4.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,361},{178,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,179}}</string>
			<key>sourceSize</key>
			<string>{178,179}</string>
		</dict>
		<key>images/vipBox/tong1.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,842},{270,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,81}}</string>
			<key>sourceSize</key>
			<string>{270,81}</string>
		</dict>
		<key>images/vipBox/tong2.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,683},{270,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,97}}</string>
			<key>sourceSize</key>
			<string>{270,97}</string>
		</dict>
		<key>images/vipBox/tong3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,744},{270,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,158}}</string>
			<key>sourceSize</key>
			<string>{270,158}</string>
		</dict>
		<key>images/vipBox/tong4.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,181},{178,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,179}}</string>
			<key>sourceSize</key>
			<string>{178,179}</string>
		</dict>
		<key>images/vipBox/yin1.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,781},{270,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,81}}</string>
			<key>sourceSize</key>
			<string>{270,81}</string>
		</dict>
		<key>images/vipBox/yin2.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,585},{270,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,97}}</string>
			<key>sourceSize</key>
			<string>{270,97}</string>
		</dict>
		<key>images/vipBox/yin3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,585},{270,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,158}}</string>
			<key>sourceSize</key>
			<string>{270,158}</string>
		</dict>
		<key>images/vipBox/yin4.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,1},{178,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,179}}</string>
			<key>sourceSize</key>
			<string>{178,179}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>vipBox_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{814,945}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bb91355e270bc77a0d71a35abdf9d1be:1/1$</string>
		<key>textureFileName</key>
		<string>vipBox_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
