<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/vipRebate/SpBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,445},{487,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{487,291}}</string>
			<key>sourceSize</key>
			<string>{487,291}</string>
		</dict>
		<key>images/vipRebate/SpTitleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,737},{487,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{487,121}}</string>
			<key>sourceSize</key>
			<string>{487,121}</string>
		</dict>
		<key>images/vipRebate/jinri.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,859},{119,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,23}}</string>
			<key>sourceSize</key>
			<string>{119,23}</string>
		</dict>
		<key>images/vipRebate/leiji.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,859},{119,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,23}}</string>
			<key>sourceSize</key>
			<string>{119,23}</string>
		</dict>
		<key>images/vipRebate/vipRabateBang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{575,443}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{575,443}}</string>
			<key>sourceSize</key>
			<string>{575,443}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>vipRebate_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{577,883}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e6e89fb61b9519b5628084ab0aea1885:1/1$</string>
		<key>textureFileName</key>
		<string>vipRebate_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
