<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/vipSupply/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{596,311}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{596,311}}</string>
			<key>sourceSize</key>
			<string>{596,311}</string>
		</dict>
		<key>images/vipSupply/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,313},{69,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,38}}</string>
			<key>sourceSize</key>
			<string>{69,38}</string>
		</dict>
		<key>images/vipSupply/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,313},{69,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,38}}</string>
			<key>sourceSize</key>
			<string>{69,38}</string>
		</dict>
		<key>images/vipSupply/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,392},{25,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,12}}</string>
			<key>sourceSize</key>
			<string>{25,12}</string>
		</dict>
		<key>images/vipSupply/13.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,313},{62,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>images/vipSupply/14.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,315},{78,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,37}}</string>
			<key>sourceSize</key>
			<string>{78,37}</string>
		</dict>
		<key>images/vipSupply/15.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,277},{78,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,37}}</string>
			<key>sourceSize</key>
			<string>{78,37}</string>
		</dict>
		<key>images/vipSupply/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,377},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>images/vipSupply/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,392},{506,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{506,13}}</string>
			<key>sourceSize</key>
			<string>{506,13}</string>
		</dict>
		<key>images/vipSupply/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,378},{514,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{514,13}}</string>
			<key>sourceSize</key>
			<string>{514,13}</string>
		</dict>
		<key>images/vipSupply/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,277},{111,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,99}}</string>
			<key>sourceSize</key>
			<string>{111,99}</string>
		</dict>
		<key>images/vipSupply/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,313},{104,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,92}}</string>
			<key>sourceSize</key>
			<string>{104,92}</string>
		</dict>
		<key>images/vipSupply/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,313},{69,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,38}}</string>
			<key>sourceSize</key>
			<string>{69,38}</string>
		</dict>
		<key>images/vipSupply/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,313},{69,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,38}}</string>
			<key>sourceSize</key>
			<string>{69,38}</string>
		</dict>
		<key>images/vipSupply/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,353},{69,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,38}}</string>
			<key>sourceSize</key>
			<string>{69,38}</string>
		</dict>
		<key>images/vipSupply/guide_rw.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,1},{207,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,275}}</string>
			<key>sourceSize</key>
			<string>{207,275}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>vipSupply_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{806,406}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:de9a0896aafe4fd9d1ad814260b08903:1/1$</string>
		<key>textureFileName</key>
		<string>vipSupply_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
