<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/warlords/Fighting_adse.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,164},{206,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,57}}</string>
			<key>sourceSize</key>
			<string>{206,57}</string>
		</dict>
		<key>images/warlords/Fighting_force.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,222},{54,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,33}}</string>
			<key>sourceSize</key>
			<string>{54,33}</string>
		</dict>
		<key>images/warlords/img1.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,1},{379,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{379,162}}</string>
			<key>sourceSize</key>
			<string>{379,162}</string>
		</dict>
		<key>images/warlords/img2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{500,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{500,284}}</string>
			<key>sourceSize</key>
			<string>{500,284}</string>
		</dict>
		<key>images/warlords/img3.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,222},{142,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,89}}</string>
			<key>sourceSize</key>
			<string>{142,89}</string>
		</dict>
		<key>images/warlords/teamNew19.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,164},{212,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,148}}</string>
			<key>sourceSize</key>
			<string>{212,148}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>warlords_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{922,313}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:59eca9935e23d23e419d4b030ae1b71a:1/1$</string>
		<key>textureFileName</key>
		<string>warlords_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
