<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/worldBoss/HpBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,461},{315,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,40}}</string>
			<key>sourceSize</key>
			<string>{315,40}</string>
		</dict>
		<key>images/worldBoss/activity_txt.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,649},{147,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,28}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>images/worldBoss/bg_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{567,358}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{567,358}}</string>
			<key>sourceSize</key>
			<string>{567,358}</string>
		</dict>
		<key>images/worldBoss/bg_info.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,496},{402,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,45}}</string>
			<key>sourceSize</key>
			<string>{402,45}</string>
		</dict>
		<key>images/worldBoss/bg_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,751},{620,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,9}}</string>
			<key>sourceSize</key>
			<string>{620,9}</string>
		</dict>
		<key>images/worldBoss/bg_talk.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,439},{153,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,86}}</string>
			<key>sourceSize</key>
			<string>{153,86}</string>
		</dict>
		<key>images/worldBoss/blackHp.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,782},{295,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,29}}</string>
			<key>sourceSize</key>
			<string>{295,29}</string>
		</dict>
		<key>images/worldBoss/boss_Btn_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,139},{135,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,137}}</string>
			<key>sourceSize</key>
			<string>{135,137}</string>
		</dict>
		<key>images/worldBoss/boss_Btn_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,1},{135,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,137}}</string>
			<key>sourceSize</key>
			<string>{135,137}</string>
		</dict>
		<key>images/worldBoss/boss_attackBtn_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,207},{144,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,205}}</string>
			<key>sourceSize</key>
			<string>{144,205}</string>
		</dict>
		<key>images/worldBoss/boss_attackBtn_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,207},{144,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,205}}</string>
			<key>sourceSize</key>
			<string>{144,205}</string>
		</dict>
		<key>images/worldBoss/boss_bottomBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,633},{640,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,96}}</string>
			<key>sourceSize</key>
			<string>{640,96}</string>
		</dict>
		<key>images/worldBoss/boss_inspireBtn_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,1},{144,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,205}}</string>
			<key>sourceSize</key>
			<string>{144,205}</string>
		</dict>
		<key>images/worldBoss/boss_inspireBtn_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,1},{144,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,205}}</string>
			<key>sourceSize</key>
			<string>{144,205}</string>
		</dict>
		<key>images/worldBoss/bossname_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,409},{132,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,29}}</string>
			<key>sourceSize</key>
			<string>{132,29}</string>
		</dict>
		<key>images/worldBoss/drumRack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,580},{149,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,68}}</string>
			<key>sourceSize</key>
			<string>{149,68}</string>
		</dict>
		<key>images/worldBoss/formationBtn_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,649},{143,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,68}}</string>
			<key>sourceSize</key>
			<string>{143,68}</string>
		</dict>
		<key>images/worldBoss/formationBtn_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,580},{143,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,68}}</string>
			<key>sourceSize</key>
			<string>{143,68}</string>
		</dict>
		<key>images/worldBoss/greenHp.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,730},{455,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,20}}</string>
			<key>sourceSize</key>
			<string>{455,20}</string>
		</dict>
		<key>images/worldBoss/headIconImg.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,526},{542,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{542,106}}</string>
			<key>sourceSize</key>
			<string>{542,106}</string>
		</dict>
		<key>images/worldBoss/hurtBtn_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,730},{170,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,51}}</string>
			<key>sourceSize</key>
			<string>{170,51}</string>
		</dict>
		<key>images/worldBoss/hurtBtn_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,718},{170,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,51}}</string>
			<key>sourceSize</key>
			<string>{170,51}</string>
		</dict>
		<key>images/worldBoss/nameBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,413},{320,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,47}}</string>
			<key>sourceSize</key>
			<string>{320,47}</string>
		</dict>
		<key>images/worldBoss/name_kill.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,360},{58,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,52}}</string>
			<key>sourceSize</key>
			<string>{58,52}</string>
		</dict>
		<key>images/worldBoss/redHp.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,791},{455,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,20}}</string>
			<key>sourceSize</key>
			<string>{455,20}</string>
		</dict>
		<key>images/worldBoss/titleBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,542},{296,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296,37}}</string>
			<key>sourceSize</key>
			<string>{296,37}</string>
		</dict>
		<key>images/worldBoss/txt_attack.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,349},{108,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,59}}</string>
			<key>sourceSize</key>
			<string>{108,59}</string>
		</dict>
		<key>images/worldBoss/txt_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,360},{495,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{495,135}}</string>
			<key>sourceSize</key>
			<string>{495,135}</string>
		</dict>
		<key>images/worldBoss/txt_hurt.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,542},{102,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,33}}</string>
			<key>sourceSize</key>
			<string>{102,33}</string>
		</dict>
		<key>images/worldBoss/txt_inspir.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,277},{108,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,71}}</string>
			<key>sourceSize</key>
			<string>{108,71}</string>
		</dict>
		<key>images/worldBoss/yellowHp.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,770},{455,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,20}}</string>
			<key>sourceSize</key>
			<string>{455,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>worldBoss_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{995,814}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2a2d3611ca651da21bb43bd7027f9fed:1/1$</string>
		<key>textureFileName</key>
		<string>worldBoss_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
