<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>images/loader/Bg_bar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,77},{568,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,33}}</string>
			<key>sourceSize</key>
			<string>{568,33}</string>
		</dict>
		<key>images/loader/Bg_bar2.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,111},{533,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{533,22}}</string>
			<key>sourceSize</key>
			<string>{533,22}</string>
		</dict>
		<key>images/loader/Bg_warn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{640,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,75}}</string>
			<key>sourceSize</key>
			<string>{640,75}</string>
		</dict>
		<key>images/loader/Icon_bar3.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,1},{15,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,31}}</string>
			<key>sourceSize</key>
			<string>{15,31}</string>
		</dict>
		<key>images/loader/Text_loading.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,77},{190,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,40}}</string>
			<key>sourceSize</key>
			<string>{190,40}</string>
		</dict>
		<key>images/loader/none.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,118},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>loader_ui_resouce_big_0.pvr.ccz</string>
		<key>size</key>
		<string>{761,134}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:997374dc55e8b9a27c1809369dcfaadd:1/1$</string>
		<key>textureFileName</key>
		<string>loader_ui_resouce_big_0.pvr.ccz</string>
	</dict>
</dict>
</plist>
